﻿@model WebMMO.Web.Areas.Home.Models.LoginModel
@{
    ViewBag.Title = "Base Login";
    Layout = "~/Views/Shared/_LayoutForGuest.cshtml";
}
<div class="container">
    <div class="jumbotron main_content_ha">
        <div class="main-ha-banner">
            <div class="container ">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">

                        <div class="x_header">
                            <h3>Login</h3>
                        </div>
                        <div class="x_panel">
                            @using (Html.BeginForm("Login", "Account", new { area = "Home" }))
                            {
                            <div class="x_content">
                                <br />
                                <div class="form-group has-feedback">
                                    @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email", onblur = "if(this.value == '') { this.placeholder='Email'}", onfocus = "if (this.placeholder == 'Email') {this.placeholder=''}", @class = "form-control has-feedback-left", @size = 40, @maxlength = 40 })
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    <div class="login_text">
                                        @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "txtNormalRed" })
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", onblur = "if(this.value == '') { this.placeholder='Password'}", onfocus = "if (this.placeholder == 'Password') {this.placeholder=''}", @class = "form-control has-feedback-left", @size = 40, @maxlength = 40 })
                                    <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                                    <div class="login_text">
                                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "txtNormalRed" })
                                    </div>
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn-block btn-danger btn-round btn-lg pull-right" />
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
