/* Common Tag */

html, body {	height:100%; min-height: 100% ;
	color:#707070; font-family: "Open Sans"; max-width: 100%; margin: 0px;
	background-color: #2E75B5; background: url('../images/bg-repeat.jpg') repeat-y top left;
}
p {
	font-size: 14px;
	color: #3c494b;
}
h1, h2, h3, h4, h5, h6 {}
h1 {
	color: #000000;
	font-size: 38px;
	font-weight: 600;
	margin: 0;
}
h2 {margin: 0;}
h3 {
	color: #3c494b;
	font-size: 22px;
	font-weight: 400;
	margin: 0;
}
h4 {margin: 0;}
h5 {margin: 0;}
h6 {margin: 0;}
strong, b {}
em, i {}
a { text-decoration:none;}
a:hover { color:#FFCA6E;}
ul, ol {}
hr { margin:0; padding:0; border:0; border-bottom:1px solid #ddd; }
input, textarea, select { font-family: "Open Sans"; font-size:13px; border:1px solid #eee; }
.clear { clear:both; }

/* Fonts */

@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_700-webfont.woff') format('woff'),
         url('../fonts/museosans_700-webfont.ttf') format('truetype'),
         url('../fonts/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans-300-webfont.eot');
    src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype'),
         url('../fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans');
/* Main */


.user {
	float: right;
	position: relative;
	height: 50px;
	padding: 0;
	font-family: "Open Sans";
}

.user img {
	float: left;
}

.user h1 {
	color: #686868;
	font: 14px "Open Sans";
	font-weight: bold;
	float: left;
	padding-top: 0;
}

.user h2 {
	font-size: 13px;
	font-weight: 600;
	float: left;
	margin: 0.5em 0.2em 0.7em 0.7em;
	color: #686868;
}

.user h2 a {
	text-decoration: none;
		color: #686868;
}

.user a img {
	padding: 0.7em 0.3em 0.7em 0.7em;
}

.icon-top {
	padding-top: 10px;
	float: left;
}



.credit {
	float: right;
	position: relative;
	margin:	0px;
	color: #ffffff;
	font-size: 13px;
	margin:0;
	padding: 3px 0px 0px;
}

.credit_textwrap {
	color: #ffffff;
	font-size: 13px;
	float: left;
	padding-top: 10px;
}

.credit_textwrap a {
	color: #57dada;
	text-decoration: none;
	padding-left: 3px;
	float: right;
}

.credit_balance {
	background-color: #ed5565;
	border-radius: 5px;
	padding: 4px;
	margin: 0.5em;
	width: 40px;
	float: left;
	color: #ffffff;
	text-align: center;
}

.dropmenu{
	padding: 3px;
}





.selector-style {
	float: left;
}

.selector-style select {
	border: 1px solid #dddddd !important;  /*Removes border*/
	border-radius: 15px;
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
	     -moz-appearance: none;  /*Removes default style Firefox*/
	background: url('../images/arrow-selector.png') 182px 0px no-repeat #ffffff;
	width: 220px;
	height: 46px;
	text-indent: 0.3px;
	text-overflow: "";
	padding-left: 12px;
	font-weight: 500;
	font-size: 15px;
	color: #858585;
	-moz-box-shadow: 0 4px rgba(71, 71, 71, 0.41);
	box-shadow: 0 4px rgba(71, 71, 71, 0.41);
	outline: none;
	margin: 10px;
}

.selector-style2 select {
	border: 1px solid #dddddd !important;  /*Removes border*/
	border-radius: 5px;
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
	     -moz-appearance: none;  /*Removes default style Firefox*/
	background: url('../images/arrow-selector.png') 182px 0px no-repeat #ffffff;
	background-size: contain;
	width: 210px;
	height: 35px;
	text-indent: 0.3px;
	text-overflow: "";
	padding-left: 22px;
	font-weight: 600;
	font-size: 13px;
	color: #393939;
	-moz-box-shadow: 0 3px rgba(71, 71, 71, 0.31);
	box-shadow: 0 3px rgba(71, 71, 71, 0.31);
	outline: none;
	margin: 10px;
}

.search-title {
	font-size: 30px !important;
	font-weight: 400;
	color: #146060;
	margin: 0px !important;
}

.search-result {
	font-size: 24px !important;
	font-weight: 200;
	color: #146060;
	margin: 0px !important;
}

.search_bar {
	border: 1px solid #eee;
}

.search_box_wrap {
	clear: both;
	width: 50%; /* 1000px / 1250px */
	font-size: 0.8125em; /* 13 / 16 */
	min-width: 1000px;
	margin: 0 auto;
	padding: 11em 0px;

	color: #333;
	line-height: 1.5em;
	position: relative;
	z-index: 100;
	text-align: center;
	position: relative;
}

.search_box_wrap h1 {
	color: #ffffff;
	font: 38px "Open Sans";
	font-weight: 700;
	text-shadow: 1px 1px 2px #000000;
	margin-bottom: 0.2em;
}

.search_box_wrap p {
	color: #ffffff;
	font: 22px "Open Sans";
	text-shadow: 1px 1px 2px #000000;
	margin-bottom: 2em;
	font-weight: 300;
}

.search_field_wrap {
	margin-left: 150px;
	background-color: #a612a0;
}

.search_field_wrapper {
	margin: 40px auto 0;
	width: 800px;
}

.search_box_inside {
	float: left;
	width: 470px;
	margin: 0 auto;
	font-family: "Open Sans";
	font-size: 22px;
	color: #686;
	padding: 25px 25px 25px 35px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	-moz-box-shadow: 0 7px rgba(0, 0, 0, 0.35);
	box-shadow: 0 7px rgba(0, 0, 0, 0.35);
}

.search_box_advanced {
	width: 600px;
	margin: 0 auto 30px;
	font-family: "Open Sans";
	font-size: 18px;
	color: #686;
	padding: 15px 25px 15px 35px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	-moz-box-shadow: 0 7px rgba(0, 0, 0, 0.35);
	box-shadow: 0 7px rgba(0, 0, 0, 0.35);
}

.refine-box {
	float: left;
	width: 231px;
	display: block;
	clear: both;
	border: 1px solid #bfbfbf;
	padding-bottom: 15px;;
	margin-right: 30px;
}

.refine-input {
	width: 186px;
	height: 30px;
	margin: 10px auto 5px;
	display: block;
	border-radius: 5px;
	border: 1px solid #cecece;
	padding-left: 20px;
}

.refine-box .title {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #30353d;
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	padding-left: 11px;
	margin-bottom: 0px !important;
}

.glowing-border {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    transition: .3s;
 }

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    -moz-box-shadow: 0 7px rgba(0, 0, 0, 0.35);
    box-shadow: 0 7px rgba(0, 0, 0, 0.35);
}

.glowing-border2 {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    transition: .3s;
 }

.glowing-border2:focus { 
    outline: none;
    border-color: #9ecaed;
}


.btn-red {
	background-color: #ed5565;
	box-shadow: 0 3px 0 #bc4350;
	-moz-box-shadow: 0 3px 0 #bc4350;
}

.btn-blue {
	background-color: #54c5ed;
	box-shadow: 0 3px #42a2bc;
	-moz-box-shadow: 0 3px #42a2bc;
}

.btn-verify {
	background-color: #12adad;
	padding: 8px 18px;
	margin-left: -5px;
	border: 1px solid #cdcdcd; 
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}

.btn-verify:hover {
	background-color: #13a6a6;
}

.center_element {
	margin: 0 auto;
	display: block;
	width: 300px;
}



.banner_content_wrap {
	display: block;
	margin: 0 auto;
	width: 980px;
	height: 400px;
	margin-top: 80px;

}

.center_content2 {
	display: block;
	margin: 0 auto;
	width: 980px;
	height: 400px;
	margin-top: 90px;
	padding-left: 40px;
}


.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }




/* Background Content */

#home article { background: url("../images/search.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 400px; width: 100%; }
#about article { background: url("../images/parallax.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }
#about article { background: url("../images/parallax.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }

/* Class */

.content { width:980px; margin: 1px auto 0; text-align:center; padding:0px 0; background: #f5f5f5 url('../images/mobile_hve.jpg') no-repeat left fixed top;
}
.content p {
	font: italic 18px "Open Sans";
	margin-top: 20px;
	color: #3c494b;
	font-weight: 300;
}
.content_left { width:60%; float:left; padding:10px 0 0 0; margin-top: 1em;
	margin-left: 10px; text-align: left;
}

.content_left h2 {
	width: 730px;
	font: 36px "Open Sans";
	background-color: #2f3333;
	padding: 10px;
	font-weight: 600;
}

.content_left .pu_h3 h1 {
	width: 650px;
	font: 36px "Open Sans";
	background-color: #2f3333;
	padding: 5px 10px 8px 15px;
	font-weight: 600;
	color: #ffffff;
}


.content_left h4 {
	font: 24px "Open Sans";
	text-shadow: 2px 2px 2px #000000;
	font-weight: 300;
	line-height: 34px;
	letter-spacing: 1px;
	font-weight: 300;
	letter-spacing: 1px;
}

.content_left2 { width:600px; float:left; padding:10px 0 0 0; margin-top: 1em; margin-left:10px	;
	text-align: left; }

.content_left2 h2 {

	width: 720px;
	font: 36px "Open Sans";
	background-color: #e03c4d;
	padding: 5px 8px 8px;
	font-weight: 600;
	

}

.content_left2 h4 {
	font: 24px "Open Sans";
	text-shadow: 2px 2px 2px #000000;
	font-weight: 300;
	letter-spacing: 1px;
}

.planbtn_container {
	padding-top: 20px;
}

.content_right { width:470px; float:right; }
.content h1 { font-family:"Open Sans"; color:#3c494b; font-size:38px; font-weight: 700; padding-top: 20px; }
.content h2 { font-family:"Open Sans"; color: #ffffff; font-size:36px; padding-top:0px; }
.content h3 { font-family:"Open Sans"; color:#3c424b; font-size:22px; padding:15px 0 0 5px; line-height:35px; font-weight: 300;}
.content h4 { font-family:"Open Sans"; color: #ffffff; font-size:19px; padding:0 0 0 5px; line-height:30px; text-align:left; }
.content h5 { font-family:"Open Sans"; color:#12adad; font-size:22px; padding:5px; }
.content h6 { font-family:"Open Sans"; color:#12adad; font-size:19px; padding:10px; }
.content h7 { font-family:"Open Sans"; color:#ed5565; font-size:22px; padding:0px 0 0 5px; line-height:30px; }
.plan_btn { text-align:left; padding-top:5px; margin-top: 5px;}
.tab_img { text-align:left; padding-top:20px;  }
.how_it_works_content { margin:0 auto; padding:50px 0 0; }
.how_it_works_content h1 { font-family:"Open Sans"; color:#3c424b; font-size:38px; text-align:center; font-weight: 700; padding-bottom: 0px;
}
.video_desc .learn_more { background:url('../images/learn-more.png') no-repeat; width:128px; height:43px; display:block;}
.video_desc .learn_more a { background:url('../images/learn-more.png') no-repeat; width:128px; height:43px; display:block; }
.video_desc .learn_more a:hover { background:url('../images/learn-more-hover.png') no-repeat; width:128px; height:43px; display:block; }

/* ---------- SEARCH ---------- */

.search_topbar_wrap {
	width: 240px;
	background: rgba(255, 255, 255, 0);
	border-radius: 3px;
	padding-top: 7px;
	margin: 3px auto 0 8px;
	position: relative;
	float: left;
	font-family: "Open Sans";
}

.search_topbar {
		width: 220px;
	    border: 1px solid #cdcdcd; 
	    border-radius: 3px;
	    -webkit-box-shadow: 
	      inset 0 0 5px  rgba(0,0,0,0.1);
	           
	    -moz-box-shadow: 
	      inset 0 0 5px  rgba(0,0,0,0.1);
	           
	    box-shadow: 
	      inset 0 0 5px  rgba(0,0,0,0.1);
	           
	    padding: 7px;
	    background: rgba(255,255,255,0.5);
	    margin: 0 0 10px 0;
}

.verify-bar-wrap {
	position: relative;
	float: left;
	margin-left: 35px;
	margin-top: 5px;
}

.verify-text-input {
	padding: 8px;
	background: #fff;
	width: 300px;
	border: 1px solid #cdcdcd; 
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.btn


.container {
	position: relative;
}

.container h1 {
	color: #0be0be;
	position: relative;
	display: inline-block;
	float: left;
	margin: 0;
	padding-top: 20px;
}

.container h1 a {

	color: #12adad;
	font: 12px "Open Sans";
	font-weight: 700;
}

.container h1 a:hover {
	text-decoration: none;
}


.container01{
	width: 980px; height: 630px;
	margin: 3em auto 3em; text-align:center;
	background-color: #ffffff; padding: 1em; background: #fff url('../images/map.jpg') no-repeat center bottom;
}


.container h2 {
	color: #0be0be;
	position: relative;
	display: inline-block;
	float: left;
	margin: 0;
	padding-top: 10px;
}

/*Account Settings*/

.signin_maincontent {
	position: relative;
	margin: 0 auto;
	padding-top: 120px;
	padding-bottom: 50px;
	width: 980px;
	display: block;
}

.signin_content {
	float: left;
	width: 600px;
	display: block;
	font-size: 13px;
}

.signin_content h1 {
	color: #3c494b;
	font: 38px "Open Sans";
	padding-left: 0px;
	font-weight: 600;
	margin: 0 0 30px;
}

.signin_content h2 {
	font-size: 20px;
	color: #146060;
	margin-bottom: 15px;
}

.signin_contentleft {
	float: left;
	width: 280px;
	display: block;
	border: 1px solid #d1d1d1;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 10px;
	margin-right: 50px;
	font-family: "Open Sans";
	
}

.signin_contentleft dl {
	text-align: left;
	border-bottom: 1px dotted #d6d6d6;
	margin-bottom: 10px;
}

.signin_contentleft dt {
	margin-bottom: 10px;
}

.signin_contentleft dt a {
	text-decoration: none;
	color: #009ba9;
	font-size: 17px;
	
}

.signin_contentleft dd {
	margin-bottom: 10px;
	margin-left: 5px;
}

.signin_contentleft dd a {
	text-decoration: none;
	color: #686868;
	font-size: 13px;
}

.signout_content {
	float: left;
	width: 690px;
	display: block;
}

.signout_content h1 {
	font-size: 30px;
	margin: 0px;
	color: #146060;
	font-weight: 400;
}

.pagingLeft {
	text-align: left;
	/* float: left; */
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	color: #146060;
	font-weight: 300 !important;
}

.pagingLeft a{
	float: right;
	display: block;
}

.acc_photo {
	width: 120px;
	float: left;
	margin-bottom: 15px;
}

.acc_photo p{
	font-size: 12px;
	font-style: italic;
	color: #cfcfcf;
}

.acc_photo img {
	width: 100px;
	height: 100px;
	background: #f5f5f5 url('../images/default_user.png') no-repeat left top;
}


.form_line {
	height: 80px;
	position: relative;
	clear: both;
	display: block;
}

.form_container {
	width: 300px;
	text-align: left;
	float: left;
	padding: 0 2em;
	display: block;
	margin: 10px 0;
	
	
}

.form_container2 {
	width: 250px;
	text-align: left;
	float: left;
	padding: 0 2em;
	
}

.form_select {
	width: 150px;
	text-align: left;
	float: left;
	padding: 0 0;
	margin-right: 6em;
	margin-left: 1em;
	margin-top: 1em;
}

.form_select label {
	padding-bottom: 10px;
}


.bold {
	font-weight: bold;
}

.text_red {
	color: #ed5565;
}

.text_green {
	color: #12adad;
}

.txtNormalGreenBold {
color: #006666;
text-decoration: none;
vertical-align: middle;
font-weight: 500;
line-height: 17px;
font-weight: 600;
font-size: 14px;
}

.txtNormalGrey {
color: #595959;
text-decoration: none;
font-size: 13px;
text-align: left;
vertical-align: middle;
font-weight: normal;
line-height: 17px;
margin-top: 20px;
}

a.linkText-S:visited {
color: #006666;
font-weight: normal;
font-size: 11px;
text-decoration: underline;
}
a.linkText-S:link {
color: #006666;
font-weight: 600;
font-size: 13px;
text-decoration: none;
}
/*-------Submenu Dropdown-------*/


.topmenubar{
	background:#fff;
	padding-right:0px;
	float: left;	
}
	
.user-wrapper{
	float:right;}

.user-photo-wrapper{
	padding-top:9px;
	position:relative;
	float:left;
	z-index:10000}
	
.name-wrapper{
	float:left;}

.name{
	background:url(../images/arrow-dropdown.png) right no-repeat;
	text-transform:uppercase;
	color:#686868;
	font-size:14px;
	font-weight:600;
	height:54px;
	padding-right:40px}

/* reset  list style */
.cbp-tm-menu,
.cbp-tm-menu ul {
	list-style: none;
}

/* set menu position; change here to set to relative or float, etc. */
.cbp-tm-menu {
	display: block;
	z-index: 1000;
	width: 100%;
	padding:0px 14px;
	margin: 0;
	text-transform: capitalize;
	height:54px;
}

/* first level menu items */
.cbp-tm-menu > li {
	display: inline-block;
	margin: 0;
	position: relative;
}

.cbp-tm-menu > li > a {
	line-height: 4em;
	padding: 0 0.3em;
	font-size: 14px;
	display: block;
	color: #686868;
}

.no-touch .cbp-tm-menu > li > a:hover,
.no-touch .cbp-tm-menu > li > a:active {
	color: #02639d;
}

/* sumbenu with transitions */
.cbp-tm-submenu {
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	text-align: left;
	pointer-events: none;
	-webkit-transition: visibility 0s, opacity 0s;
	-moz-transition: visibility 0s, opacity 0s;
	transition: visibility 0s, opacity 0s;
}

.cbp-tm-show .cbp-tm-submenu { /*box submenu*/
	width: 220px;
	left: 50%;
	margin: 0 0 0 -8em;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transition: visibility 0s, opacity 0.3s;
	-moz-transition: visibility 0s, opacity 0.3s;
	transition: visibility 0s, opacity 0.3s;
}

.cbp-tm-show-above .cbp-tm-submenu {
	bottom: 100%;
	padding-bottom: 10px;
}

.cbp-tm-show-below .cbp-tm-submenu {
	top: 100%;
	padding-top: 10px;
}

/* extreme cases: not enough space on the sides */
.cbp-tm-nospace-right .cbp-tm-submenu {
	right: 0;
	left: auto;
}

.cbp-tm-nospace-left .cbp-tm-submenu {
	left: 0;
}

/* last menu item has to fit on the screen */
.cbp-tm-menu > li:last-child .cbp-tm-submenu {
	right: 0;
}

/* 	
arrow: depending on where the menu will be shown, we set 
the right position for the arrow
*/

.cbp-tm-submenu:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	top: 100%;
	margin-top: -10px;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	bottom: 100%;
	margin-bottom: -10px;
}

.cbp-tm-submenu:after {  /*arrow submenu*/
	border-color: solid 1px #696969;
	border-width: 10px;
	margin-left: -16px;
	left: 85%;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	border-top-color: #f5f5f5;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	border-bottom-color: #f5f5f5;
}

.cbp-tm-submenu > li {
	display: block;
	background: #f5f5f5;
}

.cbp-tm-submenu > li > a {
	padding: 10px 2.3em 10px 1.2em; /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
	display: block;
	font-size: 14px;
	position: relative;
	color: #30353d;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.no-touch .cbp-tm-submenu > li > a:hover,
.no-touch .cbp-tm-submenu > li > a:active {
	color: #fff;
	background: #2dadac;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 30px;
	border-radius: 10px;
	background: #fff;
}

.modalDialog > div h2 {
	font-size: 24px;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: 400;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	font-size: 16px;
}

.close:hover { background: #00d9ff; }


/*----Imported from Asrul CSS----*/

.single_content{
	width:980px;
	position: relative;
}

.cart_wrapper{
	width:600px;
	float:left;
	position: relative;
}
	
	
.cart_wrapper a{
	width: 260px;
	display: block;
	margin-top: 40px;
}
	
.text_info{
	font-size:18px;
	color:#278585;
	font-family:"Open Sans";
	font-weight:300;
	padding-bottom:30px;
	}
	
.payment_wrapper{
	width:270px;
	border: solid 1px #dadada;
	padding:20px 20px;
	float:right;}

.table_wrapper {
	width: 100%;
	position: relative;
}

	
.table_payment table td tr{
	border:solid 1px red;
	background:yellow;}

.dash_border {
	border-bottom: 1px dashed #d7d7d7;
}

.checkbox_left {
	float: left;
}

.table_payment_title{
	border-bottom:solid 4px #d7d7d7;
	font-size:13px;
	font-family:"Open Sans";
	font-weight:700;
	padding-bottom: 10px;
	}
	
.table_payment_item{
	border-bottom:solid 4px #d7d7d7;
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	padding:10px 0px 40px 0px;
	}

.table_payment a{
	width: auto;
	margin: 0;
	padding: 0;
}

.table_payment_serial{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	padding:10px 0px;}
	
.table_payment_total{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:700;
	padding:10px 0px;
	border-bottom:solid 1px white}
	
.box_title{
	color:#009ba9;
	font-size:24px;
	font-family:"Open Sans";
	font-weight:400;
	padding-bottom:15px
	}
	
.content_main_text{
	font-size:14px;
	font-family:"Open Sans";
	font-weight:400;
	line-height:24px;
	}
	
.content_download_id{
	font-size:24px;
	font-family:"Open Sans";
	font-weight:400;
	color:#ed5565;
	}
	
.content_text{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	line-height:24px;
	}
	
.content_text_green{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	line-height:24px;
	color:#009ba9;
	}
	
.content_text_green a{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	line-height:24px;
	color:#009ba9;
	text-decoration:none;
	}
	
.content_text_green a:hover{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	line-height:24px;
	color:#009ba9;
	text-decoration:underline;
	}
	
.content_text_red{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	color:#ed5565;
	padding-top:2px;
	}
	
.content_credit_balance{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:700;
	padding:10px 0px 25px 0px;
	}
	
.border_white{
	border-bottom:solid 1px white}
	
.border_payment{
	border-bottom:solid 2px #d7d7d7;
	padding-bottom:10px;}
	
.agree_info{
	font-size:12px;
	font-family:"Open Sans";
	font-weight:400;
	padding:10px 0px 20px 10px;
	}
	
.center{
	text-align:center;
	margin-bottom:20px;
	margin-top:10px;}
	
.button_yellow_a, .button_yellow_a:visited{
	background: #ffca57;
	padding:12px 40px;
	color:#583d04;
	font-family:"Open Sans";
	font-weight:400;
	font-size:14px;
	text-decoration:none;
	border-radius:20px;
	box-shadow: 0px 4px #e4a51e;
	border: none !important;
	cursor: pointer;
	}
	
.button_yellow_a:hover{
	background: #f6c355;
	padding:12px 40px;
	color:#583d04;
	font-family:"Open Sans";
	font-weight:400;
	font-size:14px;
	text-decoration:none;
	border-radius:20px;
	box-shadow: 0px 4px #d0971d;
	transition:0.3s;
	}
	
.button_red_a, .button_red_a:visited{
	background: #ed5565;
	padding:12px 20px;
	color:#fff;
	font-family:"Open Sans";
	font-weight:300;
	font-size:14px;
	text-decoration:none;
	border-radius:20px;
	box-shadow: 0px 4px #bc4350;
	}
	
.button_red_a:hover{
	background: #cf404f;
	padding:12px 20px;
	color:#fff;
	font-family:"Open Sans";
	font-weight:300;
	font-size:14px;
	text-decoration:none;
	border-radius:20px;
	box-shadow: 0px 4px #a32835;
	transition:0.3s;
}

	
/*---Asrul CSS End---*/

/*---Sub Menu Accordion--*/

#cb-main-container {
	position: relative;
	background-image: url('../images/bg-repeat.jpg)');
	width: 100%;
}

#content-container {
	position: absolute;
	left: 239px;
	background-color: #fff;
}

.cb-content-wrap {
	padding-left: 50px;
	padding-top: 100px;
	float: left;
	width: 900px;
	padding-bottom: 30px;

}

.cb-content-wrap h1 {
	color: #3c494b;
}

.cb-content-item {
	float: left;
	clear: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

.cb-content-item h2 {
	color: #12adad;
	font-size: 20px;
	font-weight: 300;
}

#cb-header {
	background-color: #012060;
	position: fixed;
	width: 100%;

}

.header-container {
	width:75%;
	min-width: 802px;
	height: 90px;
	padding-left: 20px;
	padding-right: 30px;
	padding-top: 8px;
}

#submenu {
	position: absolute;
	width: 100%;
	max-width: 239px;
	background-color:#2E75B5;
	
}

.submenu-content-item {
	display: block;
	position: fixed;
	z-index: 100;
}

.submenu-content-item img {
	display: block;
	margin: 0 auto;
	background-color: #012060;
	padding: 10px 81px;
}

#cb-menu-head {
	text-align: center;
	font-size: 13px;
	display: block;
	margin: 60px auto 0;
	padding: 20px;
	background-color: #2E75B5;
	color: #8e929b;
}

#cb-menu-head img {
	display: block;
	margin: 10px auto;
}

/* ##### Top level items #####*/
#acdnmenu 
{
    /* Note about height: 
    Set "height:auto;" if flexible height is required. 
    A fixed height is prefered as content below the menu won't be pulled down/up when the menu is expanding/collapsing. */

    width: 240px;
    float: left;
    
}

#acdnmenu ul.top
{
	padding-left:0;
	
}

#acdnmenu div.heading, #acdnmenu a.link
{
    padding: 8px 8px 8px 10px;
	text-align:left;
    font:normal 13px;
    color: #c0c0c0; 
    text-decoration:none;
    outline:none;
    text-transform: uppercase;
}

.heading2 {
	padding: 18px 18px 18px 20px;
	text-align:left;
	font:normal 13px;
	color: #ffffff; 
	text-decoration:none;
	outline:none;
	text-transform: uppercase;
}

#acdnmenu div.current,  #acdnmenu div.current a.link
{
    color:#fff;
    font-weight:normal;
    text-decoration:none;
    border-left: 4px solid #12adad;
	background-color: #2E75B5;
	padding-left: 6px;
	margin-right: 1px;
}

.acdn-active {
	border-left: 4px solid #12adad;
	background-color: #2E75B5;
	padding-left: 6px;
	margin-right: 1px;
	
}

#acdnmenu div:hover, #acdnmenu a.link:hover{
	background-color: #2E75B5;
	margin-right: 1px;
}

/*Top level link without children*/
#acdnmenu a.current, #acdnmenu a.current:hover
{
    color:#F00;
    text-decoration:none;   
}

/* arrow image for the top headings
#acdnmenu div.arrowImage {
    width:22px;
    height:21px;
    float: left; /* Changing it to "right:8px;" will position the arrow image to the right 
    background-image:url('../images/submenu-icon.png');
    background-position:0 0;
    position: relative;
} */

.acd-border {
	border-bottom: 0px solid #21242b;
}

.sm_icon {
	width: 20px;
	height: 20px;
	float: left;
	background: url('../images/submenu-icon.png') no-repeat left top;
	margin-right: 10px;
	margin-top: -2px;
}

.mtr {background-position: 0 0;}
.profile { background-position: -85px 0;}
.inbox { background-position: 0 -21px;}
.creditleft {background-position: -22px -20px;}
.certificate {background-position: -43px 0;}
.briefcase { background-position: -64px 0;}
.news { background-position: -106px 0;}
.userleft { background-position: -127px 0;}
.report { background-position: -24px 0;}
.logout { background-position: -86px -21px;}
.screw { background-position: -106px -21px;}
.bolt { background-position: -64px -21px; }

#acdnmenu li.separator
{
    border-top:none;
    border-bottom:none; 
}


/* ##### Sub level items #####*/
#acdnmenu ul.sub
{
	padding-left:10px; /*This determines the hierarchical offset*/
	background: #2E75B5; 
	border-left: 4px solid #12adad;
	margin-right: 1px;
}

#acdnmenu ul.sub div.heading
{
    text-align:left;
    font:normal 13px;
    padding:5px; padding-left:10px;
    color: #ffffff;
    background:none;
    text-transform: uppercase; 
}
#acdnmenu ul.sub div.heading a
{
    color: #ffffff;
}

#acdnmenu ul.sub div.current
{
    color:#fff;
    background:none; 
}

#acdnmenu ul.sub a.link
{
    font:normal 12px;
    color:#fff;
    padding:14px; padding-left:30px;
    text-decoration:none;
    background:none;
    text-transform: none; 
}

.last {
	margin-bottom: 30px;
}

   

#acdnmenu ul.sub a.link:hover, #acdnmenu ul.sub a.current, #acdnmenu ul.sub div.heading a:hover, #acdnmenu ul.sub div.heading a.current
{
    color:#12adad;
   	text-transform: none;
   	text-decoration: none;
    background:none;
    padding-left: 30px;
    border: none; 
}


#acdnmenu ul.sub div.arrowImage {
    width:12px;
    height:12px;
    top:6px;
    left:6px;
    background-image:url(arrows.gif);
    background-position:0 -24px;
}
#acdnmenu ul.sub div.current div.arrowImage {
    background-position:0 -36px;
}




/* ##### Followings usually don't need modification ###### */
/*Hack the font-size:0 bug for IE6 */
#acdnmenu,  #acdnmenu ul
{
    display:block;
    font-size:0px;
    line-height:0px;
}
#acdnmenu li {font-size:12px; line-height:16px;}
#acdnmenu li:last-child {
margin-bottom: 30px;	
}
#acdnmenu:after {content:'.';height:0;clear:both;display:block;visibility:hidden;} 

/*Hack for IE6-7*/
#acdnmenu ul, #acdnmenu li, #acdnmenu div.heading, #acdnmenu a.smLink, #acdnmenu div.description {*zoom:1;}
#acdnmenu li {*float:left;*width:100%;}

#acdnmenu ul
{
	position:relative;/*!*/
	overflow:hidden;
	padding:0;margin:0;list-style-type: none;padding-left:10px;
}
#acdnmenu>ul{visibility: hidden;}
#acdnmenu li {padding:0;margin:0;}

#acdnmenu div.heading, #acdnmenu div.current
{
	position:relative;
    cursor: pointer;
}
#acdnmenu div.arrowImage {position:absolute; overflow:hidden;}

/*---Sub Menu End--*/

.lg-rectangle {
	padding: 24px 12px;
	border-radius: 8px;
	color: #fff;
	float: left;
	margin: 10px 10px 10px 0;
}
.green-rect {
	background-color: #47d288;
	box-shadow: 0px 5px 0px #3caf72;

}
.green-rect:hover {
	background-color: #2cc272;
}

.blue-rect {
	background-color: #50c1e9;
	box-shadow: 0px 5px 0px #3da4c9;
}
.blue-rect:hover {
	background-color: #29b3e3;
}


.orange-rect {
	background-color: #f6993e;
	box-shadow: 0px 5px 0px #de842c;
}
.orange-rect:hover {
	background-color: #f78d25;
}

.red-rect { 
	background-color: #d94343;
	box-shadow: 0px 5px 0px #b32929;
}
.red-rect:hover { 
	background-color: #d32727;
}

.lgnd-clear {
	width: 250px;
	position: relative;
	clear: both;
	margin-bottom: 10px;
	float: left;
	padding-left: 13%;
}

.legend {
	width: 90px;
	float: left;
	margin-right: 30px;
	font-size: 14px;
	color: #969696;
	font-weight: 300;
}

.lgnd-green {
	width: 20px;
	height: 20px;
	background-color: #47d288;
	float: left;
	margin-right: 13px;
	
}

.lgnd-blue {
	width: 20px;
	height: 20px;
	background-color: #50c1e9;
	float: left;
	margin-right: 13px;
}

.lgnd-orange {
	width: 20px;
	height: 20px;
	background-color: #f6993e;
	float: left;
	margin-right: 13px;
}

.lgnd-red {
	width: 20px;
	height: 20px;
	background-color: #d94343;
	float: left;
	margin-right: 13px;
}

.figure {
	float: left;
	font-size: 43px;
	font-weight: 100;
}

.figure02 {
	float: right;
	font-size: 60px;
	font-weight: 100;
	color: #12adad;
	margin-top: 20px;
}

.small-text {
	font-size: 13px;
	float: left;
	clear: both;
	padding-left: 95px;
	margin-top: -5px;
}

.small-text2 {
	float: right;
	clear: both;
	font-size: 16px;
	padding-right: 5px;
	color: #969696;
	font-weight: 300;
}

.icon-cb {
	width: 80px;
	height: 55px;
	background: url('../images/cb-sprite.png') no-repeat left top;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

.thumbs-up {background-position: 0px 5px;}
.alert-big {background-position: 0px -76px;}
.sand-clock {background-position: 0px -150px;}
.guilty-face {background-position: 0px -243px;}

.cb-stat-box {
	border: 1px solid #dadada;
	float: left;
	background-color: #fff;
}

.cb-stat-box-left {
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #dadada;
	float: left;
	background-color: #fff;
}

.cb-stat-box-left {
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #dadada;
	float: left;
}

.cb-stat-box img{
	display: block;
	float: left;
}

.dl-counter {
	width: 245px;
	padding: 20px;
	margin-top: 15px;
}

.pie-chart {
	height: 400px;
	padding: 10px 10px 20px 20px;
}

.graph {
	width: 510px;
	height: 400px;
	padding: 10px 10px 20px 20px;
}

.calendar-icon {
	width: 31px;
	height: 41px;
	background: url('../images/cb-sprite.png') no-repeat left top;
	float: left;
	margin-right: 80px;
}

.week {
	background-position: 0 -339px;
}

.month {
	background-position: 0 -390px;
}

.year {
	background-position: 0 -448px;
}

#footer-cb {
	display: block;
	background-color: #d9d9d9;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 15px;
	height: 100%;
	float: left;
	width: 100%;
}

.footer-item-wrap {
	width: 100%;
	min-width: 800px;
}

.footer-cb-item, .footer-cb-item a {
	font-size: 12px;
	color: #5d5d5d;
	font-weight: 600;
	margin: 0 auto;
}

.copyright-cb { padding-top:8px; margin-top: 10px; font-size: 12px; line-height: 24px;
	color: #5d5d5d;
}

/* Added by Andrew*/

.cb_content {
	width: 650px;
	font-size:13px;
	min-height:400px;
}