/*********************/
/* Pagination Css   */
/********************/
.pagination {padding:0px 0px 15px 0px; text-align:center}

.tblListing .pagination a:hover
{
    background:#d1d1d1; 
    color:#535353; 
    padding:6px 10px; 
    border-radius: 4px 4px 4px 4px; 
    text-decoration:none;    
}

.pagination label{ display:none}

.pagingLinkBold {background:#838383; padding:6px 10px; color: #fff; border-radius: 4px 4px 4px 4px}

.pagingNotAvailable {background:none; color:#c6c6c6; padding:6px 10px; border-radius: 4px 4px 4px 4px}

.pagingLink{background:none; padding:6px 10px; font-weight:normal}

.pagingSelected{background:#009999; padding:6px 10px; color: #fff; border-radius: 4px 4px 4px 4px}


/**********/
/* table */
/*********/
.tblTable
{
    margin:0px;
} 

.tblTable TD, .tblTableBorder TD
{    
    margin:0px;
    padding: 8px;
}  

.tblTable TR.tblRowDash TD, .tblTable   Border TR.tblRowDash TD
{
    border-bottom: 1px #999999 dashed;
    padding: 8px 8px 8px 8px;
} 

.tblTable TR.tblRowSolidThick TD, .tblTableBorder TR.tblRowSolidThick TD
{
    border-bottom: 4px #999999 solid;
    padding: 8px 8px 8px 8px;
} 

.tblTable TR.tblRowSolidThin TD, .tblTableBorder TR.tblRowSolidThin TD
{
    border-bottom: 1px #999999 solid;
    padding: 8px 8px 8px 8px;
} 

.tblTable TR.tblRowNoDash TD, .tblTableBorder TR.tblRowNoDash TD
{
    padding: 8px 8px 8px 8px;
}   

.tblBorderPage
{
    background-color: #F7F7F7;
    border: 1px solid #D9D9D9;    
    text-align:left;
}

.tblBorderPage-inner
{
    padding:15px;
}

.tblSearchResult
{
    border:none;
    background-color:#ffffff;  
}

.tblSearchResult tr:nth-child(odd)
{
background:#ffffff;    
} 

.tblSearchResult tr:nth-child(even)
{
background:#F2F2F2;    
}

.tblSearchResult .tablescroll_head
{
    border-left:1px #000000 solid;
    border-top:1px #000000 solid;
    border-right:1px #000000 solid;
    border-bottom:0;
}

.tblSearchResult .tablescroll_wrapper
{
    border-left:1px #000000 solid;
    border-top:0;
    border-right:1px #000000 solid;
    border-bottom:1px #000000 solid;
}

.tblSearchResult .tablescroll_foot
{
    border-left:1px #000000 solid;
    border-top:0;
    border-right:1px #000000 solid;
    border-bottom:1px #000000 solid;
}

.tblSearchResult tr.tblHeader, .tblSearchResultNoBorder tr.tblHeader
{
    background-color:#00afaf!important;
    color:#ffffff;
    font-weight:600;
    padding: 4px 8px 4px 8px;
    text-decoration:none;
    vertical-align:top;
    
}

.tblSearchResult thead
{
    
    background:#00afaf;
    }

.tblHeader td
{
    border-top:0;
    border-bottom:0;
    font-weight:bold;
}

.tblSearchResult TR, .tblSearchResultNoBorder TR
{
    color:#555555;
    font-weight:normal;
    padding: 4px 8px 4px 8px;
    text-decoration:none;
    vertical-align:top;
}

.tblSearchResult .tblRowOdd, .tblSearchResultNoBorder .tblRowOdd
{
    background-color: #ffffff;
}

.tblSearchResult .tblRowOdd td
{
    border-bottom: solid 1px #e3e3e3}

.tblSearchResult .tblRowEven, .tblSearchResultNoBorder .tblRowEven
{
    background-color: #fff;
}

.tblSearchResult  .tblRowEven:hover, .tblSearchResult  .tblRowOdd:hover{
  background-color: #f7f7f7; !important
}

.tblSearchResult .tblRowEven td
{
    border-bottom:solid 1px #e3e3e3}

.tblSearchResultNoBorder
{
    border:0px;
    background-color:#ffffff;
}


.tblRefineCheck
{
    margin:0px;
    padding : 10px 0px 10px 0px;
} 

.tblRefineCheck TD
{    
    margin:0px;
    padding: 5px 5px 5px 10px;
}  

.tblRefineCheck TABLE TD
{
    margin:0px;
    padding: 1px 0px 1px 0px;
}

.tblRefineCheck .divSolid
{    
    border-bottom: 1px #bfbfbf solid;
    padding:0px;
} 

.tblRefineCheck .tdMainCategory
{    
    padding: 0px;
} 


.tblSubRefineCheck
{
    background-color:#fffabd;
    padding: 0px 0px 5px 0px;
    border-bottom: #bfbfbf 1px dashed;
}

.tblSubRefineCheck TD
{    
    margin:0px;
    padding: 5px 0px 5px 10px;
} 

.tblSubRefineCheck .tdCategoryHighlight
{    
    background:url(../images/CategoryHighlight.png) no-repeat;    
    position:absolute;
    height:22px;
    width:250px;
    padding: 10px;
    font-weight: bold;
} 

.tblSubRefineCheck .tdSubCategory
{    
    padding:12px 20px 7px 20px;
} 

.tblSubRefineCheck .tdSubCategory .divSelectedNone
{
    border:0px;
    padding:0px 0px; 
    background:none;
} 

.tblSubRefineCheck .tdSubCategory .divSelected
{
    border:1px solid #ebb000;
    padding:0px 0px; 
    background:#ebb000;
    width:1px;
} 

.tblSubRefineCheck-None
{
    background-color:#fff;
    padding: 12px 0px 12px 0px;
    border-bottom: #bfbfbf 1px dashed;
}

.tblSubRefineCheck-None .tdCategoryHighlight-None
{
    padding: 0px 10px 0px 10px;
}


.tblFilterScrollable 
{
    border:0px solid #bfbfbf;
    max-height: 120px;
    overflow-y: auto;
}

.tblSubmission
{
    margin-top:50px;
    
    }
    
.tblSubmission td
{
    text-align:left;
    }
    
#rootwizard .tblEditForm
{
 float:left;margin-right:30px;width:420px;   
    }    

/************/
/* Table TD */
/************/
.tdRegBox
{
     border: 1px #d9d9d9 solid; 
     background-color: #f7f7f7; 
     vertical-align:top;
     text-align:center;
     font-size: 13px;
}

/****************/
/* Paging DIV  * /
/****************/

DIV.pagingLeft
{
    text-align:left;
    /*float:left;*/
    padding-top: 10px;
    padding-bottom:10px;
}

DIV.pagingRight
{
    text-align:right;
    padding-top: 10px;
    padding-bottom:10px;
}

/*********/
/* Text */
/********/
.home-txtNormalGrey-L p{
    color: #484848;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-size: 26px;
    font-weight:300;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    margin-bottom:5px;
}

.txtRegister
{
    color:#006666;
    text-decoration :none;
    vertical-align:middle;
    font-weight:normal;
    line-height:17px;
    font-size: 28px; 
    font-weight: bold; 
    text-align: center;
    padding-bottom:20px;
}

.txtNormalGrey-thin{
   color:#595959;
   text-decoration:none;
   font-size:19px;
   text-align:left;
   vertical-align:middle;
   font-weight:300;
   line-height:17px;
   margin-top:20px;
   text-align:center;
}

.txtNormalGreen
{
    color:#006666;
    text-decoration :none;
    vertical-align:middle;
    font-weight:normal;
    line-height:17px;
}

.txtNormalGreenBold
{
    color:#006666;
    text-decoration :none;
    vertical-align:middle;
    font-weight:bold;
    line-height:17px;
}

.txtNormalGrey{
   color:#595959;
   text-decoration:none;
   font-size:13px;
   text-align:left;
   vertical-align:middle;
   font-weight:normal;
   line-height:17px;
   /*margin-top:20px;*/
}

.txtNormalOrange
{
    color:#ed6c0a;
    font-weight:600;
    text-decoration :none;
    vertical-align:middle;
    line-height:17px;
}

.txt-or-dash
{
    text-align: center;
    font-size: 16px;
    color:#c4c4c4;
}

.txtRegister-category-line
{    
    border-bottom:solid 1px #c9c9c9;
}

.txtRegister-category, .txtTitle
{
    font-size: 18px;
    font-weight:300;
    padding-bottom:8px;
}

.txtRegister-info
{    
    font-size:13px;
    font-weight:600;
}


.txtManAsterik
{
    color:#ff3300;
}

.txtNormalRed
{
    color:#ff0000;
    text-decoration :none;
}

.txtNormal-L{
   color:#000000;
   font-family:'Open Sans', Arial, Helvetica, sans-serif;
   text-decoration:none;
   font-size:14px;
   text-align:left;
   vertical-align:middle;
   font-weight:normal;
   line-height:17px;
}

/*********/
/*  Div */
/*********/
.divDividerDash
{
    border-bottom: 1px #999999 dashed; 
    height: 1px
}

/*********/
/* Tick */
/*********/
.tick-icon
{
    padding-right:5px;
    padding-left:35px;
    vertical-align:middle;
}

/***************/
/* background */
/***************/
.bg-register-button
{
    background:#e8e8e8;
    padding:20px;
}

/************************/
/* Global Halal Network */
/************************/

.search-cb-wrapper
{
    padding-left:90px;
}

.search-cb
{
    background:#cfe7e8; 
    padding:15px 15px 3px 15px; 
    text-align:center; 
    margin-top:15px;
    border-radius: 8px 8px 8px 8px;
    width:724px;
}

.search-cb-map-wrapper
{   width:900px; 
    height:450px; 
    margin:10px; 
    padding-top:15px
}

.txtIntro
{
    font-size:14px;
    text-align:center;
}

/**********/
/* button */
/**********/
.button_red_a, .button_red_a:visited{
	background: #ed5565;
	padding:10px 20px;
	color:#fff;
	font-family:"Open Sans";
	font-weight:300;
	font-size:14px;
	text-decoration:none;
	border-radius:20px;
	box-shadow: 0px 4px #bc4350;
	}
	
.button_red_a:hover{
	background: #cf404f;
	padding:10px 20px;
	color:#fff;
	font-family:"Open Sans";
	font-weight:300;
	font-size:14px;
	text-decoration:none;
	border-radius:20px;
	box-shadow: 0px 4px #a32835;
	transition:0.3s;
	}
	
/************/	
/* Content */
/************/	
.onecolumn_content {
	width: 980px;
	padding:0px 30px 0px 30px;
}

/*****************************/
/* Form CSS and Validation  * /
/*****************************/

.InpRegNormal
{
    font-family:'Open Sans';
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size:13px;
    color:#222222;
    padding: 4px;
    vertical-align:middle;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    height:28px;
    width:190px;
}

.InpRegMedium
{
    font-family:'Open Sans';
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #222222;
    display: inline-block;
    font-size: 13px;
    padding: 4px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    height:28px;
    width:250px;
}

.InpTextAreaRegMedium
{
    font-family:'Open Sans';
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #222222;
    display: inline-block;
    font-size: 13px;
    padding: 4px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    height:100px;
    width:326px;
}

.InpRegMax
{
    font-family:'Open Sans';
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #222222;
    display: inline-block;
    font-size: 13px;
    padding: 4px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    height:28px;
    width:412px;
}

.sltRegNormal
{   
    font-family:'Open Sans';
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size:13px;
    color:#222222;
    padding: 4px;
    vertical-align:middle;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width:202px;
}

.sltRegMedium
{   
    font-family:'Open Sans';
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size:13px;
    color:#222222;
    padding: 4px;
    vertical-align:middle;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width:250px;
}

.sltRegMediumCountryState
{   
    font-family:'Open Sans';
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size:13px;
    color:#222222;
    padding: 4px;
    vertical-align:middle;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width:60px;
}

.tblEditForm label
{
 font-weight:bold;   
    }
.tblEditForm td
{
  width:50%;  
    }
    
    

/*********************/
/* Page Hyperlink  * /
/*******************/

a.ActionLink
{
    display:inline-block;    
    background: url("../Content/images/btnAction.gif") repeat-x scroll center center transparent;
    border: 1px solid #c7a000;
    border-radius: 5px 5px 5px 5px;
    color: #402A00;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding:5px 15px 5px 15px;
}

a.ActionLink:link
{
    display:inline-block;    
    background: url("../Content/images/btnAction.gif") repeat-x scroll center center transparent;
    border: 1px solid #c7a000;
    border-radius: 5px 5px 5px 5px;
    color: #402A00;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding:5px 15px 5px 15px;
}

a.ActionLink:hover
{
    display:inline-block;
    background: url("../Content/images/btnActionHover.gif") repeat-x scroll center center transparent;
    border: 1px solid #c7a000;
    border-radius: 5px 5px 5px 5px;
    color: #402A00;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding:5px 15px 5px 15px;    
}

a.linkText2:link
{
   color:#006666;
   text-decoration:none;
   font-weight:bold;
}

a.linkText2:hover
{
   color:#006666;
   text-decoration:underline;
}

a.linkText2:visited
{
   color:#006666;
   text-decoration:none;   
}

a.linkText-S:link
{
   color:#006666;
   font-weight:600;
   font-size:13px;
   text-decoration:none;
}

a.linkText-S:hover
{
   color:#006666; 
   font-weight:600;
   font-size:13px;
   text-decoration:underline;
}

a.linkText-S:visited
{
   color:#006666;
   font-weight:normal;
   font-size:11px;
   text-decoration:underline;   
}

/* Product Category Menu */

a.CatLink-1
{   
   padding: 5px 10px 5px 30px;
   background: url('../images/icon-food-beverage.png') left no-repeat;
   color:#000;  
} 

a.CatLink-1:link
{   
   color:#000000;
   text-decoration:none;
   font-weight:bold;
}

a.CatLink-1:hover
{
   color:#009a9a;
   text-decoration:none;  
}

a.CatLink-2
{   
   padding: 5px 10px 5px 30px;
   background: url('../images/icon-consumer-goods.png') left no-repeat;
   color:#000;  
} 

a.CatLink-2:link
{   
   color:#000000;
   text-decoration:none;
}

a.CatLink-2:hover
{
   color:#009a9a;
   text-decoration:none;
}

a.CatLink-3
{   
   padding: 5px 10px 5px 30px;
   background: url('../images/icon-eating-premises.png') left no-repeat;
   color:#000;  
} 

a.CatLink-3:link
{   
   color:#000000;
   text-decoration:none;
}

a.CatLink-3:hover
{
   color:#009a9a;
   text-decoration:none;
}

a.CatLink-4
{   
   padding: 5px 10px 5px 30px;
   background: url('../images/icon-abattoir.png') left no-repeat;
   color:#000;  
} 

a.CatLink-4:link
{   
   color:#000000;
   text-decoration:none;
}

a.CatLink-4:hover
{
   color:#009a9a;
   text-decoration:none;
}

a.CatLink-5
{   
   padding: 5px 10px 5px 30px;
   background: url('../images/icon-logistic.png') left no-repeat;
   color:#000;  
} 

a.CatLink-5:link
{   
   color:#000000;
   text-decoration:none;   
}

a.CatLink-5:hover
{
   color:#009a9a;
   text-decoration:none;
}

a.CatLink-6
{   
   padding: 5px 10px 5px 30px;
   background: url('../images/icon-pharmaceuticals.png') left no-repeat;
   color:#000;  
} 

a.CatLink-6:link
{   
   color:#000000;
   text-decoration:none;
}

a.CatLink-6:hover
{
   color:#009a9a;
   text-decoration:none; 
}

a.CatLink-7
{   
   padding: 5px 10px 5px 30px;
   background: url('../images/icon-cosmetics.png') left no-repeat;
   color:#000;  
} 

a.CatLink-7:link
{   
   color:#000000;
   text-decoration:none;
}

a.CatLink-7:hover
{
   color:#009a9a;
   text-decoration:none; 
}

a.CatLink-8
{   
   padding: 5px 10px 5px 30px;
   background: url('../images/icon-ingredient.png') left no-repeat;
   color:#000;  
} 

a.CatLink-8:link
{   
   color:#000000;
   text-decoration:none;
}

a.CatLink-8:hover
{
   color:#009a9a;
   text-decoration:none; 
}


a.SubCatLink:link
{
    font-size:13px;
   color:#000000;
   text-decoration:none;
   line-height:11px;
}

a.SubCatLink:hover
{
   color:#000000;
   text-decoration:none;
   line-height:11px;
   text-decoration:none;   
}

a.SubCatLink:visited
{
   color:#000000;
   text-decoration:none;
   line-height:11px;
   text-decoration:none;   
}

a.pagingLink:link
{
   color:#006666;
   text-decoration:none;
}

a.pagingLink:hover
{
   color:#006666;
   text-decoration:underline;
}

a.pagingLink:visited
{
   color:#006666;
   text-decoration:none;  
}


/***************/
/*  Accordion  */
/***************/
.accordionHeader
{
    background: url(Content/images/Expand.gif) no-repeat 198px 5px;
    border: 1px solid #2F4F4F;
    color: #ffffff;
    background-color: #595959;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    /*padding: 4px 8px 4px 8px;*/
}

#LeftTwoColContent .accordionHeader a
{
	color: #ffffff;
	background: none;
	text-decoration: none;
}

#LeftTwoColContent .accordionHeader a:hover, #LeftTwoColContent .accordionHeader a:link,#LeftTwoColContent .accordionHeader a:visited
{
    color: #ffffff;
	background: none;
	text-decoration: none;
}

.accordionHeaderSelected
{
    background: url(Content/images/Collapse.gif) no-repeat 200px 5px;
    border: 1px solid #595959;
    color: #ffffff;
    background-color: #595959;
	font-weight: 600;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#LeftTwoColContent .accordionHeaderSelected a
{
	color: #ffffff;
	background: none;
	text-decoration: none;
}

#LeftTwoColContent .accordionHeaderSelected a:hover,#LeftTwoColContent .accordionHeaderSelected a:link,#LeftTwoColContent .accordionHeaderSelected a:visited
{
    color: #ffffff;
	background-color: #595959;
	text-decoration: none;
}

.accordionContent
{
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    border-top: none;
    padding: 0px;
    padding-top: 0px;
}
.accordionContent2
{
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    padding: 0px;
    padding-top: 0px;
}

.accordionContent .divMenuDivider Table, .accordionContent .divMenuDividerNoDash Table
{
    color:#000000;
    font-weight:normal;
    font-size:11px;
}

/******************/
/* Main Container */
/******************/

.signout_maincontent
{
    position: relative;
	margin: 0 auto;
	padding-top: 120px;
	padding-bottom: 50px;
	width: 980px;
	display: block;
	font-size: 13px;
}

.signout_content
{
    float: left;
	width: 690px;
	display: block;
}

.relatedresult_contentleft {
	float: left;
	width: 231px;
	display: block;
	border: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	margin-right: 50px;
	font-family: "Open Sans";
}


/************/
/**** li ****/
/************/
.NumberingOrderList li
{
	float: left;
	font-size: 15px;
	color: #707070;
	line-height: 30px;
	font-weight: 400;
	padding-bottom: 14px;
}

/*   Contact Us Page CSS   */
.contact-category{
	font-size:18px;
	color:#009899;
	font-weight:bold;
	padding-bottom:8px;
	margin-top:-15px;
	margin-top:0px}
	
.contact-text{
	line-height:25px}
	
.contact-email{
	font-size:14px;
	color:#f96601;
	margin-top:8px}
	
.contact-email a{
	font-size:14px;
	color:#008486;
	text-decoration:none;
	margin-top:8px}
	
.contact-email a:hover{
	font-size:14px;
	color:#008486;
	text-decoration:underline;
	padding-top:8px}
	
.dotted-line{
	background:url(../images/Contactus/dotted-line.jpg) repeat-x;
	height:40px;}
	
.right-panel{
	padding-left:20px}
	
.right-panel-title{
	font-size:18px;
	color:#434343;
	padding-bottom:10px}
	
.right-panel-box{
	padding:30px 40px;
	background:#f1f1f1;}
	
.right-panel-box-map{
	padding:10px;
	text-align:center;
	background:#f1f1f1;}
	
.company-name{
	font-weight:bold;
	font-size:16px;
	color:#434343;
	}


/* Start - Temporary overite designer team css */


.main_menu ul li{
	float: left;
	color: #ffffff;	
}

.main_menu ul li:hover {
	background-color: #12adad;
	transition: .3s;
}

/*
.active
{
    display: block;
    background-color: #12adad;
    width: auto;
    padding: 13px 50px 12px;
    text-decoration: none;
    color: #ffffff;	
    text-transform: uppercase;
	font-size: 13px;
}
*/

.inactive
{
    display: block;
    width: auto;
    padding: 13px 50px 12px;
    text-decoration: none;
    color: #ffffff;	
    text-transform: uppercase;
	font-size: 13px;
}

.txtExpired
{
    color:#ff3300;
}

.txtActive
{
    color:#00d134;
}

.active a, .inactive a, .active a:hover, .inactive a:hover
{
    color: #ffffff;	
}

/* replace the main page search button */
.btn_search_big {
	font-size: 22px;
	float: left;
	color: #ffffff;
	text-transform: uppercase;
	background: #e95764;
	padding: 25px 43px 27px 35px;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	-moz-box-shadow: 0 7px rgba(0, 0, 0, 0.35);
	box-shadow: 0 7px rgba(0, 0, 0, 0.35);
	border-style: none;
	margin: 0 auto;
}

/* change the width for these two container*/

.signin_maincontent {
    font-size:13px;	
}

.signin_content {
	width: 650px;
	font-size:13px;
}

.signin_contentleft {
	width: 250px;	
}


/* fix the image size for news content*/
.leftcontent_news {
	position: relative;
	width: 980px;
	float: left;
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
}

.leftcontent_news h1 {
	font: 30px "Open Sans";
	color: #ed5565;
}

.leftcontent_news h2 {
	color: #939393;
	font: italic 12px "Open Sans";
}

.leftcontent_news p {
	color: #3c494b;
	font: 14px/2em "Open Sans";
	margin-top: 10px;
}

.leftcontent_news img {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}


/****************************/
/*   Custome Dialog Style   */
/****************************/
.hveDialogStyle
{
    background-color: #ffffff;
    border : 0 none; 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding:0; 
}
.hveDialogStyle .ui-dialog-titlebar
{
    background-color: #00afaf;
    font-weight:Bold;
    border : 0 none;
    border-radius:0;
    color: #ffffff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
}

.hveDialogStyle .ui-dialog-buttonpane
{
    border-top:1px solid #ddd;
    }

.hveDialogStyle button 
{    
    display:inline-block;
    background:#00afaf;
    color:#fff;
    padding:5px 10px;
    margin:10px;
    border-radius:5px;
    text-align:center;
    width:100px;
}



.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 0;
}
.btn-primary {
    color: #fff;
    background-color: #00afaf;
    }
.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

input[type="file"] {
    display: block;
}
/* End - Temporary overite designer team css */


.cb{clear:both;}


/* Wizard tab start */

.nav-wizard > li {
  float: left;
}
.nav-wizard > li > a {
  color:#00afaf;
  position: relative;
  background-color: #eeeeee;
}
.nav-wizard > li > a .badge {
  margin-left: 3px;
  color: #eeeeee;
  background-color: #00afaf;
}
.nav-wizard > li:not(:first-child) > a {
  padding-left: 34px;
}
.nav-wizard > li:not(:first-child) > a:before {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #ffffff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.nav-wizard > li:not(:last-child) > a {
  margin-right: 2px;
}
.nav-wizard > li:not(:last-child) > a:after {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #eeeeee;
  position: absolute;
  content: "";
  top: 0;
  right: -18px;
  z-index: 2;
}
.nav-wizard > li:first-child > a {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.nav-wizard > li:last-child > a {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.nav-wizard > li.done:hover > a,
.nav-wizard > li:hover > a {
  background-color: #d5d5d5;
}
.nav-wizard > li.done:hover > a:before,
.nav-wizard > li:hover > a:before {
  border-right-color: #d5d5d5;
}
.nav-wizard > li.done:hover > a:after,
.nav-wizard > li:hover > a:after {
  border-left-color: #d5d5d5;
}
.nav-wizard > li.done > a {
  background-color: #e2e2e2;
}
.nav-wizard > li.done > a:before {
  border-right-color: #e2e2e2;
}
.nav-wizard > li.done > a:after {
  border-left-color: #e2e2e2;
}
.nav-wizard > li.active > a,
.nav-wizard > li.active > a:hover,
.nav-wizard > li.active > a:focus {
  color: #ffffff;
  background-color: #00afaf;
}
.nav-wizard > li.active > a:after {
  border-left-color: #00afaf;
}
.nav-wizard > li.active > a .badge {
  color: #00afaf;
  background-color: #ffffff;
}
.nav-wizard > li.disabled > a {
  color: #777777;
}
.nav-wizard > li.disabled > a:hover,
.nav-wizard > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: #eeeeee;
  cursor: default;
}
.nav-wizard > li.disabled > a:before {
  border-right-color: #eeeeee;
}
.nav-wizard > li.disabled > a:after {
  border-left-color: #eeeeee;
}
.nav-wizard.nav-justified > li {
  float: none;
}
.nav-wizard.nav-justified > li > a {
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .nav-wizard.nav-justified > li > a {
    border-radius: 4px;
    margin-right: 0;
  }
  .nav-wizard.nav-justified > li > a:before,
  .nav-wizard.nav-justified > li > a:after {
    border: none !important;
  }
}

.tab-content{
    border:1px solid #ddd;
    padding:20px;
    padding-top:50px;
    min-height:300px;
}

.navbar
{
    margin-bottom:-30px;
    }

.navbar-inner .container
{
   width:100%!important; 
    }
    
     
.pager li>a, .pager li>a:hover 
{
    display: inline-block;
    padding: 12px 40px;
    background-color: #00afaf;
    border: 0 none;
    border-radius: 5px;
    color:#ffffff;
    font-weight:bold;
    
    }

   
.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span
{
    display: inline-block;
    padding: 12px 20px;
    background-color: #dddddd;
    border: 0 none;
    border-radius: 5px;
    color:#333333;
    font-weight:bold;
    }
    
 .wizard
 {
     width:250px;
     float:right;
     }


.tblWrapper
{
    float:left;
    margin-right:20px;
    
    }

.tblInputWrapper
{
    float:left;
    margin-right:20px;
    padding-top:100px;    
    }


.ingredientSearchResult
{
    overflow:auto;
    width:350px;
    height:200px;
    border:1px solid #ddd;
    margin-top:10px;
    padding:5px 
    }
    
.tblWizard
{
    font-size:13px;
    
    }   
    
.tblWizard td
{
    padding:5px;
    }
    
.inputWizardBtn
{
    display:block;
    background:#00afaf;
    color:#fff;
    padding:5px 10px;
    margin:10px;
    border-radius:5px;
    text-align:center;
    width:auto;
    }
      
.tab-content h4
{
    background:#eee;
    padding:10px;
    font-size:13px;
    font-weight:bold;
    margin-bottom:20px;
    }    
    
    
.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li {
  float: none;
}

.tabs-left>.nav-tabs>li>a,.tabs-right>.nav-tabs>li>a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left>.nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs>li>a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.tabs-left>.nav-tabs>li>a:hover,.tabs-left>.nav-tabs>li>a:focus {
  border-color: #eee #ddd #eee #eee;
}

.tabs-left>.nav-tabs .active>a,.tabs-left>.nav-tabs .active>a:hover,.tabs-left>.nav-tabs .active>a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #fff;
}
    
.nav-tabs
{
    border-bottom:0 none;
    }

#rootwizardleft a
{
    color:#12adad;
    }

#rootwizardleft .tab-content
{
    border:1px solid #ddd;    
    margin-left:273px;
    padding:20px;
    position:relative;
    min-height:1200px;
    }
    
#rootwizardleft .tab-content .editLink
{
    color:#12adad;
    display:block;
    position:absolute;
    top:10px;
    right:10px;
    }    
    
#rootwizardleft .tblReadMode,
#rootwizardleft .tblEditForm
{
    border-collapse:collapse;
    width:500px;
    float:none;
    margin:0;
    margin-bottom:30px;
    }

#rootwizardleft .tblReadMode, 
#rootwizardleft .tblReadMode td, 
#rootwizardleft .tblReadMode th,
#rootwizardleft .tblEditForm, 
#rootwizardleft .tblEditForm td, 
#rootwizardleft .tblEditForm th
{
    border:1px solid #dddddd;
    }

#rootwizardleft .tblReadMode td.col01,
#rootwizardleft .tblEditForm td.col01
{
    background:#f2f2f2;
    width:150px;
    }

#rootwizardleft .tblReadMode td.col02,
#rootwizardleft .tblEditForm td.col02
{
    
    width:350px;
    }
#rootwizardleft>.nav-tabs .active>a
{
    background:#f4f6f6;
    }

.divider
{
    margin:20px 0;
    }    
                     
/* Wizard tab end */


.logo a span{
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin: 0 10px 0 10px;
    position: relative;
    top: -9px;
}