/* Common Tag */

html, body {	height:100%; color:#707070; font-family: "Open Sans"; max-width: 100%; margin: 0px;
}
p {
	font-size: 22px;
	color: #3c494b;
}
h1, h2, h3, h4, h5, h6 {}
h1 {
	color: #000000;
	font-size: 38px;
	font-weight: 600;
	margin: 0;
}
h2 {margin: 0;}
h3 {
	color: #3c494b;
	font-size: 22px;
	font-weight: 400;
	margin: 0;
}
h4 {margin: 0;}
h5 {margin: 0;}
h6 {margin: 0;}
strong, b {}
em, i {}
a { text-decoration:none;}
a:hover { color:#FFCA6E;}
ul, ol {}
hr { margin:0; padding:0; border:0; border-bottom:1px solid #ddd; }
input, textarea, select { font-family: "Open Sans"; font-size:13px; border:1px solid #eee; }
.clear { clear:both; }

/* Fonts */

@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_700-webfont.woff') format('woff'),
         url('../fonts/museosans_700-webfont.ttf') format('truetype'),
         url('../fonts/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans-300-webfont.eot');
    src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype'),
         url('../fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans');
/* Main */

#widthfitter{
                        width: 100%;
                        position: relative;
                        overflow-x: hidden;
                        overflow-y: hidden;
                        align-content: center;

                } 

#wrapper { width:980px; margin:0 auto; padding:0; }

/* Header */

.header { background-color:#012060; height:100px; position:fixed; z-index:1000; width:100%; top:0; left:0; right:0; float: left; margin: 0 auto;
}
.header_content { width:980px; height: 100px;
	padding-top:0px; margin:0 auto; min-width: 980px;
}
.header_content_right { float:right; position: relative; margin-top: 10px;
}
.header_content_right h1 { font-family: museo_sans700, Arial, Helvetica, sans-serif, "Open Sans"; font-size:14px; color:#30353d; padding-top: 7px; }
.header_content_right h1 a {font: 14px "Open Sans"; color: #959595; text-decoration: none; }
.header_content_right h1 a:hover {font: 14px "Open Sans";color:#959595; }
.logo { float:left; }
.logo a { display:block; }
.logo a img { text-decoration:none; margin-left:5px; padding-top: 5px; }
#social_icon { float:right; margin: 10px 20px 10px 10px; display: none;
}
#register { position: relative;
	float:right; padding: 0px 0px 0px 0; z-index: inherit;
}

#register p {
	margin: 0 10px 10px;
	display: inline-block;
	color: #959595;
	font: 14px "Open Sans";
	font-weight: 400;
}

#register h1 a img {
	margin: 0.1em;
	
}

.user {
	float: right;
	position: relative;
	height: 50px;
	padding: 0;
	font-family: "Open Sans";
}

.user img {
	float: left;
}

.user h1 {
	color: #686868;
	font: 14px "Open Sans";
	font-weight: bold;
	float: left;
	padding-top: 0;
}

.user h2 {
	font-size: 13px;
	font-weight: 600;
	float: left;
	margin: 0.5em 0.2em 0.7em 0.7em;
	color: #686868;
}

.user h2 a {
	text-decoration: none;
		color: #686868;
}

.user a img {
	padding: 0.7em 0.3em 0.7em 0.7em;
}

.icon-top {
	padding-top: 10px;
	float: left;
}

#tooltip
{
    text-align: center;
    color: #646464;
    background: #dddddd;
    position: absolute;
    z-index: 100;
    padding: 10px;
    border-radius: 5px;
}
 
    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #dddddd;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }
 
        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #dddddd;
            top: -20px;
            bottom: auto;
        }
 
        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }
 
        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }

/* Menu */

.main_menu_wrap { background-color:#146060; height:43px; width:100%; position:fixed; z-index:999; top:53px; padding: 0px;
}

.main_menu {
	width: 980px;
	height: 43px;
	margin: 0 auto;
	position: relative;
	
}

.main_menu ul {
	margin: 0;
	padding: 0;
	
}

.main_menu ul a li {
	float: left;
	list-style: none;
	padding: 13px 50px 12px;
	text-transform: uppercase;
	font-size: 13px;
	
}

.main_menu ul a li:hover {
	background-color: #12adad;
	transition: .3s;
}

.main_menu ul a li {
	color: #ffffff;	
}




.active
{
display: block;
color: #12adad;
background-color: #12adad;
width: auto;
padding: .2em .8em;
text-decoration: none;
}

.active2 a
{
	color: #12adad;
}

.dropdown {
	float: left;
	margin: 0.5em;
}

.dropdown ul {
		background-color: #f5f5f5;
		border-radius: 10px;
}

.login_status {
	color: #ffffff;
	font-size: 12px;
	float: left;
	padding-top: 12px;
}

.credit {
	float: right;
	position: relative;
	margin:	0px;
	color: #ffffff;
	font-size: 13px;
	margin:0;
	padding: 3px 0px 0px;
}

.credit_textwrap {
	color: #ffffff;
	font-size: 13px;
	float: left;
	padding-top: 10px;
}

.credit_textwrap a {
	color: #57dada;
	text-decoration: none;
	padding-left: 3px;
	float: right;
}

.credit_balance {
	background-color: #ed5565;
	border-radius: 5px;
	padding: 4px;
	margin: 0.5em;
	width: 40px;
	float: left;
	color: #ffffff;
	text-align: center;
}

.dropmenu{
	padding: 3px;
}



/* Homepage Section */

#home1 { height:1000px; margin: 0 auto; width: 100%; max-width: 1920px; position: relative; }
.main_content_ha { height:750px; margin: 4em auto 0; width: 100%; max-width: 1920px; position: relative; 
background: #f2eeeb url('../images/bg_ha.jpg') no-repeat fixed left top; background-size: cover;

}

.main_content_pu { height:750px; margin: 4em auto 0em; width: 100%; max-width: 1920px; position: relative; 
background: #f5f5f5 url('../images/bg_pc.jpg') no-repeat fixed left top; background-size: cover;

}

.main_content_advanced { height:600px; margin: 10px auto 0; width: 100%; max-width: 1920px; position: relative; 
background: #f2eeeb url('../images/bg_advanced.jpg') no-repeat fixed left bottom; background-size: cover;

}


.laptop_container {
	 /*clear: both; 1000px / 1250px */
	font-size: 0.8125em; /* 13 / 16 */
	width: 313px;
	max-width: 92.3em; /* 1200px / 13 */
	margin: 0 auto;
	padding: 1em 0px;
	/*top: 550px;
	right: 0px;*/
	color: #333;
	line-height: 1.5em;
	position: relative;
	float: left;
	z-index: 100;
}

.phone_container {
	float: left;
	width: 480px; /* 1000px / 1250px */
	font-size: 0.8125em; /* 13 / 16 */
	max-width: 92.3em; /* 1200px / 13 */
	margin: 0 auto 0 50px;
	padding: 1em 0px 1em 0;	
	color: #333;
	line-height: 1.5em;
	position: relative;
	z-index: 100;
}

.selector-style {
	float: left;
}

.selector-style select {
	border: 1px solid #dddddd !important;  /*Removes border*/
	border-radius: 15px;
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
	     -moz-appearance: none;  /*Removes default style Firefox*/
	background: url('../images/arrow-selector.png') 182px 0px no-repeat #ffffff;
	width: 220px;
	height: 46px;
	text-indent: 0.3px;
	text-overflow: "";
	padding-left: 12px;
	font-weight: 500;
	font-size: 15px;
	color: #858585;
	-moz-box-shadow: 0 4px rgba(71, 71, 71, 0.41);
	box-shadow: 0 4px rgba(71, 71, 71, 0.41);
	outline: none;
	margin: 10px;
}

.selector-style2 select {
	border: 1px solid #dddddd !important;  /*Removes border*/
	border-radius: 5px;
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
	     -moz-appearance: none;  /*Removes default style Firefox*/
	background: url('../images/arrow-selector.png') 182px 0px no-repeat #ffffff;
	background-size: contain;
	width: 210px;
	height: 35px;
	text-indent: 0.3px;
	text-overflow: "";
	padding-left: 22px;
	font-weight: 600;
	font-size: 13px;
	color: #393939;
	-moz-box-shadow: 0 3px rgba(71, 71, 71, 0.31);
	box-shadow: 0 3px rgba(71, 71, 71, 0.31);
	outline: none;
	margin: 10px;
}

.search-title {
	font-size: 30px !important;
	font-weight: 400;
	color: #146060;
	margin: 0px !important;
}

.search-result {
	font-size: 24px !important;
	font-weight: 200;
	color: #146060;
	margin: 0px !important;
}

.search_bar {
	border: 1px solid #eee;
}

.search_box_wrap {
	clear: both;
	width: 50%; /* 1000px / 1250px */
	font-size: 0.8125em; /* 13 / 16 */
	min-width: 1000px;
	margin: 0 auto;
	padding: 11em 0px;

	color: #333;
	line-height: 1.5em;
	position: relative;
	z-index: 100;
	text-align: center;
	position: relative;
}

.search_box_wrap h1 {
	color: #ffffff;
	font: 38px "Open Sans";
	font-weight: 700;
	text-shadow: 1px 1px 2px #000000;
	margin-bottom: 0.2em;
}

.search_box_wrap p {
	color: #ffffff;
	font: 22px "Open Sans";
	text-shadow: 1px 1px 2px #000000;
	margin-bottom: 2em;
	font-weight: 300;
}

.search_field_wrap {
	margin-left: 150px;
	background-color: #a612a0;
}

.search_field_wrapper {
	margin: 40px auto 0;
	width: 800px;
}

.search_box_inside {
	float: left;
	width: 470px;
	margin: 0 auto;
	font-family: "Open Sans";
	font-size: 22px;
	color: #686;
	padding: 25px 25px 25px 35px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	-moz-box-shadow: 0 7px rgba(0, 0, 0, 0.35);
	box-shadow: 0 7px rgba(0, 0, 0, 0.35);
}

.search_box_advanced {
	width: 600px;
	margin: 0 auto 30px;
	font-family: "Open Sans";
	font-size: 18px;
	color: #686;
	padding: 15px 25px 15px 35px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	-moz-box-shadow: 0 7px rgba(0, 0, 0, 0.35);
	box-shadow: 0 7px rgba(0, 0, 0, 0.35);
}

.refine-box {
	float: left;
	width: 231px;
	display: block;
	clear: both;
	border: 1px solid #bfbfbf;
	padding-bottom: 15px;;
	margin-right: 30px;
}

.refine-input {
	width: 186px;
	height: 30px;
	margin: 10px auto 5px;
	display: block;
	border-radius: 5px;
	border: 1px solid #cecece;
	padding-left: 20px;
}

.refine-box .title {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #30353d;
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	padding-left: 11px;
	margin-bottom: 0px !important;
}

.glowing-border {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    transition: .3s;
 }

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    -moz-box-shadow: 0 7px rgba(0, 0, 0, 0.35);
    box-shadow: 0 7px rgba(0, 0, 0, 0.35);
}

.glowing-border2 {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    transition: .3s;
 }

.glowing-border2:focus { 
    outline: none;
    border-color: #9ecaed;
}

.btn_search_big {
	font-size: 22px;
	float: left;
	color: #ffffff;
	text-transform: uppercase;
	background: #e95764;
	padding: 30px 43px 33px 35px;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	-moz-box-shadow: 0 7px rgba(0, 0, 0, 0.35);
	box-shadow: 0 7px rgba(0, 0, 0, 0.35);
}

.btn_search_big:hover {
	background: #d84e5c;
	transition: .3s;
	font-size: 22px;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}

.btn_search_advanced {
	font: 21px "Open Sans";
	font-weight: 300;
	color: #ffffff;
	padding: 12px 60px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 20px;
	box-shadow: 0 3px rgb(163, 40, 53);
	-moz-box-shadow: 0 3px rgb(188, 67, 80);
	-webkit-box-shadow: 0 3px rgb(188, 67, 80);
	text-shadow: 0 0 0 rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
	opacity: 1;
	-o-transition:.1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	background-color: #ed5565;
	border: none !important;
	margin-top: 40px;
	cursor: pointer;
}

.btn_refine {
	font: 15px "Open Sans";
	font-weight: 300;
	width: 210px;
	float: left;
	color: #fff !important;
	padding: 6px 8px;
	border-radius: 4px;
	border: 0px none #134201;
	text-shadow: 0 0 0 rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
	transition:.1s;

	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.btn_refine:hover {
	background: #d84e5c;
	transition: .3s;
	color: #ffffff;
	box-shadow: 0 3px #a73b47;
	-moz-box-shadow: 0 3px #a73b47;
}

/*.btn_refine:active {
	top: 2px;
	position: relative;
	background: #d84e5c;
	transition: .3s;
	box-shadow: 0 -2px #932e39;
	-moz-box-shadow: 0 -2px #932e39;
	text-shadow: 3px 3px 5px rgba(246, 196, 196, 0.83), 0px 1px 0px rgba(255,255,255,0.3);
}*/

.btn-red {
	background-color: #ed5565;
	box-shadow: 0 3px 0 #bc4350;
	-moz-box-shadow: 0 3px 0 #bc4350;
}

.btn-blue {
	background-color: #54c5ed;
	box-shadow: 0 3px #42a2bc;
	-moz-box-shadow: 0 3px #42a2bc;
}

.btn-verify {
	background-color: #12adad;
	padding: 8px 18px;
	margin-left: -5px;
	border: 1px solid #cdcdcd; 
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #ffffff;
	font-size: 14px;
}

.btn-verify:hover {
	background-color: #13a6a6;
}

.center_element {
	margin: 0 auto;
	display: block;
	width: 300px;
}



.banner_content_wrap {
	display: block;
	margin: 0 auto;
	width: 980px;
	height: 400px;
	margin-top: 80px;

}

.center_content2 {
	display: block;
	margin: 0 auto;
	width: 980px;
	height: 400px;
	margin-top: 90px;
	padding-left: 40px;
}



.center_bg {
	width: 100%;
	background: #f2eeeb;
	height: 180px;
}

#what_is_hve { height: 350px; width: 400px; max-width: 700px;
	/*top: 530px; left: 250px;*/ margin-right: 10px;
	text-align: left;
	position: relative;
	z-index: 100;
	float: left;
}
	

#what_is_hve h1 {
	color: #ffffff;
	font: 30px "Open Sans";
	background-color: #159699;padding: 8px; display: inline;
	font-weight: 600;
}
	
#what_is_hve p {
	color: #ffffff;
	font: 17px "Open Sans";
	margin: 2em 10px 10px 0;
	text-shadow: 1px 1px 3px #30302f;
	font-weight: 300;
	letter-spacing: 1px; line-height: 30px;
}

.cb_banner_container { height:545px; margin: 4em auto 0; width: 100%; max-width: 1920px; position: relative; 
background: #f5f5f5 url('../images/bg_cb.jpg') no-repeat fixed left top; background-size: cover; padding-top: 60px;

}

.cb_banner_wrap {
	display: block;
	margin: 0 auto;
	width: 980px;
	height: 506px;
	margin-top: 37px;
	padding-left: 40px;
}

.cb_banner { height: 300px; width: 400px; max-width: 700px;
	float: left; margin-right: 10px;
	text-align: left;
	position: relative;
	z-index: 100;
}
	

.cb_banner h1 {
	width: 500px;
	color: #ffffff;
	font: 38px "Open Sans";
	padding: 5px 6px 5px 0; 
	font-weight: 700;
	text-shadow: 0 2px 1px #000000;
}
	
.cb_banner p {
	color: #ffffff;
	font: 19px "Open Sans";
	margin: 2em 10px 10px 0;
	text-shadow: 1px 1px 2px #30302f;
	font-weight: 300;
	letter-spacing: 1px; line-height: 30px;
}

#how_it_works { background-color:#FFF; position:fixed; height:600px; margin: 0 auto; width: 100%; max-width: 1920px; position: relative; }

#how_it_works {
	font-family: "Open Sans";
}

.plan { background-color:#FFF; position:fixed; height:660px; margin: 0 auto; width: 100%; max-width: 1920px; position: relative; padding-bottom: 25px;}
#video { background-color:#FFF; position:fixed; height:580px; margin: 0 auto; width: 100%; max-width: 1920px; position: relative; }
#window { background: url(../images/mobile_hve.jpg) 50% 0 no-repeat fixed; height: 500px;margin: 0 auto; width: 100%; max-width: 1920px; position: relative; background-size: cover; padding-top: 60px;
}

#window h2 {
	color: #ffffff;
	
}

#window h4 {
	color: #ffffff;
}

#window_cb { background: url(../images/bg_cb2.jpg) 50% 0 no-repeat fixed; height: 570px;margin: 0 auto; width: 100%; max-width: 1920px; position: relative; background-size: cover; padding-top: 0px;
}

/* News Content*/

.main_container {
	position: relative;
	padding-top: 140px;
	padding-bottom: 60px;
	width: 980px;
	margin: 0 auto;
}

#news_container {
	position: relative;
	width: 980px;
	margin: 0 auto;
}



.main_container h1 {
	color: #3c494b;
	font: 38px "Open Sans";
	padding-left: 0px;
	font-weight: 600;
	margin-bottom: 30px;
}

.news_category {
	position: relative;
}

.news_header {
	width: 980px;
	margin-top: 10px;
	height: 30px;
}
.news_header_left h1 {font: 14px "Open Sans";background-color: #9ac84d;padding: 3px 5px;float: left;color: #ffffff; font-weight: 400; margin: 0;}
.news_header_left h2 {font: 14px "Open Sans";background-color: #c7853a;padding: 3px 5px;float: left;color: #ffffff;font-weight: 400;margin: 0;}
.news_header_left h3 {font: 14px "Open Sans";background-color: #bf2217;padding: 3px 5px;float: left;color: #ffffff;font-weight: 400;margin: 0;}
.news_header_left h4 {font: 14px "Open Sans";background-color: #c2276f;padding: 3px 5px;float: left;color: #ffffff;font-weight: 400;margin: 0;}
.news_header_left h5 {font: 14px "Open Sans";background-color: #9736b3;padding: 3px 5px;float: left;color: #ffffff;font-weight: 400;margin: 0;}
.news_header_left h6 {font: 14px "Open Sans";background-color: #2758c2;padding: 3px 5px;float: left;color: #ffffff;font-weight: 400;margin: 0;}

.news_header_right {
	float: right;
	padding-right: 10px;
}

.news_header_right a {
	font-size: 12px;
	display: inline-block;
	color: #3b4a4d;
	font-weight: 600;
}

.news_header_right a:hover {
	text-decoration: none;
}

.news-block-wrap {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

.news_box {
	
	width: 275px;
	height: 326px;
	background-color: #f7f7f7;
	padding: 1em;
	position: relative;
	display: inline-block;
	margin-right: 5px;
	border: 1px solid #e7e7e7;
	overflow: hidden ;
}

.news_box h1 {
	margin-bottom: 10px;
	margin-top: 5px;
	padding-left: 0;
	font-weight: 600;
}

.news_box h1 a{
	font-family: "Open Sans";
	font-size: 18px;
	color: #ed5565;
	text-decoration: none;
}

.news_box p {
	font-family: "Open Sans";
	font-size: 12px;
	color: #3c494b;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.news_box a{
	font-family: "Open Sans";
	margin-bottom: 0.2em;
}

.news_box img {
	 width: 100%;
	 height: 188px;
	 overflow: hidden;
	background-color: #000000;
}


/******************************/
/*    Default Components      */
/******************************/
Select
{
    padding: 1px;
    margin:0px;   
}

select::-ms-expand {
    display: none;
}

Input
{
    padding: 2px;
}

Checkbox
{
    margin:0px;   
}

/********************/
/*   Button Style   */
/********************/

.roundedCorner
{
    border-color:#999999;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}


.btnAction
{
    display:inline-block;
    background: url("../Content/images/btnAction.gif") repeat-x scroll center center transparent;
    border: 1px solid #c7a000;
    border-radius: 5px 5px 5px 5px;
    color: #402A00;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding:5px 16px;
}

.btnAction:hover
{
    display:inline-block;
    background: url("../Content/images/btnActionHover.gif") repeat-x scroll center center transparent;
    border: 1px solid #c7a000;
    border-radius: 5px 5px 5px 5px;
    color: #402A00;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding:5px 16px;
}

.btnActionLogin
{
    border: 1px solid #c7a000;
    border-radius: 5px;
	background:url(images/btnAction.gif) repeat-x center;
    color:#402a00;
    text-shadow: 0 1px 0 #FFF;
    font-size:13px;
    font-weight:bold;
    padding:4px 20px;
    text-align:center;
    cursor:pointer;
    width:100px;
    height:32px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    margin-left:27px;
}
.btnActionLogin:hover
{
    border: 1px solid #c7a000;
    border-radius: 5px;
	background:url(images/btnActionHover.gif) repeat-x center;
    color:#402a00;
    text-shadow: 0 1px 0 #FFF;
    font-size:13px;
    font-weight:bold;
    padding:4px 20px;
    text-align:center;
    cursor:pointer;
    width:100px;
    height:32px;
    font-family:'Open Sans', Arial, Helvetica, sans-serif; 
    margin-left:27px;
}

.btnSubAction
{
    background: url("../Content/images/btnAction.gif") repeat-x scroll center center transparent;
    border: 1px solid #c7a000;
    border-radius: 5px 5px 5px 5px;
    color: #402A00;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    width: 80px;
    height: 32px;
    padding:0px 0px 4px 0px;
}

.btnSubAction:hover
{
    background: url("../Content/images/btnActionHover.gif") repeat-x scroll center center transparent;
    border: 1px solid #c7a000;
    border-radius: 5px 5px 5px 5px;
    color: #402A00;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    width: 80px;
    height: 32px;
    padding:0px 0px 4px 0px;
}

.btnSubActionDisable
{
    border:1px #c7a860 solid;
    border-radius: 4px;
    background:url(../Images/Button/btnAction.gif) repeat-x center;
    color:#999999;
    font-size:11px;
    font-weight:bold;
    height:22px;
    text-align:center;
    cursor:pointer;
    text-transform:uppercase;
    width:80px;
}

.btnSubActionDisable:hover
{
    border:1px #c7a860 solid;
    border-radius: 4px;
    background:url(../Images/Button/btnActionHover.gif) repeat-x center;
    color:#999999;
    font-size:11px;
    font-weight:bold;
    height:22px;
    text-align:center;
    cursor:pointer;
    text-transform:uppercase;
    width:80px;
}

.btnMainAction
{
    background: url("../Content/images/btnAction.gif") repeat-x scroll center center transparent;
    border: 1px solid #c7a000;
    border-radius: 5px 5px 5px 5px;
    color: #402A00;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    height: 32px;
    padding:4px 20px;
}

.btnMainAction:hover
{
    background: url("../Content/images/btnActionHover.gif") repeat-x scroll center center transparent;
    border: 1px solid #c7a000;
    border-radius: 5px 5px 5px 5px;
    color: #402A00;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; 
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    height: 32px;
    padding:4px 20px;
}

.list {
	background-color: #ffffff;
	width: 700px;
	height: auto;
	padding: 1.2em 0;
	position: relative;
}


.list img {
	margin-right: 16px;
	width: 100px;
	height: 100px;
	display: block;
	float: left;
}

.text_wrapper {
	float: left;
	width: 560px;
	position: relative;
}
.textbox {
	width: 700px;
	display: block;
	position: relative;
	height: 100px;             /* don't show excess chars */
	position: relative;
}

.textbox a{
	float: left;
}

.textbox h1 {
	font: bold 18px "Open Sans";
	color: #ed5565;
	margin: 0 0 5px;
	padding-left: 0;
}

.textbox h1 a {
	text-decoration: none;
	color: #ed5565;
	float: left;
}

.textbox p {
	color: #767676;
	font: 13px "Open Sans";
	letter-spacing: 0.8px;
	line-height: 1.5;
	display: block;
	height: 37px;
	float: left;
	clear: both;
}

.leftcontent {
	position: relative;
	width: 980px;
	float: left;
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
}

.leftcontent h1 {
	font: 30px "Open Sans";
	color: #ed5565;
}

.leftcontent h2 {
	color: #939393;
	font: italic 12px "Open Sans";
}

.leftcontent p {
	color: #3c494b;
	font: 14px/2em "Open Sans";
	margin-top: 10px;
}

.leftcontent img {
	width: 980px;
	height: 330px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.rightcontent {
	position: relative;
	width: 400px;
	float: left;
	margin-right: 10px;
	padding-bottom: 1em;
	padding-right: 10px;
	padding-left: 10px;
	overflow: hidden;
	border-top: 10px solid #8a8a8a;
	border-image: url('../images/divider_stripe.png') 10 0 5 0 repeat;
	
}

.rightcontent h1 {
	font: 18px "Open Sans";
	color: #576a6d;

}

.page_ind {
	float: left;
	padding: 5px;
}

.page_ind h1 {
	font: 14px "Open Sans";
	font-weight: 700;
	float: left;
	margin: 10px;
	
}

.page_ind h1 a{
	
	font: 14px "Open Sans";
	font-weight: 700;
	margin: 10px;
	text-decoration: none;
	color: #576a6d;
}

.page_ind h1 a:hover {
	color: #0f8383;
}


.stripe {
	float: left;
	position: relative;
}



.thumbbox{
	position: relative;
	width: 400px; height: 80px;
	padding: 1em 1em 1em 0;
	float: left;
	height: 4em;
	color: #ed5565;
	font: 14px "Open Sans";
	margin: 0;
	overflow: hidden;
}

.thumbbox a {
	text-decoration: none;
	border: none;
	color: #ed5565;
}


.thumbbox a:hover{
	text-decoration: underline;
}





.thumbbox img {
	width: 88px; height: 66px;
	position: relative;
	float: left;
	margin-right: 10px;	
}

/*Side Navigation*/

/* main page */
#w {
  display: block;
  width: 980px;
  margin: 0 auto 100px;
  background: none;


}


#content {
  display: block;
  background: #fff;
  padding: 0px 15px;
  margin-left: 10px;
  min-height: 300px;
}

.contentblock {
  display: block;
  padding: 15px 0 15px 20px;
  
}

.contentblock.hidden {
  display: none;
}

/* side navigation */
.sidemenu {
  margin: 1em 1em 3em 0;
  padding: 0 1em 1em 0;
  width: 180px;
  float: left;
  background: #ffffff;
  font-family: "Open Sans";
	border-top: 10px solid #8a8a8a;
	border-bottom: 5px solid #8a8a8a;
	border-image: url('../images/divider_stripe.png') 10 0 5 0 repeat;
}


.sidemenu li { display: block; text-align: left; border-top: 1px solid #fff; font: 1.1em "Open Sans"; }

.sidemenu li h1 {
	font: 18px "Open Sans";
	color: #8d8d8d;
}

.sidemenu li a { 
  display: block;
  padding: 6px 2px;
  color: #555;
  text-decoration: none;

}
.sidemenu li a:hover {
}

.sidemenu li a strong { 
  display: block;
  margin-top: 5px;
  font-weight: 600;
}

.sidemenu li a.open {
  width: 101%;
	color: #12adad;
}

/* extra styles */
.bigtxtfield {
  display: block;
  width: 350px;
  color: #555;
  padding: 4px 6px;
  margin-bottom: 15px;
}

.bigtxtarea {
  display: block;
  width: 440px;
  height: 90px;
  padding: 5px 9px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 1.2em;
}



.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }




/* Background Content */

#home article { background: url("../images/search.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 400px; width: 100%; }
#about article { background: url("../images/parallax.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }
#about article { background: url("../images/parallax.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }

/* Class */

.content { width:980px; margin: 1px auto 0; text-align:center; padding:0px 0; background: #f5f5f5 url('../images/mobile_hve.jpg') no-repeat left fixed top;
}
.content p {
	font: italic 18px "Open Sans";
	margin-top: 20px;
	color: #3c494b;
	font-weight: 300;
}
.content_left { width:60%; float:left; padding:10px 0 0 0; margin-top: 1em;
	margin-left: 10px; text-align: left;
}

.content_left h2 {
	width: 730px;
	font: 36px "Open Sans";
	background-color: #2f3333;
	padding: 10px;
	font-weight: 600;
}

.content_left .pu_h3 h1 {
	width: 650px;
	font: 36px "Open Sans";
	background-color: #2f3333;
	padding: 5px 10px 8px 15px;
	font-weight: 600;
	color: #ffffff;
}


.content_left h4 {
	font: 24px "Open Sans";
	text-shadow: 2px 2px 2px #000000;
	font-weight: 300;
	line-height: 34px;
	letter-spacing: 1px;
	font-weight: 300;
	letter-spacing: 1px;
}

.content_left2 { width:600px; float:left; padding:10px 0 0 0; margin-top: 1em; margin-left:10px	;
	text-align: left; }

.content_left2 h2 {

	width: 720px;
	font: 36px "Open Sans";
	background-color: #e03c4d;
	padding: 5px 8px 8px;
	font-weight: 600;
	

}

.content_left2 h4 {
	font: 24px "Open Sans";
	text-shadow: 2px 2px 2px #000000;
	font-weight: 300;
	letter-spacing: 1px;
}

.planbtn_container {
	padding-top: 20px;
}

.content_right { width:470px; float:right; }
.content h1 { font-family:"Open Sans"; color:#3c494b; font-size:38px; font-weight: 700; padding-top: 20px; }
.content h2 { font-family:"Open Sans"; color: #ffffff; font-size:36px; padding-top:0px; }
.content h3 { font-family:"Open Sans"; color:#3c424b; font-size:22px; padding:15px 0 0 5px; line-height:35px; font-weight: 300;}
.content h4 { font-family:"Open Sans"; color: #ffffff; font-size:19px; padding:0 0 0 5px; line-height:30px; text-align:left; }
.content h5 { font-family:"Open Sans"; color:#12adad; font-size:22px; padding:5px; }
.content h6 { font-family:"Open Sans"; color:#12adad; font-size:19px; padding:10px; }
.content h7 { font-family:"Open Sans"; color:#ed5565; font-size:22px; padding:0px 0 0 5px; line-height:30px; }
.plan_btn { text-align:left; padding-top:5px; margin-top: 5px;}
.tab_img { text-align:left; padding-top:20px;  }
.how_it_works_content { margin:0 auto; padding:50px 0 0; }
.how_it_works_content h1 { font-family:"Open Sans"; color:#3c424b; font-size:38px; text-align:center; font-weight: 700; padding-bottom: 0px;
}
.video_desc .learn_more { background:url('../images/learn-more.png') no-repeat; width:128px; height:43px; display:block;}
.video_desc .learn_more a { background:url('../images/learn-more.png') no-repeat; width:128px; height:43px; display:block; }
.video_desc .learn_more a:hover { background:url('../images/learn-more-hover.png') no-repeat; width:128px; height:43px; display:block; }

/* ---------- SEARCH ---------- */

.search_topbar_wrap {
	width: 240px;
	background: rgba(255, 255, 255, 0);
	border-radius: 3px;
	padding-top: 7px;
	margin: 3px auto 0 8px;
	position: relative;
	float: left;
	font-family: "Open Sans";
}

.search_topbar {
		width: 220px;
	    border: 1px solid #cdcdcd; 
	    border-radius: 3px;
	    -webkit-box-shadow: 
	      inset 0 0 5px  rgba(0,0,0,0.1);
	           
	    -moz-box-shadow: 
	      inset 0 0 5px  rgba(0,0,0,0.1);
	           
	    box-shadow: 
	      inset 0 0 5px  rgba(0,0,0,0.1);
	           
	    padding: 7px;
	    background: rgba(255,255,255,0.5);
	    margin: 0 0 10px 0;
}

.verify-bar-wrap {
	position: relative;
	float: left;
	margin-left: 35px;
	margin-top: 5px;
}

.verify-text-input {
	padding: 8px;
	background: #fff;
	width: 300px;
	border: 1px solid #cdcdcd; 
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.container {
	position: relative;
}

.container h1 {
	color: #0be0be;
	position: relative;
	display: inline-block;
	float: left;
	margin: 0;
	padding-top: 20px;
}

.container h1 a {

	color: #12adad;
	font: 12px "Open Sans";
	font-weight: 700;
}

.container h1 a:hover {
	text-decoration: none;
}


.container01{
	width: 980px; height: 630px;
	margin: 3em auto 3em; text-align:center;
	background-color: #ffffff; padding: 1em; background: #fff url('../images/map.jpg') no-repeat center bottom;
}


.register-now-container {
	width: 100%; margin:0 auto; text-align:center;
	background-color: #12adad; padding: 1em;
}

.register-now-container h1 {
		color: #ffffff;
		font: 38px "Open Sans";
		font-weight: bold;
		margin-bottom: 0.5em;
		font-weight: 700;
}


.register-now-container h2 {
		color: #ffffff;
		font: 17px "Open Sans";
		margin-bottom: 0.5em;
}

.register-now-container p {
	width: 700px;
	margin: 0 auto;
	color: #ffffff;
	font: 22px "Open Sans";
	font-weight: 300;
}

.static-wrapper {
	width: 100%;
	position: relative;
	padding-top: 20px;
}

.static-wrapper p {
	/*float: left;*/
	font-size: 15px;
	color: #707070;
	line-height: 30px;
	font-weight: 400;
}

#search input {
	float: left;
	border: 1px solid #ccc;
}

#search input[type="search"],
#search input[type="submit"] {
	border-radius: 3px;
	font-size: 12px;
}

#search input[type="search"] {
	background: #fff;
	color: #42454e;
	min-width: 300px;
	padding: 8px 18px;
}

#search input[type="submit"] {
	background: url(../images/btn-search.png) #1bba9a no-repeat;
	color: #fff;
	margin-left: 7px;
	padding: 6px 10px;
	width: 32px;
	height:32px;
	float: left;
}

#search input[type="submit"]:hover {
	background: url(../images/btn-search.png) #189e83;
}

#search input[type="search"]::-webkit-input-placeholder { color: #42454e; }
#search input[type="search"]:-moz-placeholder { color: #42454e; }
#search input[type="search"]:-ms-input-placeholder { color: #42454e; }

/* Video */

#video_content { margin:50px auto 0; padding:0; width:980px; font-family:'museo_sans300', Arial, Helvetica, sans-serif; font-size:15px; text-align:justify; line-height:24px; }
#screenshot { float:left; width:400px; margin-right:50px; }
#video_desc { float:right; width:450px; padding:0 20px; }
.watch_video { width:150px; height:43px; margin-top:45px; float: right; position: relative;
}
.watch_video a { background:url('../images/watch-video.png'); width:150px; height:43px; display:block; }
.watch_video a:hover { background:url('../images/watch-video-hover.png'); width:150px; height:43px; display:block; }

/* Plan & Pricing */

#package_table { margin: 0 auto 10px; padding-left:60px; }
.package { font-family: "Open Sans"; color:#fff; width:220px; height:270px; float:left; background:#434a54; display:block; margin:75px -1px 0; padding:75px 0 0; box-shadow:0 0 1px #999; -moz-box-shadow:0 0 1px #999; -webkit-box-shadow:0 0 1px #999; position:relative; }
.package .package_header { height:110px; width:110px; background-color: #515a66; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; border: 5px solid #7b848f; position:absolute; top:-45px; left:50%; margin:0 0 0 -55px; text-align: center;
}
.package .package_header h1 {width: 100px; height: 40px;color:#fff;
	font: 40px "Open Sans";
	text-align:center;
	font-weight: 700;
	line-height:5px; 
	margin: 0;
	padding-top: 40px;
	padding-left: 5px;
}
.package .package_header h2 {color:#fff; font-family:"Open Sans"; font-size:16px; text-align:center; padding:0; margin: -13px 0 0; }
.package .package_header h3 { width: 100px; height: 40px;
	color:#fff;
	font: 18px "Open Sans"; font-weight: 700;
	text-align:center; 
	margin-bottom: 16px;
	margin-top:23px;
	padding: 0 0 0 5px;
	line-height:19px; }
.package .desc {border-top:none; height:145px; }
.package .desc ul { padding:5px 0px 15px; margin:0; list-style:none; }
.package .desc ul li.package_type { padding:10px 0; border-bottom:1px solid #4f5968; }
.package .desc ul li.package_usd { padding-top:20px; font-weight: 200;}
.package .desc ul li { padding:0px 0; }
.package .desc ul li h1 { font-family:"Open Sans"; font-size:45px; color:#fff; padding:0; margin-bottom: 0; margin-top: 0; }
.package .desc ul li h2 { font-family:"Open Sans"; font-size:16px; color:#fff; padding:0; }
.package .desc ul li h1 sup {font: 25px "Open Sans"; color:#fff; padding:0; font-weight: 300; }
.package .desc ul li.last { border:none; }
.package .btn { font-size:15px; width:128px; height:43px; background:url('../images/select_btn.png') no-repeat; display:block; margin: 40px auto 0;
	color: #ffffff;
	padding-top: 10px
}

.package:hover { width:220px; background:#12adad; z-index:1; margin:75px -3px 0; position:relative; top:-10px; box-shadow:0 0 15px rgba(0,0,0,0.4); -moz-box-shadow:0 0 15px rgba(0,0,0,0.4); -webkit-box-shadow:0 0 15px rgba(0,0,0,0.4); border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.package:hover .package_header { -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; border: 5px solid #61d4d4; background-color:#0b9090;  }
.package:hover .desc ul li.package_type { padding:10px 0; border-bottom:1px solid #61d4d4; }
.package:hover .desc { border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; }
.package:hover .btn { background:url('../images/selected_btn.png') no-repeat; width:128px; height:43px;
	;
	color: #ffffff;
}

/* Footer */

#footer01 { width:100%; height:150px; background-color:#30353d; float: left; }
#footer02 { width:100%; height:150px; background-color:#282c33; float: left; padding-left: 0px; padding-right: ;
}

#footer02_inner { width:1000px; height: 300px;
		margin: 0 auto; padding-right: ;
}
#footer01_content { width:1000px; margin:0 auto; }
#footer02_content { width:500px; padding-bottom: 3em; float: left; margin-left: 0;
	padding-top:10px;
	color:#c7ceda;
	font: 12px "Open Sans";
	list-style:none; text-align: left;  }
#footer02_content a { color:#c7ceda; font-size:12px; list-style:none;  }
#footer02_content a:hover { color:#3fd0d0; }
#footer01_content ul { list-style:none; margin:0; padding:8px 0 0 0; }
.sitelink { font-family:'museo_sans300', Arial, Helvetica, sans-serif; color:#c7ceda; font-size:13px; list-style:none; margin-right:45px; float:left; }
#footer01_content ul li {   margin:0; color:#c7ceda; font-size:11px; }
#footer01_content ul li a { display:block; text-decoration:none; padding-bottom:10px; margin:0; line-height:14px; color:#c7ceda; font-size:13px;  }
#footer01_content ul li.last a { padding-right:0; }
#footer01_content ul li a:hover { color:#3fd0d0; }
#sitemap { margin:0; padding:40px 0; }
#sitemap h1 {
	font-weight: 300;
	color:#fff;
	font: 22px "Open Sans";
	text-transform:capitalize; margin:0 auto; text-align:center; }
#sitemap span h2 { font-family:'museo_sans500', Arial, Helvetica, sans-serif; display:block; text-decoration:none; text-transform:uppercase; margin:0; padding-top:20px; color:#fff; font-size:13px;  }
#google_translate_element { float:right; }
.copyright { float:left; padding-top:8px; margin-top: 2em; }
.language { float:left; }
.disclaimer { width: 530px;
	float:left; padding:8px 0px 0 0; }

.disclaimer a {
	margin-left: 2px; margin-right: 2px; padding-top: 0;
}

.footer_right_content { float:right; margin: 15px;
}
.sitelink { font-family:'museo_sans300', Arial, Helvetica, sans-serif; color:#c7ceda; font-size:13px; list-style:none; margin-right:58px; float:left; }
#sitemap .sitelink_social_icon ul li { float:left; position:relative; margin:0; padding-right:5px; }
#sitemap .sitelink_social_icon ul li.facebook a { background:url('../images/fb-icon.png'); width:39px; height:29px; }
#sitemap .sitelink_social_icon ul li.facebook a:hover { background:url('../images/fb-hover-btn.png'); width:39px; height:29px; }
#sitemap .sitelink_social_icon ul li.twitter a { background:url('../images/twitter-icon.png'); width:39px; height:29px; }
#sitemap .sitelink_social_icon ul li.twitter a:hover { background:url('../images/twitter-hover-btn.png'); width:39px; height:29px; }
#sitemap .sitelink_social_icon ul li.google a { background:url('../images/google-icon.png'); width:39px; height:29px; }
#sitemap .sitelink_social_icon ul li.google a:hover { background:url('../images/google-hover-btn.png'); width:39px; height:29px; }

/* Certification Bodies */

#sitemap .cert_bodies { margin:0 auto; padding-top:20px; white-space: nowrap;
}
#sitemap .cert_bodies ul { list-style:none; padding:8px 0 0 0; }
#sitemap .sitelink { list-style:none; padding-right:2px; float:left; }
#sitemap .cert_bodies ul li { float:left; position:relative; }
#sitemap .cert_bodies ul li a { display:block; text-decoration:none; margin-right:5px;  }
#sitemap .cert_bodies ul li.last a { padding-right:0; }
#sitemap .cert_bodies ul li a:hover { color:#3fd0d0; }


/*Account Settings*/

.signin_maincontent {
	position: relative;
	margin: 0 auto;
	padding-top: 120px;
	padding-bottom: 50px;
	width: 980px;
	display: block;
}

.signin_content {
	float: left;
	width: 600px;
	display: block;
	font-size: 13px;
}

.signin_content h1 {
	color: #3c494b;
	font: 38px "Open Sans";
	padding-left: 0px;
	font-weight: 600;
	margin: 0 0 30px;
}

.signin_content h2 {
	font-size: 20px;
	color: #146060;
	margin-bottom: 15px;
}

.signin_contentleft {
	float: left;
	width: 280px;
	display: block;
	border: 1px solid #d1d1d1;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 10px;
	margin-right: 50px;
	font-family: "Open Sans";
	
}

.signin_contentleft dl {
	text-align: left;
	border-bottom: 1px dotted #d6d6d6;
	margin-bottom: 10px;
}

.signin_contentleft dt {
	margin-bottom: 10px;
}

.signin_contentleft dt a {
	text-decoration: none;
	color: #009ba9;
	font-size: 17px;
	
}

.signin_contentleft dd {
	margin-bottom: 10px;
	margin-left: 5px;
}

.signin_contentleft dd a {
	text-decoration: none;
	color: #686868;
	font-size: 13px;
}

.signout_content {
	float: left;
	width: 690px;
	display: block;
}

.signout_content h1 {
	font-size: 30px;
	margin: 0px;
	color: #146060;
	font-weight: 400;
}

.pagingLeft {
	text-align: left;
	/* float: left; */
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	color: #146060;
	font-weight: 300 !important;
}

.pagingLeft a{
	float: right;
	display: block;
}

.acc_photo {
	width: 120px;
	float: left;
	margin-bottom: 15px;
}

.acc_photo p{
	font-size: 12px;
	font-style: italic;
	color: #cfcfcf;
}

.acc_photo img {
	width: 100px;
	height: 100px;
	background: #f5f5f5 url('../images/default_user.png') no-repeat left top;
}


.form_line {
	height: 80px;
	position: relative;
	clear: both;
	display: block;
}

.form_container {
	width: 300px;
	text-align: left;
	float: left;
	padding: 0 2em;
	display: block;
	margin: 10px 0;
	
	
}

.form_container2 {
	width: 250px;
	text-align: left;
	float: left;
	padding: 0 2em;
	
}

.form_select {
	width: 150px;
	text-align: left;
	float: left;
	padding: 0 0;
	margin-right: 6em;
	margin-left: 1em;
	margin-top: 1em;
}

.form_select label {
	padding-bottom: 10px;
}

.login_maincontainer {
	position: relative;
	width: 350px;
	height: 500px;
	background-color: #ffffff;
	margin: 0 auto;
	font-family: "Open Sans";
	margin-bottom: 10px;
	padding-top: 150px;
}


.login_fb {
	float: left;
	width: 270px;
	margin-left: 30px;
	padding-left: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 4px;
	border: 0px none #134201;
	-moz-box-shadow: 0 3px #1f427f;
	-webkit-box-shadow: 0 3px #1f427f;
	text-shadow: 0 0 0 rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
	opacity: 1;
	-o-transition:.9s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	background-color: #3c60a2;
	box-shadow: 0 3px #1f427f;
	cursor:pointer;
}

.login_fb:hover {
	background-color: #30508a;
	box-shadow: 0 3px #173261;
	-moz-box-shadow: 0 3px #173261;
}

.login_fb a,
.login_fb a:hover{
	height: 35px;
	font: 17px "Open Sans";
	font-weight: 300;
	color: #fff !important;
	text-decoration: none;
	float: left;
	padding-top: 12px;
	border-left: 1px solid #4f70ae;
	padding-left: 20px;
}

.login_fb span.fb {
	background: url('../images/fb_icon.png') no-repeat left top;
	width: 40px;
	height: 40px;
	float: left;
	border-right: 1px solid #3f5a87;
	margin-top: 5px;
}


.login {
	float: left;
	font-size: 17px;
	font-weight: 300;
	width: 285px;
	padding: 10px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 4px;
	border: 0px none #134201;
	-moz-box-shadow: 0 3px #bb4250;
	-webkit-box-shadow: 0 3px #bb4250;
	-o-transition:.9s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	background-color: #ed5565;
	box-shadow: 0 3px #bb4250;
	margin: 10px 10px 10px 30px;
	color: #ffffff;
	cursor: pointer;
}

.login_field {
	width: 270px;
	border: 1px solid #cdcdcd; 
	border-radius: 3px;
	-webkit-box-shadow: 
	  inset 0 0 5px  rgba(0,0,0,0.1);
	       
	-moz-box-shadow: 
	  inset 0 0 5px  rgba(0,0,0,0.1);
	       
	box-shadow: 
	  inset 0 0 5px  rgba(0,0,0,0.1);
	       
	padding: 7px;
	background: rgba(255,255,255,0.5);
	margin: 0 0 10px 0;
}

.login_text {
	float: left;
	color: #576a6d;
	font-size: 13px;
	padding-left: 30px;
}

.login_text a{
	color: #3fd0d0;	
}

.login_text a:hover{
	color: #FFCA6E;
}

.login_link{
	color: #3fd0d0;	
	float: right;
	font-weight: 600;
	font-size: 13px;
}

.login:hover {
	-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 4px;
		border: 0px none #134201;
		-moz-box-shadow: 0 3px rgb(163, 40, 53);
		-webkit-box-shadow: 0 3px rgb(163, 40, 53);
	box-shadow: 0 3px rgb(163, 40, 53);
	background-color: #cf404f;
}

.login a,
.login a:hover{
	height: 35px;
	font: 17px "Open Sans";
	font-weight: 300;
	color: #fff !important;
	text-decoration: none;
	float: left;
	padding-top: 5px;
}

.login span.fb {
	background: url('../images/fb_icon.png') no-repeat left top;
	width: 40px;
	height: 35px;
	float: left;
	border-right: 1px solid #3f5a87;
}


.login_col {
	float: left;
	width:100%;
	display: block;
	border: 1px solid #dbdbdb;
	padding-bottom: 20px;
	font-family: "Open Sans";
}

.login_col h1 {
	padding:1em;
	font-size: 20px;
	font-weight: 700;
	background-color: #f7f7f7;
	color: #677678;
	margin: 0;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 20px;
}

.login_col h2 {
	padding-left: 30px;
	margin-top: 10px;
	float: left;
	clear: both;
	color: #b8b8b8;
}

.login_col img {
	width: 283px;
	margin-left: 30px;
	margin-bottom: 10px;
	float: left;
	margin-top: 10px;
}

.login_form {
	width: 285px;
	height: 40px;
	border-radius: 10px;
	margin-left: 30px;
	margin-top: 10px;
	float: left;
	clear: both;
}



.label1 {
	float: left;
	font-weight: normal;
	font: 12px "Open Sans";
	margin-left: 5px;
	padding-bottom: 0;
}

.label2 {
	float: left;
	font-weight: normal;
	font: 12px "Open Sans";
	margin-left: 10px;
	padding-top: 10px;
}


.maincontainer {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 130px;
}


.product_content {
	position: relative;
	width: 635px;
	float: left;
	text-align: left;
	font-family: "Open Sans";
	padding-bottom: 20px;
}

.suggestion_container {
	position: relative;
}

.bold {
	font-weight: bold;
}

.text_red {
	color: #ed5565;
}

.text_green {
	color: #12adad;
}

.txtNormalGreenBold {
color: #006666;
text-decoration: none;
vertical-align: middle;
font-weight: 500;
line-height: 17px;
font-weight: 600;
font-size: 14px;
}

.txtNormalGrey {
color: #595959;
text-decoration: none;
font-size: 13px;
text-align: left;
vertical-align: middle;
font-weight: normal;
line-height: 17px;
margin-top: 20px;
}

a.linkText-S:visited {
color: #006666;
font-weight: normal;
font-size: 11px;
text-decoration: underline;
}
a.linkText-S:link {
color: #006666;
font-weight: 600;
font-size: 13px;
text-decoration: none;
}

.product_content h1 {
	color: #146060;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.product_content h2 {
	color: #009ba9;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 400;
}

.product_content p {
	height: 20px;
	line-height: 27px;
	font-size: 14px;
	margin-bottom: 10px;
}

.sub_title {
	float: left;
	width: 300px;
	height: 85px;
	position: relative;
}

.indicator_box {
	margin-top: 9px;
	float: left;
	width: 610px;
	border: 1px solid #d1d1d1;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

.hveind_logo {
	float: left;
	height: 234px;
	width: 206px;
	background: #fff url('../images/hveindicator_logo.png') no-repeat center;
	border: none;
}

.hve_thumb_box {
	width: 361px;
	float: left;
	margin-bottom: 10px;
	position: relative;
}

.hve_thumb {
	text-align: center;
	height: 65px;
	width: 50px;
	background: #fff url('../images/icon_thumb.png') no-repeat center bottom;
	float: left;
	margin: 5px;
}

.hve_thumb h1 {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	margin: 0px;
}

.hve_thumb_box h3 {
	width: 100px;
	color: #bfbfbf;
	font-size: 15px;
	float: left;
	padding-top: 5px;
	padding-left: 5px;
}

.hve_thumb_box h4 {
	color: #000000;
	font-size: 10px;
	float: left;
	clear: both;
	padding-top: 5px;
	padding-left: 5px;
}

.review_box {
	float: left;
	clear: both;
	margin-top: 10px;
}

.review_box a {
	color: #3f8c9f;
	font-size: 15px;
	text-decoration: none;
	width: 100px;
	margin-right: 10px;

}

.divider_ind {
	float: left;
	height: 250px;
	width: 30px;
	background: #fff url('../images/divider-ind.png') no-repeat left top;
}

.right-detail-box {
	
	float: left;
	width: 290px;
	border: 1px solid #d1d1d1;
	padding-top: 20px;
	padding-bottom: 10px;
	display: block;
	text-align: center;
	font-family: "Open Sans";
	position: relative;
}

.right-detail-box a {
	margin-left: 10px;
	margin-bottom: 15px;
}


.right-detail-box h1 {
	color: #009ba9;
	font-size: 20px;
	font-weight: 400;
}

.right-detail-box p {
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 400;
}

.right-detail-box p a {
	color: #009ba9;
	margin: 0;
}


.right-detail-box img {
	height: 90px;
}

.logo_placeholder {
	margin: 30px auto 0;
	display: block;
	clear: both;
}

.location_box {
	margin-top: 10px;
	float: left;
	width: 895px;
	border: 1px solid #d1d1d1;
	padding: 10px 10px 10px 20px;
	display: block;
	text-align: center;
	font-family: "Open Sans";
	position: relative;
}

.location_box img {
	background-color: #000000;
	display: block;
	margin: 10px 10px 10px 0;
}

.location_box h1 {
	font-size: 20px;
	font-weight: 400;
	color: #009ba9;
	text-align: left;
	margin-bottom: 0px;
}

.dl_text {
	width: 250px;
	float: left;
	margin-top: 10px;
	padding-left: 20px;
	clear: both;
}

.dl_text dl {
	text-align: left;
}

.dl_text dl dt {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	margin-top: 10px;
}

.dl_text dl dd {
	color: #000000;
	font-size: 13px;
	margin: 0;
}

.dl_text h1 {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
}

.dl_text p {
	color: #000000;
	font-size: 13px;
}



.btn_container {
	width: 242px;
	margin: 13px auto 10px;
	float: left;
	padding-left: 30px;
}

.btn_yellow {
	
	background: #ffca57;
	color: #3a3a3a;
	border: 0px;
	padding: 13px 30px;
	border-radius: 30px;
	box-shadow: 0 5px #e4a51e;
	-moz-box-shadow: 0 5px #e4a51e;
	font-size: 15px;
}

.btn_yellow:hover {
	color: #3a3a3a;
	background: #f5be45;
	text-decoration: none;
	box-shadow: 0 5px #bf860c;
	-moz-box-shadow: 0 3px #bf860c;
}

.btn_yellow2 {
	width: 217px;
	height: 52px;
	background: #fff url('../images/btn_yellow2.png') no-repeat left top;
	padding-top: 5px auto;
	color: #583d04;
	font-size: 14px;
	margin-top: 15px;
	border: 0px;
}

.btn_switch {
	width: 193px;
	height: 32px;
	background: #fff url('../images/btn_switch.png') no-repeat left top;
	padding: 5px 2px 5px 30px;
	color: #ffffff;
	font-size: 13px;
	border: none;
}

.btn_setting {
	background-color: #525964;
	border-radius: 20px;
	padding: 6px 10px;
	font-size: 14px;
	font-weight: 400;
	float: left;
	color: #ffffff !important;
	
}

.btn_setting a{
	color: #ffffff !important;
}

.btn_setting span.gear {
    background: url(../images/gear.png) no-repeat;
    float: left;
    width: 22px;
    height: 20px;
    margin-right: 5px;
}

.btn_search {
	width:35px;
	height: 35px;
	float: left;
	background: #fff url('../images/btn-search.png') no-repeat left top;
	margin: 11px 8px 8px 4px;
	border: none;
	cursor: pointer;
}

.btn_OK 
{
    cursor:pointer;
	font: 16px "Open Sans";
	font-weight: bold;
	color: #fff !important;
	padding: 4px 16px 4px 18px;
	border-radius: 4px;
	border: 0px none #134201;
	text-shadow: 0 0 0 rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
	opacity: 1;
	transition:.1s;
	background-color: #ed5565;
	box-shadow: 0 3px 0 #bc4350;
	-moz-box-shadow: 0 3px 0 #bc4350;
}

.btn_OK:hover 
{
    cursor:pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 4px;
	border: 0px none #134201;
	-moz-box-shadow: 0 3px rgb(163, 40, 53);
	-webkit-box-shadow: 0 3px rgb(163, 40, 53);
	box-shadow: 0 3px rgb(163, 40, 53);
	background-color: #cf404f;
	/*background: #fff url('../images/btn_reg_hover.png') no-repeat left top;*/

}

.btn_reg {
	font: 21px "Open Sans";
	font-weight: 300;
	color: #fff !important;
	padding: 6px 8px;
	border-radius: 4px;
	border: 0px none #134201;
	text-shadow: 0 0 0 rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
	opacity: 1;
	transition:.1s;
	background-color: #ed5565;
	box-shadow: 0 3px 0 #bc4350;
	-moz-box-shadow: 0 3px 0 #bc4350;
}

.btn_reg:hover {
	-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 4px;
		border: 0px none #134201;
		-moz-box-shadow: 0 3px rgb(163, 40, 53);
		-webkit-box-shadow: 0 3px rgb(163, 40, 53);
	box-shadow: 0 3px rgb(163, 40, 53);
	background-color: #cf404f;
	/*background: #fff url('../images/btn_reg_hover.png') no-repeat left top;*/

}


.btn_register{
	font: 21px "Open Sans";
	font-weight: 300;
	color: #ffffff;
	padding: 12px 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 4px;
	box-shadow: 0 3px rgb(163, 40, 53);
	-moz-box-shadow: 0 3px rgb(188, 67, 80);
	-webkit-box-shadow: 0 3px rgb(188, 67, 80);
	text-shadow: 0 0 0 rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
	opacity: 1;
	margin: 2em;
	-o-transition:.9s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	background-color: #ed5565;
	border: none !important;
	
	
}


.btn_register2 {
	font: 21px "Open Sans";
	font-weight: 300;
	color: #ffffff;
	padding: 12px 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 4px;
	border: 0px none #134201;
	-moz-box-shadow: 0 3px rgb(188, 67, 80);
	-webkit-box-shadow: 0 3px rgb(188, 67, 80);
	text-shadow: 0 0 0 rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
	opacity: 1;
	margin: 160px 2em 2em;
	-o-transition:.9s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	background-color: #ed5565;
}

.btn_register2:hover,
.btn_register:hover {
	
	-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 4px;
		border: 0px none #134201;
		-moz-box-shadow: 0 3px rgb(163, 40, 53);
		-webkit-box-shadow: 0 3px rgb(163, 40, 53);
	box-shadow: 0 3px rgb(163, 40, 53);
	background-color: #cf404f;
	text-decoration: none;
	color: #ffffff;
}


.switch {
	margin: 15px auto 0px;
	clear: right;
	height: 50px;
	float: left;
	padding-left: 40%;
}

.more_product {
	width: 440px;
	height: 415px;
	float: left;
	border: 1px solid #d1d1d1;
	margin: 10px 7px 70px 0;
	padding-left: 20px;
	padding-top: 15px;
	font-family: "Open Sans";
}

.more_product h1 {
	color: #009ba9;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10px;
}

.more_product h2 {
	color: #969696;
	font-size: 10px;
}

a.LoadMore,
a.LoadMore a:hover {
	font-size: 14px;
	color: #5e6269;
	text-decoration: none;
	text-align: center;
	background-color: #f4f4f4;
	float: left;
	width: 420px;
	height: 30px;
	padding-top: 10px;
	margin-top: 5px;
}


.score_container {
	width: 420px;
	height: 39px;
	float: left;
	clear: right;
	margin: 10px auto;
}

.score_container dl {
	text-align: left;
	margin: 0;
}

.score_container dl dt,
.score_container dl dt a{
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
}

.score_container dl dd {
	color: #000000;
	font-size: 12px;
}

.score_number {
	background: #3772aa no-repeat left top;
	padding: 5px 5px 5px 8px;
	width: 40px;
	height: 35px;
	color: #ffffff;
	font-size: 24px;
	float: left;
	margin-right: 10px;
}

.score_number_na {
	background: #bababa no-repeat left top;
	padding: 5px 5px 5px 8px;
	width: 40px;
	height: 35px;
	color: #ffffff;
	font-size: 24px;
	float: left;
	margin-right: 10px;
}

.load_more {
	border-bottom: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	width: 454px;
	height: 39px;
	clear: both;
	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
	margin-top: 8px;
	font-size: 13px;
	color: #b1b1b1;
}

.tablemaincontent {
	width: 804px;
	text-align: left;
	font-family: "Open Sans";
	position: relative;
}

/*Removed Feature/


table {
	width: 100%;
}

thead {
	background-color: #00afaf;
	border-top: 1px solid #007979;
	border-bottom: 1px solid #007979;
	color: #ffffff;
	font: bold 13px "Open Sans";
}

tr {
	height: 36px;
	padding: 10px;
	border-bottom: 1px solid #e3e3e3;
}


.tbody_border {
	height: 36px;
	border-bottom: 1px solid #e3e3e3;
}

.tdstyle {
	
	padding: 10px;
}

.thstyle {
	padding: 10px;
	text-align: center;
}

*/

.dl_id {
	color: #006666;
	font: 13px "Open Sans";
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.data {
	color: #30353d;
	font: 13px "Open Sans";
	padding: 10px;
	text-align: center;
	overflow: hidden;
}

.data a {
	color: #ed5565;
	font-size: 13px;
	text-decoration: none;
}

.pckg_container {
	width: 400;
	display: block;
	margin-top: 40px;
}

.pckg_box {
	width: 300px;
	height: 35px;
	position: relative;
	margin-top: 5px;
	display: block;
	clear: both;
}

.pckg_box h1 {
	float: right;
	color: #ed5565;
	font-size: 20px;
	margin: 5px 5px 5px 20px;
}

.pckg_box h2 {
	background-color: #12adad;
	font-size: 12px;
	padding: 2px;
	float: right;
	margin-top: 8px;
	color: #ffffff;
}

.pckg_checkbox {
	height: 30px;
	float: left;
}

.payment_container {
	width: 100%;
	padding: 25px;
	border: 1px solid #d1d1d1;
	margin-top: 40px;
	
}

.setting_container {
	width: 100%;
	float: left;
	font-family: "Open Sans";
}

.setting_container h1 {
	font-size: 13px;
}

.preference_box {
	float: left;
	border-bottom: 1px solid #909090;
	padding: 10px 0;
	width: 100%;
}

.preference_box h1 {
	font-size: 14px;
	color: #146060;
	float: left;
	font-weight: bold;
}

.preference_box h2 {
	float: right;
	margin-top: 10px;
}

.preference_box h2 a {
	color: #ed5565;
	font-size: 13px;
	text-decoration: none;

}

.item_container {
	float: left;
	clear: both;
	width: 100%;
}

.preference_item {
	height: 25px;
	background-color: #959595;
	font-size: 12px;
	border-radius: 5px;
	padding: 4px;
	margin: 5px;
	color: #ffffff;
	float: left;
}

.col1 {
	float: left;
	display: block;
}

.col2 {
	float: left;
	font-family: "Open Sans";
	display: block;
}

.col2 h2{
	font-size: 18px;
	font-weight: 600;
}

.col3 {
	float: left;
	margin: 0 auto;
}



.meter {
	width: 320px; 
	height: 30px;  /* Can be anything */
	position: relative;
	background: #d9d9d9;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 5px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
	float: left;
}

.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	       -moz-border-radius-topright: 20px;
	    -moz-border-radius-bottomright: 20px;
	           border-top-right-radius: 20px;
	        border-bottom-right-radius: 20px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: #00a2a2;
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 162, 161)), color-stop(0.69, rgb(0, 162, 161)));
	background-image: -webkit-linear-gradient(bottom, rgb(0, 162, 161) 0%, rgb(0, 162, 161) 69%);
	background-image: -moz-linear-gradient(bottom, rgb(0, 162, 161) 0%, rgb(0, 162, 161) 69%);
	background-image: -ms-linear-gradient(bottom, rgb(0, 162, 161) 0%, rgb(0, 162, 161) 69%);
	background-image: -o-linear-gradient(bottom, rgb(0, 162, 161) 0%, rgb(0, 162, 161) 69%);
	background-image: linear-gradient(to top, rgb(0, 162, 161) 0%, rgb(0, 162, 161) 69%);
	position: relative;
	overflow: hidden;
}

.meter > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-webkit-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-ms-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-o-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size:    50px 50px;
	background-size:         50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

/*-------Submenu Dropdown-------*/


.topmenubar{
	background:#fff;
	padding-right:0px;
	float: left;	
}
	
.user-wrapper{
	float:right;}

.user-photo-wrapper{
	padding-top:9px;
	position:relative;
	float:left;
	z-index:10000}
	
.name-wrapper{
	float:left;}

.name{
	background:url(../images/arrow-dropdown.png) right no-repeat;
	text-transform:uppercase;
	color:#686868;
	font-size:14px;
	font-weight:600;
	height:54px;
	padding-right:40px}

/* reset  list style */
.cbp-tm-menu,
.cbp-tm-menu ul {
	list-style: none;
}

/* set menu position; change here to set to relative or float, etc. */
.cbp-tm-menu {
	display: block;
	z-index: 1000;
	width: 100%;
	padding:0px 14px;
	margin: 0;
	text-transform: capitalize;
	height:54px;
}

/* first level menu items */
.cbp-tm-menu > li {
	display: inline-block;
	margin: 0;
	position: relative;
}

.cbp-tm-menu > li > a {
	line-height: 4em;
	padding: 0 0.3em;
	font-size: 14px;
	display: block;
	color: #686868;
}

.no-touch .cbp-tm-menu > li > a:hover,
.no-touch .cbp-tm-menu > li > a:active {
	color: #02639d;
}

/* sumbenu with transitions */
.cbp-tm-submenu {
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	padding: 0;
	text-align: left;
	pointer-events: none;
	-webkit-transition: visibility 0s, opacity 0s;
	-moz-transition: visibility 0s, opacity 0s;
	transition: visibility 0s, opacity 0s;
}

.cbp-tm-show .cbp-tm-submenu { /*box submenu*/
	width: 220px;
	left: 50%;
	margin: 0 0 0 -8em;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transition: visibility 0s, opacity 0.3s;
	-moz-transition: visibility 0s, opacity 0.3s;
	transition: visibility 0s, opacity 0.3s;
}

.cbp-tm-show-above .cbp-tm-submenu {
	bottom: 100%;
	padding-bottom: 10px;
}

.cbp-tm-show-below .cbp-tm-submenu {
	top: 100%;
	padding-top: 10px;
}

/* extreme cases: not enough space on the sides */
.cbp-tm-nospace-right .cbp-tm-submenu {
	right: 0;
	left: auto;
}

.cbp-tm-nospace-left .cbp-tm-submenu {
	left: 0;
}

/* last menu item has to fit on the screen */
.cbp-tm-menu > li:last-child .cbp-tm-submenu {
	right: 0;
}

/* 	
arrow: depending on where the menu will be shown, we set 
the right position for the arrow
*/

.cbp-tm-submenu:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	top: 100%;
	margin-top: -10px;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	bottom: 100%;
	margin-bottom: -10px;
}

.cbp-tm-submenu:after {  /*arrow submenu*/
	border-color: solid 1px #696969;
	border-width: 10px;
	margin-left: -16px;
	left: 85%;
}

.cbp-tm-show-above .cbp-tm-submenu:after {
	border-top-color: #f5f5f5;
}

.cbp-tm-show-below .cbp-tm-submenu:after {
	border-bottom-color: #f5f5f5;
}

.cbp-tm-submenu > li {
	display: block;
	background: #f5f5f5;
}

.cbp-tm-submenu > li > a {
	padding: 10px 2.3em 10px 1.2em; /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
	display: block;
	font-size: 14px;
	position: relative;
	color: #30353d;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.no-touch .cbp-tm-submenu > li > a:hover,
.no-touch .cbp-tm-submenu > li > a:active {
	color: #fff;
	background: #2dadac;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 30px;
	border-radius: 10px;
	background: #fff;
}

.modalDialog > div h2 {
	font-size: 24px;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: 400;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	font-size: 16px;
}

.close:hover { background: #00d9ff; }


/*----Imported from Asrul CSS----*/

.single_content{
	width:980px;
	position: relative;
}

.cart_wrapper{
	width:600px;
	float:left;
	position: relative;
}
	
	
.cart_wrapper a{
	width: 260px;
	display: block;
	margin-top: 40px;
}
	
.text_info{
	font-size:18px;
	color:#278585;
	font-family:"Open Sans";
	font-weight:300;
	padding-bottom:30px;
	}
	
.payment_wrapper{
	width:270px;
	border: solid 1px #dadada;
	padding:20px 20px;
	float:right;}

.table_wrapper {
	width: 100%;
	position: relative;
}

	
.table_payment table td tr{
	border:solid 1px red;
	background:yellow;}

.dash_border {
	border-bottom: 1px dashed #d7d7d7;
}

.checkbox_left {
	float: left;
}

.table_payment_title{
	border-bottom:solid 4px #d7d7d7;
	font-size:13px;
	font-family:"Open Sans";
	font-weight:700;
	padding-bottom: 10px;
	}
	
.table_payment_item{
	border-bottom:solid 4px #d7d7d7;
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	padding:10px 0px 40px 0px;
	}

.table_payment a{
	width: auto;
	margin: 0;
	padding: 0;
}

.table_payment_serial{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	padding:10px 0px;}
	
.table_payment_total{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:700;
	padding:10px 0px;
	border-bottom:solid 1px white}
	
.box_title{
	color:#009ba9;
	font-size:24px;
	font-family:"Open Sans";
	font-weight:400;
	padding-bottom:15px
	}
	
.content_main_text{
	font-size:14px;
	font-family:"Open Sans";
	font-weight:400;
	line-height:24px;
	}
	
.content_download_id{
	font-size:24px;
	font-family:"Open Sans";
	font-weight:400;
	color:#ed5565;
	}
	
.content_text{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	line-height:24px;
	}
	
.content_text_green{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	line-height:24px;
	color:#009ba9;
	}
	
.content_text_green a{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	line-height:24px;
	color:#009ba9;
	text-decoration:none;
	}
	
.content_text_green a:hover{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	line-height:24px;
	color:#009ba9;
	text-decoration:underline;
	}
	
.content_text_red{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:400;
	color:#ed5565;
	padding-top:2px;
	}
	
.content_credit_balance{
	font-size:13px;
	font-family:"Open Sans";
	font-weight:700;
	padding:10px 0px 25px 0px;
	}
	
.border_white{
	border-bottom:solid 1px white}
	
.border_payment{
	border-bottom:solid 2px #d7d7d7;
	padding-bottom:10px;}
	
.agree_info{
	font-size:12px;
	font-family:"Open Sans";
	font-weight:400;
	padding:10px 0px 20px 10px;
	}
	
.center{
	text-align:center;
	margin-bottom:20px;
	margin-top:10px;}
	
.button_yellow_a, .button_yellow_a:visited{
	background: #ffca57;
	padding:12px 40px;
	color:#583d04;
	font-family:"Open Sans";
	font-weight:400;
	font-size:14px;
	text-decoration:none;
	border-radius:20px;
	box-shadow: 0px 4px #e4a51e;
	border: none !important;
	cursor: pointer;
	}
	
.button_yellow_a:hover{
	background: #f6c355;
	padding:12px 40px;
	color:#583d04;
	font-family:"Open Sans";
	font-weight:400;
	font-size:14px;
	text-decoration:none;
	border-radius:20px;
	box-shadow: 0px 4px #d0971d;
	transition:0.3s;
	}
	
.button_red_a, .button_red_a:visited{
	background: #ed5565;
	padding:12px 20px;
	color:#fff;
	font-family:"Open Sans";
	font-weight:300;
	font-size:14px;
	text-decoration:none;
	border-radius:20px;
	box-shadow: 0px 4px #bc4350;
	}
	
.button_red_a:hover{
	background: #cf404f;
	padding:12px 20px;
	color:#fff;
	font-family:"Open Sans";
	font-weight:300;
	font-size:14px;
	text-decoration:none;
	border-radius:20px;
	box-shadow: 0px 4px #a32835;
	transition:0.3s;
}

	
/*---Login Guest User---*/
.login_maincontainer_guest {
	width: 760px;
}

.login_guest_wrapper{
	float:left;
	border-right:solid 1px #dbdbdb;
	width:370px;
	margin-top:10px;}
	
.register_guest_wrapper{
	float:left;
	margin-left:10px;
	width:360px;
	text-align:center;
}

.login_col_guest {
	float: left;
	display: block;
	border: 1px solid #dbdbdb;
	padding-bottom: 35px;
	font-family: "Open Sans";
}

.login_col_guest h1 {
	padding:1em;
	font-size: 20px;
	font-weight: 700;
	background-color: #f7f7f7;
	color: #677678;
	margin: 0;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 20px;
}

.login_col_guest h2 {
	padding-left: 30px;
	margin-top: 10px;
	float: left;
	clear: both;
	color: #b8b8b8;
}

.login_col_guest img {
	width: 283px;
	margin-left: 30px;
	margin-bottom: 10px;
	float: left;
	margin-top: 10px;
}

.register_guest_text1{
	font-size:14px;
	color:#677678;
	font-weight:600;
	padding-top:45px}
	
.register_guest_text2{
	font-size:22px;
	color:#009090;
	padding:30px 0px;
	font-weight:400;}
	
.register_user {
	color:#00afaf;
	font-size:16px;
	float: left;
	width: 270px;
	margin-left: 30px;
	padding: 13px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	border: 0px none #134201;
	opacity: 1;
	-o-transition:.9s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	background: #fff;
	cursor:pointer;
	border:solid 1px #00afaf;
	margin-bottom:7px;
}

.register_user:hover {
	background-color: #00afaf;
	color:#fff;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;

}

.register_user a{
	color:#00afaf;}

.register_user a:hover{
	color:#fff;}
	
.custom_fancybox_alert_title
{
    font-size:16px;
    font-weight : bold;
    font-family: "Open Sans";
    padding:0px 14px 10px 5px;
}

.custom_fancybox_alert_message
{
     font-size:13px;
     font-family: "Open Sans";
     padding:0px 14px 10px 5px;
     text-align: center;
}
