﻿@model WebMMO.Core.DomainModels.Menu.MenuDto

@{
    ViewBag.Title = "Base CMS » Admin » New Menu";
}

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>New Menu</h3>
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Fill in the menu details below</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.ValidationSummary(true)
                            <br /><br />

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name<span class="txtManAsterik"> *</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @size = 40, @maxlength = 255 })
                                            <br />
                                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Link</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.Link, new { @class = "form-control", @size = 40, @maxlength = 255 })
                                            <br />
                                            <em>Leave this blank if you want to make this menu to have sub menus</em>
                                            <br />
                                            @Html.ValidationMessageFor(m => m.Link, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ln_solid"></div>
                                    @Html.ActionLink("Cancel", "ManageMenu", "Permission", new { area = "Admin", MenuParentID = Model.MenuParentID }, new { @class = "btn btn-round btn-primary pull-left" })
                                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-round btn-primary pull-right" />
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.Seq)
                            @Html.HiddenFor(m => m.MenuParentID)
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>