﻿@model WebMMO.Core.DomainModels.Permission.PermissionDto

@{
    ViewBag.Title = "Base CMS » Admin » Edit Menu » Add Permission";
}

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>AddPermission</h3>
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Fill in the pemission details below</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm("AddPermission", "Permission", new { area = "Admin" }, FormMethod.Post, new { id = "frmAddPermission", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.ValidationSummary(true)
                            <br /><br />

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name<span class="txtManAsterik"> *</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "InpRegMax", @size = 40, @maxlength = 255 })
                                            <br />
                                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(m => m.PermissionDescription)</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.PermissionDescription, new { @class = "InpRegMax", @size = 40, @maxlength = 255 })
                                            <br />
                                            <em>Leave this blank if you want to make this menu to have sub menus</em>
                                            <br />
                                            @Html.ValidationMessageFor(m => m.PermissionDescription, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ln_solid"></div>
                                    @Html.ActionLink("Back", "EditMenu", "Permission", new { area = "Admin", id = Model.MenuID }, new { @class = "btn btn-round btn-primary pull-left" })
                                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-round btn-primary pull-right" />
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.MenuID)
                            @Html.HiddenFor(m => m.IsDefault)
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    function OnAddPermission() {
        if ($('#frmAddPermission').valid()) {
            $.post($('#frmAddPermission')[0].action, $('#frmAddPermission').serialize(),
                function (data) {
                    RefreshList();
                }
            );

            return true;
        }

        return false;
    }
</script>
