﻿@model WebMMO.Web.Areas.Admin.Models.RoleModel

@{
    ViewBag.Title = "Base CMS » Admin » New Role";
}

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>NewRole</h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Fill in the role details below</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.ValidationSummary(true)
                            <br /><br />


                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                            @Html.LabelFor(m => m.Name)<span class="txtManAsterik"> *</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @size = 40, @maxlength = 255 })

                                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">@Html.LabelFor(m => m.Description)<span class="txtManAsterik"> *</span></label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @size = 40, @maxlength = 255 })
                                            @Html.ValidationMessageFor(m => m.Description, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <br /><br />
                                    <span class="txtManAsterik">*</span>This is the mandatory field<br />
                                    <div class="ln_solid"></div>
                                    @Html.ActionLink("Cancel", "ManageRole", "Permission", new { area = "Admin" }, new { @class = "btn btn-round btn-primary pull-left" })
                                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-round btn-primary pull-right" />
                                </div>
                            </div>      }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
