﻿@using WebMMO.Core.DomainModels.Permission
@model WebMMO.Core.DomainModels.Menu.MenuDto

@{
    ViewBag.Title = "Base CMS » Admin » Edit Menu";
}


<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });


        $('#btnSave').click(function () {
            $('#form').submit();
        });

    });

    // Occurs when the Add Item dialog opens
    function OnAddItemDialogOpen(e) {
        $('#frmAddPermission')[0].reset();
        $("#dlgAddPermission").dialog('open');
    }

    function OnEditItemDialogOpen(e) {
        $('#frmEditPermission')[0].reset();
        $('#dlgEditPermission').load(this.href, function () {
            $(this).dialog('open');
        });

        return false;
    }


    // Occurs when an item is being removed from the items list.
    function OnRemoveItem(e) {
        var result = confirm('Areyousureyouwanttoremove \'' + $(this).attr('itemName') + '\'?');

        if (result) {
            $.get($(this).attr('href'),
                function (data) {
                    if (data == "True") {
                        RefreshList();
                    }
                }
            );
        }

        return false;
    }



    // Refreshes the certificate items list.
    function RefreshList() {
        $.get('@Url.Action("ListPermissions", null, new { MenuID = Model.ID })',
            function (data) {
                $('#PermissionsList').html(data);

                // Re-attach the event handler as it is lost after refreshed.
                $('#btnAddPermission').click(OnAddItemDialogOpen);
                $('[id |= "editItem"]').click(OnEditItemDialogOpen);
                $('[id |= "removeItem"]').click(OnRemoveItem);
            }
        );
    }
</script>
<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>EditMenu</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top-main-button">
                    <div class="input-group">
                        @Html.ActionLink("Add Permission", "AddPermission", "Permission", new { area = "Admin", MenuID = Model.ID }, new { @class = "btn btn-round btn-primary" })
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Fill in the menu details below</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.ValidationSummary(true)
                            <br /><br />

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(m => m.Name)<span class="txtManAsterik"> *</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @size = 40, @maxlength = 255 })
                                            <br />
                                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(m => m.Link)</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @if (ViewBag.HasSubMenu)
                                            {
                                                <em>This menu has sub menu.</em>
                                                @Html.HiddenFor(m => m.Link)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.Link, new { @class = "form-control", @size = 40, @maxlength = 255 })
                                                <br />
                                                <em>Leave this blank if you want to make this menu to have sub menus</em>
                                                <br />
                                                @Html.ValidationMessageFor(m => m.Link, null, new { @class = "txtNormalRed" })
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ln_solid"></div>
                                    @Html.ActionLink("Cancel", "ManageMenu", "Permission", new { area = "Admin", MenuParentID = Model.MenuParentID }, new { @class = "btn btn-round btn-primary pull-left" })
                                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-round btn-primary pull-right" />
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.ID)
                            @Html.HiddenFor(m => m.Seq)
                            @Html.HiddenFor(m => m.MenuParentID)
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>PermissionList</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="2%">No</th>
                                    <th width="58%">Name</th>
                                    <th width="35%">Description</th>
                                    <th width="5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Permissions.Count > 0)
                                {
                                    int i = 0;

                                    foreach (var curPermission in (List<PermissionDto>)ViewBag.Permissions)
                                    {
                                        <tr class="@(i % 2 != 0 ? "tblRowOdd" : "tblRowEven")">
                                            <td>@(i + 1)</td>
                                            <td>@curPermission.Name</td>
                                            <td>@curPermission.PermissionDescription</td>
                                            <td>
                                                @if (curPermission.IsDefault == false)
                                                {
                                                    <a href="@Url.Action("EditPermission","Permission", new { area = "Admin", PermissionID = curPermission.ID })" id="editItem-@curPermission.ID" title="Edit" itemName="@curPermission.Name"><img src="@Url.Content("~/Content/images/edit2.png")" style="height:14px;" border="0" align="middle" /></a><span>&nbsp;&nbsp;</span>
                                                    <a href="@Url.Action("DeletePermission","Permission", new {area = "Admin", id = curPermission.ID })" id="removeItem-@curPermission.ID" title="Remove" PermissionName="@curPermission.Name"><img src="@Url.Content("~/Content/images/delete2.png")" style="height:14px;" border="0" align="middle" /></a>
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr class="tblRowOdd">
                                        <td colspan="3"><em>No permission found.</em></td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
