﻿@model System.Collections.Generic.List<WebMMO.Core.DomainModels.Menu.MenuAccess>

@if (ViewBag.Root == 1)
{
    <p>MainMenu</p>
}
else
{
    <p>Sub-Menu For @ViewBag.MenuName</p>
}

<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Menu</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curMenu in Model)
        {
            <tr>
                @if (curMenu.HasSubMenu)
                {
                    <td><a href="@Url.Action("RoleAccess", new { id = ViewBag.RoleID, MenuParentID = curMenu.ID })" title="View Sub Menu">@curMenu.Name</a></td>
                }
                else
                {
                    <td>@curMenu.Name</td>
                }
                <td>
                    @if (curMenu.Enable)
                    {
                        <a href="@Url.Action("DisableMenuAccess","Permission", new { area="Admin", RoleID = ViewBag.RoleID, MenuID = curMenu.ID })" title="Disable">Disable</a>
                    }
                    else
                    {
                        <a href="@Url.Action("EnableMenuAccess", "Permission",new { area="Admin",RoleID = ViewBag.RoleID, MenuID = curMenu.ID })" title="Enable">Enable</a>
                    }
                </td>
                <td>
                    @if (curMenu.HasSubMenu)
                    {
                        <a href="@Url.Action("EnableAllMenuAccess", "Permission",new {area="Admin", RoleID = ViewBag.RoleID, MenuID = curMenu.ID })">Enable All</a>
                    }
                    else if (curMenu.Enable)
                    {
                        <a href="@Url.Action("ViewRolePermission","Permission", new { area="Admin",RoleID = ViewBag.RoleID, MenuID = curMenu.ID })">Permission</a>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>
