﻿@model System.Collections.Generic.List<WebMMO.Core.DomainModels.Permission.PermissionDto>

<script>
    $(document).ready(function () {
        $('#PermissionList').tableScroll({
            width: '100%',
            height: 350,
            containerClass: 'tblListing'
        });
    });
</script>

<br /><br />
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="tblSearchResult tblTable txtNormalGrey">
    <tr class="trFormTitle">
        <td colspan="4"><span class="txtNormalGreenBold">Permissions</span></td>
    </tr>
    <tr>
        <td colspan="4"><input id="btnAddPermission" name="action2" type="button" value="Add Permission" class="button_yellow_a" /></td>
    </tr>
    <tr>
        <td colspan="4">
            <div class="tblListing">
                <table id="PermissionList" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr class="tblHeader">
                            <td width="2%">No</td>
                            <td width="58%">Name</td>
                            <td width="35%">Description</td>
                            <td width="5%">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            int i = 0;

                            foreach (var curPermission in Model)
                            {
                                <tr class="@(i % 2 != 0 ? "tblRowOdd" : "tblRowEven")">
                                    <td>@(i + 1)</td>
                                    <td>@curPermission.Name</td>
                                    <td>@curPermission.PermissionDescription</td>
                                    <td>
                                        @if (curPermission.IsDefault == false)
                                        {
                                            <a href="@Url.Action("EditPermission","Permission" , new { area="Admin", id = curPermission.ID })" id="editItem-@curPermission.ID" title="Edit" itemName="@curPermission.Name"><img src="@Url.Content("~/Content/images/edit2.png")" style="height:14px;" border="0" align="middle" /></a><span>&nbsp;&nbsp;</span>
                                            <a href="@Url.Action("RemovePermission", "Permission", new {area="Admin", id = curPermission.ID })" id="removeItem-@curPermission.ID" title="Remove" PermissionName="@curPermission.Name"><img src="@Url.Content("~/Content/images/delete2.png")" style="height:14px;" border="0" align="middle" /></a>
                                        }
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr class="tblRowOdd">
                                <td colspan="3"><em>Nopermissionfound</em></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>
