﻿@model List<WebMMO.Core.DomainModels.Menu.MenuDto>
@{
    ViewBag.Title = "Base CMS » Access » ManageMenu";
}
<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>ManageMenu</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top-main-button">
                    <div class="input-group">
                        @Html.ActionLink("NewMenu", "AddMenu", "Permission", new { area = "Admin", MenuParentID = ViewBag.MenuParentID }, new { @class = "btn btn-round btn-primary" })

                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            @if (ViewBag.Root == 1)
                            {
                                <text>MainMenu</text>
                            }
                            else
                            {
                                <text>Sub-Menu For @ViewBag.MenuName</text>
                            }
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var curMenu in Model)
                                {
                                    <tr>
                                        <td>@curMenu.Seq</td>
                                        @if (string.IsNullOrEmpty(curMenu.Link))
                                        {
                                            <td><a href="@Url.Action("ManageMenu", new { MenuParentID = curMenu.ID })" title="View Sub Menu">@curMenu.Name</a></td>
                                        }
                                        else
                                        {
                                            <td>@curMenu.Name</td>
                                        }
                                        <td>
                                            <a href="@Url.Action("EditMenu", new { id = curMenu.ID })" title="Edit Menu"><img src="@Url.Content("~/Content/images/edit2.png")" style="height:14px;" border="0" align="middle" /></a>&nbsp;&nbsp;
                                            <a href="@Url.Action("DeleteMenu", new { id = curMenu.ID })" onclick="return confirm('Are you sure delete?')"><img src="@Url.Content("~/Content/images/delete2.png")" style="height:14px;" border="0" align="middle" /></a>
                                        </td>
                                        <td>
                                            @if (curMenu.Seq > 1)
                                            {
                                                <a href="@Url.Action("MenuMoveUp", new { id = curMenu.ID })">Move Up</a>
                                            }
                                        </td>
                                        <td>
                                            @if (curMenu.Seq < ViewBag.MaxSeq)
                                            {
                                                <a href="@Url.Action("MenuMoveDown", new { id = curMenu.ID })">Move Down</a>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="ln_solid"></div>
                @if (ViewBag.Root != 1)
                {
                    @Html.ActionLink("Back", "ManageMenu", "Permission", new { area = "Admin", MenuParentID = ViewBag.BackMenuID }, new { @class = "btn btn-round btn-primary pull-left" })
                }
            </div>
        </div>
    </div>
</div>