﻿@model System.Collections.Generic.List<WebMMO.Web.Areas.Admin.Models.RoleModel>

@{
    ViewBag.Title = "Base CMS » Admin » Manage Roles";
}
}

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>ManageRoles</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top-main-button">
                    <div class="input-group">
                        @Html.ActionLink("Add New Role", "AddRole", "Permission", new { area = "Admin" }, new { @class = "btn btn-round btn-primary" })

                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>ListofRoles</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var curRole in Model)
                                {
                                    <tr>
                                        <td>@curRole.Name</td>
                                        <td>@curRole.Description</td>
                                        <td align="center">
                                            <a href="@Url.Action("EditRole", "Permission", new { area = "Admin", id = curRole.ID })" title="Edit Role"><img src="@Url.Content("~/Content/images/edit2.png")" style="height:14px;" border="0" align="middle" /></a>&nbsp;&nbsp;
                                            <a href="@Url.Action("RoleAccess","Permission", new { area = "Admin", id = curRole.ID, MenuParentID = -1 })" title="Edit Access"><img src="@Url.Content("~/Content/images/edit2.png")" style="height:14px;" border="0" align="middle" /></a>&nbsp;&nbsp;
                                            @if (!curRole.IsSysAdmin)
                                            {
                                                <a href="@Url.Action("DeleteRole", "Permission",new {area = "Admin", id = curRole.ID })"><img src="@Url.Content("~/Content/images/delete2.png")" style="height:14px;" border="0" align="middle" /></a>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
