﻿@model WebMMO.Web.Areas.Admin.Models.RoleModel

@{
    ViewBag.Title = "Base CMS » Admin » Role Access";
}


<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Manage Role Access</h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Role Access for @Model.Name</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @{ Html.RenderAction("ListMenuAccess", "Permission", new { area = "Admin", RoleID = Model.ID, MenuParentID = ViewBag.MenuParentID }); }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>