﻿@model System.Collections.Generic.List<WebMMO.Core.DomainModels.Role.RolePermissionResult>

@{
    ViewBag.Title = "View Role Permission";
}
<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>RolePermissionfor @ViewBag.RoleName</h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Select permissions in @ViewBag.MenuName below</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm("ViewRolePermission", "Permission", FormMethod.Post, new { area = "Admin", id = "form", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.ValidationSummary(true)
                            <br /><br />

                            <div class="row">
                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Permission</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count > 0)
                                        {
                                            int i = 0;
                                            foreach (var curPermission in Model)
                                            {

                                                <tr class="tblRowOdd">
                                                    <td>
                                                        @Html.HiddenFor(m => m[i].PermissionID)
                                                        @curPermission.PermissionName
                                                    </td>
                                                    <td>
                                                        @Html.CheckBoxFor(m => m[i].HasPermission)
                                                    </td>
                                                </tr>
                                                i++;
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                            <input id="RoleID" name="RoleID" type="hidden" value="@ViewBag.RoleID" />
                            <input id="MenuID" name="MenuID" type="hidden" value="@ViewBag.MenuID" />
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ln_solid"></div>
                                    @Html.ActionLink("Cancel", "ManageMenu", "Permission", new { area = "Admin" }, new { @class = "btn btn-round btn-primary pull-left" })
                                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-round btn-primary pull-right" />
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
