﻿
@{
    ViewBag.Title = "Quản lý giá sms";
}

<script type="text/javascript">
    var lstSelectIdApprove = '';
    var keyApprove = 0;

    $(document).ready(function () {

        var strName = $("#Name").val();

        var table = $('#placesDatabase').DataTable({
            dom: 'l<"toolbar">frtip',
            "responsive": {
                "details": true
            },
            "processing": true,
            "serverSide": true,
            "stateSave": false,
            "paging": true,
            "searching": false,
            "order": [[0, "desc"]],
            "ajax": {
                "url": "@Url.Action("SearchManagePriceSMS", "ManagePriceSms", new { Area= "CustomerKey" })",
                "type": "GET",
                "data": function (d) {
                    d.Name = strName;
                },
                "dataSrc": function (res) {
                    var count = res.recordsTotal;
                    var htmlShow = 'Tổng ' + count + ' tìm thây';
                    $("#idShowTotal").text(htmlShow);
                    return res.data;
                }

            },
            "columns": [
                { "data": "Id", "orderable": false },
                { "data": "ServicesName", "orderable": false },
                { "data": "ServicesKey", "orderable": false },
                { "data": "Price", "orderable": false },
                { "data": "Id", "orderable": false }
            ],
            "createdRow": function (row, data, index) {
                $("td", row).eq(0).addClass("width-10");
                //$("td", row).eq(1).addClass("text-center");
                $("td", row).eq(3).addClass("text-right width-100");
                $("td", row).eq(4).addClass("text-center width-100");
            },
            'columnDefs': [
                {
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        var idSearch = full.ID;
                        var htmlReturn = '<input type="checkbox" class="dt-body-center checkboxgroup" value="' + $('<div/>').text(idSearch).html() + '" id="cb_' + $('<div/>').text(idSearch).html() + '" onclick="SelectListID(cb_' + $('<div/>').text(idSearch).html() + ')">';
                        return htmlReturn;
                    }
                },
                {
                    targets: 4,
                    "render": function (data, type, full, meta) {
                        var key = full.Id;
                        var htmlReturn = ' <div class="btn-group">';
                        //htmlReturn = htmlReturn + ' <a href="/AppSystems/ArticlesAdmod/AddAndEdit?guidkey=' + idSearch + '" class="btn btn-default btn-xs" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="Edit">' +
                        //  '<i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i></a>';

                        htmlReturn = htmlReturn + '<button type="button" class="btn btn-success" onclick="return fnEditSmsPrice(\'' + key + '\')">Sửa</button>';
                        htmlReturn = htmlReturn + '</div>';
                        return htmlReturn;
                    }
                }

            ],

        });

        $('#btnSubmit').click(function () {

            strName = $("#Name").val();
            table.draw();
            //table.ajax.reload(null, false);
            return false;
        });

    });

    function SelectListID(checkBoxId) {
        var isChecked = $(checkBoxId).is(':checked');
        if (isChecked) {
            lstSelectIdApprove = lstSelectIdApprove + "," + $(checkBoxId).val();
        } else {
            lstSelectIdApprove = lstSelectIdApprove.replace("," + $(checkBoxId).val(), "");
        }
    }

    function CheckAll(value) {
        var isChecked = $("#cb_All").is(':checked');
        lstSelectIdApprove = '';
        $('.checkboxgroup').prop('checked', isChecked);
        if (isChecked) {
            $(".checkboxgroup").each(function (index) {
                lstSelectIdApprove = lstSelectIdApprove + "," + $(this).val();
            });
        }
    }

    function fnEditSmsPrice(valueId) {
        window.location.href = '/CustomerKey/ManagePriceSms/AddAndEdit?id=' + valueId;
    }

</script>

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản lý Giá Dịch vụ SMS</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top-main-button">
                    <div class="input-group">
                        @Html.ActionLink("Thêm mới", "AddAndEdit", "ManagePriceSms", new { Area = "CustomerKey" }, new { @class = "btn btn-round btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tìm kiếm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">Mã key</label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <input class="form-control" id="Name" name="Name" type="text" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid">
                                </div>
                                <input id="btnSubmit" type="submit" value="Tìm kiếm" class="btn btn-round btn-primary pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Kết quả <small id="idShowTotal"></small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        <table id="placesDatabase" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" onclick="CheckAll(this.value)" class="dt-body-center" id="cb_All" />
                                    </th>
                                    <th>
                                        Tên Service
                                    </th>
                                    <th>
                                        Mã Service
                                    </th>
                                    <th>
                                        Giá
                                    </th>
                                    <th class="text-center">
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dvQuestionModal" tabindex="-1" role="dialog" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="dvTitleShow"></h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row text-center">
                        <input class="form-control text-box single-line" id="BalanceMoney" name="BalanceMoney" type="number" value="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnSubmitDisApprolval" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
