﻿@using WebMMO.Common.Helpes
@using WebMMO.Core.DomainModels.WebMMO
@{
    ViewBag.Title = "Manage Images System";
}

<script type="text/javascript">

    var lstSelectIdApprove = '';

    var keyApprove = 0;
    var valueGuid = 0;
    var valueKeyId = 0;

    $(document).ready(function () {

        var strName = $("#Name").val();
        var strStatus = $("#StatusId").val();
        var strCategories = $("#categoriesid").val();
        var strSubCategories = $("#subcategoriesid").val();
        var table = $('#resultDatabase').DataTable({
            dom: 'l<"toolbar">frtip',
            "responsive": {
                "details": true
            },
            "processing": true,
            "serverSide": true,
            "stateSave": false,
            "paging": true,
            "searching": false,
            "order": [[1, "desc"]],
            "ajax": {
                "url": "@Url.Action("ManageImagesSearch", "ManageImages", new { Area="WebMMO"})",
                "type": "GET",
                "data": function (d) {
                    d.Name = strName;
                    d.Status = strStatus;
                    d.Categories =strCategories;
                    d.SubCategories =strSubCategories;
                },
                "dataSrc": function (res) {
                    var count = res.recordsTotal;
                    var htmlShow = 'Tổng ' + count + ' tìm thây';
                    $("#idShowTotal").text(htmlShow);
                    return res.data;
                }

            },
            "columns": [
                { "data": "ID", "orderable": false },
                { "data": "KeyElasticSearch", "orderable": true },
                { "data": "CategoriesName", "orderable": true },
                { "data": "SubCategoriesName", "orderable": true },
                { "data": "Status", "orderable": true },
                { "data": "ImageLink", "orderable": true },
                { "data": "ID", "orderable": false }
            ],
            "createdRow": function (row, data, index) {
                $("td", row).eq(0).addClass("width-10");
                //$("td", row).eq(1).addClass("text-center");
                $("td", row).eq(4).addClass("text-center");
                $("td", row).eq(6).addClass("text-center width-100");
            },
            'columnDefs': [
                {
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        var idSearch = full.ID;
                        var htmlReturn = '<input type="checkbox" class="dt-body-center checkboxgroup" value="' + $('<div/>').text(idSearch).html() + '" id="cb_' + $('<div/>').text(idSearch).html() + '" onclick="SelectListID(cb_' + $('<div/>').text(idSearch).html() + ')">';
                        return htmlReturn;
                    }
                },
                //{
                //    targets: 1,
                //    "render": function (data, type, full, meta) {
                //        var strCreatedDate = full.DateCreate;
                //        var htmlReturn = ' ';
                //        if (strCreatedDate !== 'null') {

                //            htmlReturn = common.parseDateTime(strCreatedDate);
                //        }
                //        return htmlReturn;
                //    }
                //},
                {
                    targets: 1,
                    "render": function (data, type, full, meta) {
                        var strCreatedDate = full.KeyElasticSearch;
                        var searchid = full.ID;
                        if (strCreatedDate == null) {
                            strCreatedDate = '';
                        }

                        if (strCreatedDate.length > 150) {
                            strCreatedDate = strCreatedDate.substring(0, 150) + '<span id="dots_' + searchid + '"></span>' +
                                '<span id="more_' + searchid + '" style="display:none;">' + strCreatedDate.substring(150, strCreatedDate.length - 150) +
                                '</span> <button onclick="common.fnReadMore(\'dots_' + searchid + '\',\'more_' + searchid + '\',\'myBtn_' + searchid + '\');" id="myBtn_' + searchid + '">[+]</button>';
                        }

                        var htmlReturn = '<div class="text-wrap width-200">' + strCreatedDate + '</div>';

                        return htmlReturn;
                    }
                },
                 {
                     targets: 4,
                     "render": function (data, type, full, meta) {
                         var strImageLink = full.ImageLink;
                         var htmlReturn =  '<img src="' + strImageLink + '" alt="Smiley face"  width="100px">';
                         return htmlReturn;
                     }
                 },
                {
                    targets: 5,
                    "render": function (data, type, full, meta) {
                        var strStatus = full.Status;
                        var htmlReturn =  htmlReturn = common.fnShowStatus(strStatus,
                          '@ConfigHelpers.StatusPendingText','@ConfigHelpers.StatusDisapprovedText','@ConfigHelpers.StatusVerifiedText',
                          '@ConfigHelpers.StatusApprovedText','@ConfigHelpers.StatusPushedText','@ConfigHelpers.StatusDeletedText');
                        return htmlReturn;
                    }
                },
                {
                    targets: 6,
                    "render": function (data, type, full, meta) {
                        var idSearch = full.ID;
                        var strName = full.KeyElasticSearch.replace('\'', ' ').replace('\'', ' ').replace('\'', ' ').replace('\'', ' ').replace('\"', ' ').replace('\"', ' ')
                        .replace('\"', ' ').replace('\"', ' ').replace('\"', ' ').replace('\"', ' ');
                        var htmlReturn = ' <div class="btn-group">';
                        var guidkey = full.Guid;

                        htmlReturn = htmlReturn +
                        ' <a href="#" class="btn btn-default btn-xs" onclick="fnShowAppoveAction(\'' + guidkey + '\',' + idSearch + ')" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="Approve">' +
                        '<i class="fa fa fa-check-square-o fa-2" aria-hidden="true"></i></a>' +
                        '<a href="#" onclick="fnShowRejectAction(\'' + guidkey + '\',' + idSearch + ')" class="btn btn-default btn-xs" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="Disapprove"><i class="fa fa-times" aria-hidden="true"></i></a>';

                        htmlReturn = htmlReturn + '</div>';
                        return htmlReturn;
                    }
                }

            ],

            //initComplete: function () {
            //    $("div.toolbar")
            //       .html('<button type="button" id="batch_activated" class="btn btn-round btn-success" onclick="fVerifiedPlaceBatch(1)">Batch Approve</button>' +
            //            '<button type="button" id="batch_disapprove" class="btn btn-round btn-danger" onclick="fVerifiedPlaceBatch(0)">Batch Disapprove</button>');
            //}

        });

        $('#btnSubmit').click(function () {

            strName = $("#Name").val();
            strStatus = $("#StatusId").val();
            strCategories = $("#categoriesid").val();
            strSubCategories = $("#subcategoriesid").val();

            table.draw();
            //table.ajax.reload(null, false);
            return false;
        });

        $('#btnSubmitDisApprolval').click(function () {

            var data = {
                keyApprove: keyApprove,
                valueGuid: valueGuid,
                valueKeyId: valueKeyId
            };

            common.post("@Url.Action("ApproveWebMmoAction", "ManageImages", new { Area = "WebMMO" })",
                JSON.stringify(data),
                function (result) {
                    table.draw();
                    $('#dvQuestionModal').modal('hide');
                });

        });

    });


    function SelectListID(checkBoxId) {
        var isChecked = $(checkBoxId).is(':checked');
        if (isChecked) {
            lstSelectIdApprove = lstSelectIdApprove + "," + $(checkBoxId).val();
        } else {
            lstSelectIdApprove = lstSelectIdApprove.replace("," + $(checkBoxId).val(), "");
        }
    }

    function CheckAll(value) {
        var isChecked = $("#cb_All").is(':checked');
        lstSelectIdApprove = '';
        $('.checkboxgroup').prop('checked', isChecked);
        if (isChecked) {
            $(".checkboxgroup").each(function (index) {
                lstSelectIdApprove = lstSelectIdApprove + "," + $(this).val();
            });
        }
    }

    function fnShowAppoveAction(placeID, reviewID) {
        keyApprove = @ConfigHelpers.StatusApproved;
        valueGuid = placeID;
        valueKeyId = reviewID;
        $('#dvTitleShow').text('Approve');
        $('#idRemarks').text('Bạn mmuốn chấp nhận bản ghi được chọn??');
        $('#dvQuestionModal').modal('show');
    }

    function fnShowRejectAction(placeID, reviewID) {
        keyApprove = @ConfigHelpers.StatusDeleted;
        valueGuid = placeID;
        valueKeyId = reviewID;

        $('#dvTitleShow').text('Reject');
        $('#idRemarks').text('Bạn muốn loại bỏ bản ghi được chọn???');
        $('#dvQuestionModal').modal('show');
    }

    function getSubCategories() {
        var categoriesid = $("#categoriesid").val();
        var data = { CategoriesId: categoriesid };

        common.post("@Url.Action("GetSubCategoriesByGroup", "SearchImage", new { Area="WebMMO"})", JSON.stringify(data), function (result) {
            $("#subcategoriesid").html("");
            //$("#subcategoriesid").append($('<option></option>').val(null).html("Chọn ở đây đi"));
            $.each($.parseJSON(result),
                function (i, city) {
                    $("#subcategoriesid").append($('<option></option>').val(city.ID).html(city
                        .SubCategoriesName));
                });
        });
    }

</script>

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản lý Ảnh</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top-main-button">
                    <div class="input-group">
                        @Html.ActionLink("Thêm mới", "AddAndEdit", "SearchImage", new { Area = "WebMMO" }, new { @class = "btn btn-round btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tìm kiếm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">Key Search</label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <input class="form-control" id="Name" name="Name" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        Status
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <select class="form-control" id="StatusId" name="StatusId">
                                            @foreach (var item in SelectListModel.getStatusV1())
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                @*<div class="form-group">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12">Posted Date</label>
                                        <div class="col-md-8 col-sm-9 col-xs-12">
                                            <div class="col-md-5" style="padding-right: 0px;padding-left: 0px;">
                                                <input class="form-control" style="width: 100%" id="CreatedDateFrom" name="CreatedDateFrom" type="text" value="@string.Format("{0:dd MMM yyyy}", DateTime.Now.AddDays(-3))">
                                            </div>
                                            <div class="col-md-2" style="text-align:center">
                                                ~
                                            </div>
                                            <div class="col-md-5" style="padding-right: 0px;padding-left: 0px;">
                                                <input class="form-control" style="width: 100%" id="CreatedDateTo" name="CreatedDateTo" type="text" value="@string.Format("{0:dd MMM yyyy}", DateTime.Now)">
                                            </div>
                                        </div>
                                    </div>*@

                            </div>
                            <div class="col-xs-6">

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        Categories
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <select class="form-control" id="categoriesid" name="categoriesid" onchange="getSubCategories()">
                                            <option value="">-- Chọn --</option>
                                            @foreach (var item in (List<ImageCategoriesDto>)ViewBag.Categories)
                                            {
                                                <option value="@item.ID">@item.CategoriesName</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        Categories
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <select class="form-control" id="subcategoriesid" name="subcategoriesid"></select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid">
                                </div>
                                <input id="btnSubmit" type="submit" value="Tìm kiếm" class="btn btn-round btn-primary pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Kết quả <small id="idShowTotal"></small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        <table id="resultDatabase" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" onclick="CheckAll(this.value)" class="dt-body-center" id="cb_All" />
                                    </th>
                                    <th>
                                        Key Tìm kiếm
                                    </th>
                                    <th>
                                        Categories Name
                                    </th>
                                    <th>
                                        SubCategories Name
                                    </th>
                                    <th>
                                        Trạng thái
                                    </th>
                                    <th>
                                        View Image
                                    </th>
                                    <th class="text-center">
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dvQuestionModal" tabindex="-1" role="dialog" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="dvTitleShow"></h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row text-center" id="idRemarks">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnSubmitDisApprolval" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
