﻿@model WebMMO.Web.Areas.WebMMO.Models.CategoriesModel

@{
    ViewBag.Title = "Add and Edit System Api Services";
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: []
        });
    });

    function submitVaildate() {
        $.validator.unobtrusive.parse($('#formaction'));
        var valid = $('#formaction').valid();
        if (!valid) {
            return false;
        } else {
            $("#formaction").submit();
        }
        return false;
    };

</script>


<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Add And Edit Categories</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">

                        @using (Html.BeginForm("AddAndEdit", "Categories", new { Area = "WebMMO" }, FormMethod.Post, new { id = "formaction", @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Status)
                            @Html.HiddenFor(m=>m.ID)
                            @Html.HiddenFor(m => m.Guid)

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoriesName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.CategoriesName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CategoriesName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoriesSearch, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.CategoriesSearch, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CategoriesSearch, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@

                            </div>
                        }

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid"></div>
                                @Html.ActionLink("Quay lại quản lý", "", "Categories", new { Area = "WebMMO" }, new { @class = "btn btn-round btn-primary pull-left" })
                                <button type="button" id="btnSubmit" onclick="return submitVaildate();" class="btn btn-round btn-primary pull-right">
                                    Lưu
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
