﻿@{
    ViewBag.Title = "Manage Categories Image System";
}



<script type="text/javascript">
    var approvalid_place = 0;
    var approvalid_status = 0;
    var lstSelectIdApprove = '';

    var keyApprove = 0;
    var valuePlaceID = 0;
    var valueReportID = 0;

    $(document).ready(function () {

        var strName = $("#Name").val();
       
        var table = $('#placesDatabase').DataTable({
            dom: 'l<"toolbar">frtip',
            "responsive": {
                "details": true
            },
            "processing": true,
            "serverSide": true,
            "stateSave": false,            
            "paging": true,
            "searching": false,
            "order": [[1, "desc"]],
            "ajax": {
                "url": "@Url.Action("SearchCategories","Categories", new { Area="WebMMO"})",
                "type": "GET",
                "data": function (d) {
                    d.Name = strName;                   
                },
                "dataSrc": function (res) {
                    var count = res.recordsTotal;
                    var htmlShow = 'Tổng ' + count + ' tìm thây';
                    $("#idShowTotal").text(htmlShow);
                    return res.data;
                }

            },
            "columns": [
                { "data": "ID", "orderable": false },
                { "data": "CategoriesName", "orderable": true },                          
                { "data": "ID", "orderable": false }
            ],
            "createdRow": function (row, data, index) {
                $("td", row).eq(0).addClass("width-10");
                //$("td", row).eq(1).addClass("text-center");
                $("td", row).eq(2).addClass("text-center width-100");
            },
            'columnDefs': [
                {
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        var idSearch = full.ID;                       
                        var htmlReturn = '<input type="checkbox" class="dt-body-center checkboxgroup" value="' + $('<div/>').text(idSearch).html() + '" id="cb_' + $('<div/>').text(idSearch).html() + '" onclick="SelectListID(cb_' + $('<div/>').text(idSearch).html() + ')">';
                        return htmlReturn;
                    }
                },
                //{
                //    targets: 1,
                //    "render": function (data, type, full, meta) {
                //        var strCreatedDate = full.DateCreate;
                //        var htmlReturn = ' ';
                //        if (strCreatedDate !== 'null') {

                //            htmlReturn = common.parseDateTime(strCreatedDate);
                //        }
                //        return htmlReturn;
                //    }
                //},               
                {
                    targets: 1,
                    "render": function (data, type, full, meta) {
                        var strCreatedDate = full.CategoriesName;
                        var searchid = full.ID;
                        if (strCreatedDate == null) {
                            strCreatedDate = '';
                        }

                        if (strCreatedDate.length > 150) {
                            strCreatedDate = strCreatedDate.substring(0, 150) + '<span id="dots_' + searchid + '"></span>' +
                                '<span id="more_' + searchid + '" style="display:none;">' + strCreatedDate.substring(150, strCreatedDate.length - 150) +
                                '</span> <button onclick="common.fnReadMore(\'dots_' + searchid + '\',\'more_' + searchid + '\',\'myBtn_' + searchid + '\');" id="myBtn_' + searchid + '">[+]</button>';
                        }

                        var htmlReturn = '<div class="text-wrap width-200">' + strCreatedDate + '</div>';

                        return htmlReturn;
                    }
                },
                {
                    targets: 2,
                    "render": function (data, type, full, meta) {
                        var idSearch = full.ID;                      
                        var strName = full.CategoriesName.replace('\'', ' ').replace('\'', ' ').replace('\'', ' ').replace('\'', ' ').replace('\"', ' ').replace('\"', ' ')
                        .replace('\"', ' ').replace('\"', ' ').replace('\"', ' ').replace('\"', ' ');
                        var htmlReturn = ' <div class="btn-group">';                       
                        var guidkey = full.Guid;
                        //htmlReturn = htmlReturn +
                        //    '<a href="/Places/ReviewPlaceRatingV2?ratingid=' + idSearch + '&typeid=1" class="btn btn-default btn-xs" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="View Detail">' +
                        //    '<i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i></a>' +
                        //' <a href="#" class="btn btn-default btn-xs" onclick="fnShowAppoveAction(' + placeid + ',' + idSearch + ')" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="Approve">' +
                        //'<i class="fa fa fa-check-square-o fa-2" aria-hidden="true"></i></a>' +
                        //'<a href="#" onclick="fnShowRejectAction(' + placeid + ',' + idSearch + ')" class="btn btn-default btn-xs" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="Disapprove"><i class="fa fa-times" aria-hidden="true"></i></a>';

                        htmlReturn = htmlReturn + ' <a href="/WebMMO/Categories/AddAndEdit?guidkey=' + guidkey + '" class="btn btn-default btn-xs" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="Edit">' +
                          '<i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i></a>';


                        //htmlReturn = htmlReturn + '<a href="/Places/ViewRatingApprovalHis?ratingid=' + idSearch + '&typeid=1" class="btn btn-default btn-xs" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="View History"><i class="fa fa-eye fa-2" aria-hidden="true"></i></a>';

                        htmlReturn = htmlReturn + '</div>';
                        return htmlReturn;
                    }
                }

            ],

            //initComplete: function () {
            //    $("div.toolbar")
            //       .html('<button type="button" id="batch_activated" class="btn btn-round btn-success" onclick="fVerifiedPlaceBatch(1)">Batch Approve</button>' +
            //            '<button type="button" id="batch_disapprove" class="btn btn-round btn-danger" onclick="fVerifiedPlaceBatch(0)">Batch Disapprove</button>');
            //}

        });

        $('#btnSubmit').click(function () {

            strName = $("#Name").val();           
            table.draw();
            //table.ajax.reload(null, false);
            return false;
        });

        $('#btnSubmitDisApprolval').click(function () {

            var data = {
                keyApprove: keyApprove,
                valuePlaceID: valuePlaceID,
                valueReportID: valueReportID
            };

            console.log(data);

            common.post("@Url.Action("ApprovePlaceRestaurantRating", "Places")",
                JSON.stringify(data),
                function (result) {
                    table.draw();
                    $('#dvQuestionModal').modal('hide');
                });

        });

        $('#CreatedDateFrom').daterangepicker({
            locale: {
                format: 'DD MMM YYYY'
            },
            autoUpdateInput: false,
            showDropdowns: true,
            singleDatePicker: true
        });

        $('#CreatedDateFrom').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD MMM YYYY'));
        });

        $('#CreatedDateTo').daterangepicker({
            locale: {
                format: 'DD MMM YYYY'
            },
            autoUpdateInput: false,
            showDropdowns: true,
            singleDatePicker: true
        });

        $('#CreatedDateTo').on('apply.daterangepicker', function (ev, picker) {

            $(this).val(picker.startDate.format('DD MMM YYYY'));

        });

    });

    function fApprovalPlace(value, valueid) {
        approvalid_place = valueid;
        $('#idQuestion').text('Bạn có chắc muốn duyệt?');
        $('#approvalModal').modal('show');
    };

    function fDisApprovalPlace(valueid) {
        approvalid_place = valueid;
        $('#idRemarks').val('');
        $('#disapprovalModal').modal('show');
    };
     

    function SelectListID(checkBoxId) {
        var isChecked = $(checkBoxId).is(':checked');
        if (isChecked) {
            lstSelectIdApprove = lstSelectIdApprove + "," + $(checkBoxId).val();
        } else {
            lstSelectIdApprove = lstSelectIdApprove.replace("," + $(checkBoxId).val(), "");
        }
    }

    function CheckAll(value) {
        var isChecked = $("#cb_All").is(':checked');
        lstSelectIdApprove = '';
        $('.checkboxgroup').prop('checked', isChecked);
        if (isChecked) {
            $(".checkboxgroup").each(function (index) {
                lstSelectIdApprove = lstSelectIdApprove + "," + $(this).val();
            });
        }
    }

    function fVerifiedPlaceBatch(status) {
        if (lstSelectIdApprove === "") {
            alert('Please selete places!');
            return false;
        }
        approvalid_status = status;
        if (status === 4) {
            $('#idQuestionBatch').text('Are you sure you want to batch approve selected places?');
            $('#dvTitleBatch').text('Batch Approve');
        } else {
            $('#idQuestionBatch').text('Are you sure you want to batch disapprove selected places?');
            $('#dvTitleBatch').text('Batch Disapprove');
        }
        $('#approvabacthlModal').modal('show');
        $('#idRemarksBatch').val('');
    };

    function fnBatchActiveStatus() {
        var strRemarks = $("#idRemarksBatch").val();
        // Create FormData object
        var fileData = new FormData();
        // Adding one more key to FormData object
        fileData.append('lstSelectIdApprove', lstSelectIdApprove);
        fileData.append('remarks', strRemarks);
        fileData.append('verificationStatus', approvalid_status);

        common.postFormWithImage('@Url.Action("ApprovalPlaceRestaurantRatingBatch", "Places")',
        fileData,
        function (response) {
            if (response.IsSuccess) {
                /*Call Ajax approval*/
                lstSelectIdApprove = "";
                $('#approvabacthlModal').modal('hide');
                $('#btnSubmit').trigger("click");
            }
        });

        return false;
    }

    function fnShowAppoveAction(placeID, reviewID) {
        console.log(placeID);
        keyApprove = 1;
        valuePlaceID = placeID;
        valueReportID = reviewID;
        $('#dvTitleShow').text('Approve');
        $('#idRemarks').text('Are you sure to approve this one??');
        $('#dvQuestionModal').modal('show');
    }

    function fnShowRejectAction(placeID, reviewID) {
        keyApprove = 0;
        valuePlaceID = placeID;
        valueReportID = reviewID;
        $('#dvTitleShow').text('Reject');
        $('#idRemarks').text('Are you sure to reject this one??');
        $('#dvQuestionModal').modal('show');
    }

</script>

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản lý Categories</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top-main-button">
                    <div class="input-group">
                        @Html.ActionLink("Thêm mới", "AddAndEdit", "Categories", new { Area = "WebMMO" }, new { @class = "btn btn-round btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tìm kiếm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">Categories Name</label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <input class="form-control" id="Name" name="Name" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        Status
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <select class="form-control" id="VerificationStatusId" name="VerificationStatusId">
                                            <option value="0,1,4">-- PLEASE SELECT --</option>
                                            @*@foreach (var item in (List<VerificationStatusDto>)ViewBag.VerificationStatus)
                                            {
                                                <option value="@item.ID">@item.Type</option>
                                            }*@
                                        </select>
                                    </div>
                                </div>
                                                                                                
                                @*<div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">Posted Date</label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <div class="col-md-5" style="padding-right: 0px;padding-left: 0px;">
                                            <input class="form-control" style="width: 100%" id="CreatedDateFrom" name="CreatedDateFrom" type="text" value="@string.Format("{0:dd MMM yyyy}", DateTime.Now.AddDays(-3))">
                                        </div>
                                        <div class="col-md-2" style="text-align:center">
                                            ~
                                        </div>
                                        <div class="col-md-5" style="padding-right: 0px;padding-left: 0px;">
                                            <input class="form-control" style="width: 100%" id="CreatedDateTo" name="CreatedDateTo" type="text" value="@string.Format("{0:dd MMM yyyy}", DateTime.Now)">
                                        </div>
                                    </div>
                                </div>*@

                            </div>
                            <div class="col-xs-6">
                             
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        Reviewed By
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <select class="form-control" id="ReviewedId" name="ReviewedId">
                                            <option value="">-- PLEASE SELECT --</option>
                                            @*@foreach (var item in (List<UserDto>)ViewBag.ListUser)
                                            {
                                                <option value="@item.ID">@item.FullName</option>
                                            }*@
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid">
                                </div>
                                <input id="btnSubmit" type="submit" value="Tìm kiếm" class="btn btn-round btn-primary pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Kết quả <small id="idShowTotal"></small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        <table id="placesDatabase" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" onclick="CheckAll(this.value)" class="dt-body-center" id="cb_All" />
                                    </th>
                                    <th>
                                       Categories Name
                                    </th>                                    
                                    <th class="text-center">
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dvQuestionModal" tabindex="-1" role="dialog" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="dvTitleShow"></h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row text-center" id="idRemarks">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnSubmitDisApprolval" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!--ViewImage Places-->
<div class="modal fade" id="viewimageModal" tabindex="-1" role="dialog" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">View Image</h4>
            </div>
            <div class="modal-body">
                <div id="dvlstImage" style="padding: 10px; text-align: center;">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approvabacthlModal" tabindex="-1" role="dialog" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="dvTitleBatch"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div style="text-align: center" id="idQuestionBatch">
                    </div>
                    <br />
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">Remark</label>
                        <div class="col-md-8 col-sm-9 col-xs-12">
                            <input class="form-control" id="idRemarksBatch" type="text" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="fnBatchActiveStatus()" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
