﻿@model WebMMO.Web.Areas.WebMMO.Models.ImageListModel
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: []
        });
    });

    function submitVaildate() {
        $.validator.unobtrusive.parse($('#formaction'));
        var valid = $('#formaction').valid();
        if (!valid) {
            return false;
        } else {
            $("#formaction").submit();
        }
        return false;
    };

    function getSubCategories() {
        var categoriesid = $("#CategoriesId").val();
        var data = { CategoriesId: categoriesid };

        common.post("@Url.Action("GetSubCategoriesByGroup", "SearchImage", new { Area="WebMMO"})", JSON.stringify(data), function (result) {
            $("#SubCategoriesId").html("");
            //$("#subcategoriesid").append($('<option></option>').val(null).html("Chọn ở đây đi"));
            $.each($.parseJSON(result),
                function (i, city) {
                    $("#SubCategoriesId").append($('<option></option>').val(city.ID).html(city
                        .SubCategoriesName));
                });
        });
    }

</script>

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Add Image</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">

                        @using (Html.BeginForm("AddAndEdit", "SearchImage", new { Area = "WebMMO" }, FormMethod.Post, new { id = "formaction", @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoriesId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(m => m.CategoriesId, ViewBag.Categories as IEnumerable<SelectListItem>, null, new { @class = "form-control", onchange = "getSubCategories()" })
                                        @Html.ValidationMessageFor(model => model.CategoriesId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SubCategoriesId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">

                                        <select class="form-control valid" data-val="true" data-val-number="The field SubCategories Id must be a number."
                                                data-val-required="The Categories Id field is required." id="SubCategoriesId" name="SubCategoriesId"></select>

                                        @Html.ValidationMessageFor(model => model.SubCategoriesId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ImageLink, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ImageLink, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ImageLink, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.KeyElasticSearch, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.KeyElasticSearch, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.KeyElasticSearch, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        }

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid"></div>
                                @Html.ActionLink("Quay lại quản lý", "", "SearchImage", new { Area = "WebMMO" }, new { @class = "btn btn-round btn-primary pull-left" })
                                <button type="button" id="btnSubmit" onclick="return submitVaildate();" class="btn btn-round btn-primary pull-right">
                                    Lưu
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
