﻿@using WebMMO.Core.DomainModels.WebMMO
@{
    ViewBag.Title = "Search Images";
}


<script type="text/javascript">
    $(document).ready(function () {

        var strName = $("#Name").val();
        var categoriesid = $("#categoriesid").val();;
        var subcategoriesid = $("#subcategoriesid").val();
        var strNameWeb = $("#NameKeyWebsite").val();
        
        @*var table = $('#placesDatabase').DataTable({
            dom: 'l<"toolbar">frtip',
            "responsive": {
                "details": true
            },
            "processing": true,
            "serverSide": true,
            "stateSave": false,
            "paging": true,
            "searching": false,
            "order": [[1, "desc"]],
            "ajax": {
                "url": "@Url.Action("SearchImage", "SearchImage", new { Area="WebMMO"})",
                "type": "GET",
                "data": function (d) {
                    d.Name = strName;
                    d.Categoriesid = categoriesid;
                    d.SubCategoriesid = subcategoriesid;
                },
                "dataSrc": function (res) {
                    var count = res.recordsTotal;
                    var htmlShow = 'Tổng ' + count + ' tìm thây';
                    $("#idShowTotal").text(htmlShow);
                    return res.data;
                }

            },
            "columns": [
         { "data": "ID", "orderable": false },
                { "data": "imagelink", "orderable": true },
                { "data": "ID", "orderable": false }
            ],
            "createdRow": function (row, data, index) {
                $("td", row).eq(0).addClass("width-10");
                //$("td", row).eq(1).addClass("text-center");
                $("td", row).eq(2).addClass("text-center width-100");
            },
            'columnDefs': [
                {
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        var idSearch = full.ID;
                        var htmlReturn = '<input type="checkbox" class="dt-body-center checkboxgroup" value="' + $('<div/>').text(idSearch).html() + '" id="cb_' + $('<div/>').text(idSearch).html() + '" onclick="SelectListID(cb_' + $('<div/>').text(idSearch).html() + ')">';
                        return htmlReturn;
                    }
                },
                //{
                //    targets: 1,
                //    "render": function (data, type, full, meta) {
                //        var strCreatedDate = full.DateCreate;
                //        var htmlReturn = ' ';
                //        if (strCreatedDate !== 'null') {

                //            htmlReturn = common.parseDateTime(strCreatedDate);
                //        }
                //        return htmlReturn;
                //    }
                //},
                {
                    targets: 1,
                    "render": function (data, type, full, meta) {
                        var strCreatedDate = full.imagelink;
                        var searchid = full.ID;
                        if (strCreatedDate == null) {
                            strCreatedDate = '';
                        }

                        if (strCreatedDate.length > 150) {
                            strCreatedDate = strCreatedDate.substring(0, 150) + '<span id="dots_' + searchid + '"></span>' +
                                '<span id="more_' + searchid + '" style="display:none;">' + strCreatedDate.substring(150, strCreatedDate.length - 150) +
                                '</span> <button onclick="common.fnReadMore(\'dots_' + searchid + '\',\'more_' + searchid + '\',\'myBtn_' + searchid + '\');" id="myBtn_' + searchid + '">[+]</button>';
                        }

                        var htmlReturn = '<div class="text-wrap width-200">' + strCreatedDate + '</div>';

                        return htmlReturn;
                    }
                },
                {
                    targets: 2,
                    "render": function (data, type, full, meta) {
                        var idSearch = full.ID;
                        var strName = full.imagelink.replace('\'', ' ').replace('\'', ' ').replace('\'', ' ').replace('\'', ' ').replace('\"', ' ').replace('\"', ' ')
                        .replace('\"', ' ').replace('\"', ' ').replace('\"', ' ').replace('\"', ' ');
                        var htmlReturn = ' <div class="btn-group">';
                        var guidkey = full.Guid;
                        //htmlReturn = htmlReturn +
                        //    '<a href="/Places/ReviewPlaceRatingV2?ratingid=' + idSearch + '&typeid=1" class="btn btn-default btn-xs" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="View Detail">' +
                        //    '<i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i></a>' +
                        //' <a href="#" class="btn btn-default btn-xs" onclick="fnShowAppoveAction(' + placeid + ',' + idSearch + ')" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="Approve">' +
                        //'<i class="fa fa fa-check-square-o fa-2" aria-hidden="true"></i></a>' +
                        //'<a href="#" onclick="fnShowRejectAction(' + placeid + ',' + idSearch + ')" class="btn btn-default btn-xs" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="Disapprove"><i class="fa fa-times" aria-hidden="true"></i></a>';

                        htmlReturn = htmlReturn + ' <a href="/WebMMO/Categories/AddAndEdit?guidkey=' + guidkey + '" class="btn btn-default btn-xs" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="Edit">' +
                          '<i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i></a>';


                        //htmlReturn = htmlReturn + '<a href="/Places/ViewRatingApprovalHis?ratingid=' + idSearch + '&typeid=1" class="btn btn-default btn-xs" aria-expanded="false"  data-toggle="tooltip" data-placement="top" title="View History"><i class="fa fa-eye fa-2" aria-hidden="true"></i></a>';

                        htmlReturn = htmlReturn + '</div>';
                        return htmlReturn;
                    }
                }

            ],

            //initComplete: function () {
            //    $("div.toolbar")
            //       .html('<button type="button" id="batch_activated" class="btn btn-round btn-success" onclick="fVerifiedPlaceBatch(1)">Batch Approve</button>' +
            //            '<button type="button" id="batch_disapprove" class="btn btn-round btn-danger" onclick="fVerifiedPlaceBatch(0)">Batch Disapprove</button>');
            //}

        });*@

        $('#btnSubmit').click(function () {
                      
            strName = $("#Name").val();

            if (strName == '') {
                alert('Nhập từ khóa tìm kiếm vào con lợn!!!');
            }
            else {

                $('#loadingModal').modal('show');
                categoriesid = $("#categoriesid").val();;
                subcategoriesid = $("#subcategoriesid").val();
                strNameWeb = $("#NameKeyWebsite").val();

                var data = {
                    Name: strName,
                    Categoriesid: categoriesid,
                    SubCategoriesid: subcategoriesid,
                    NameKeyWebsite: strNameWeb,
                };
                //table.draw();

                common.post("@Url.Action("SearchImage", "SearchImage", new { Area="WebMMO"})", JSON.stringify(data), function (result) {
                    /*Xu li data*/
                    console.log(result);
                    $("#dvThongBao").text(result.Message);
                    $('#loadingModal').modal('hide');
                });
            }

            return false;
        });

        /*Goi load len lan dau*/
        getSubCategories();

    });

    function CheckAll(value) {
        var isChecked = $("#cb_All").is(':checked');
        lstSelectIdApprove = '';
        $('.checkboxgroup').prop('checked', isChecked);
        if (isChecked) {
            $(".checkboxgroup").each(function (index) {
                lstSelectIdApprove = lstSelectIdApprove + "," + $(this).val();
            });
        }
    }

    function getSubCategories() {
        var categoriesid = $("#categoriesid").val();
        var data = { CategoriesId: categoriesid };

        common.post("@Url.Action("GetSubCategoriesByGroup", "SearchImage", new { Area="WebMMO"})", JSON.stringify(data), function (result) {
            $("#subcategoriesid").html("");
            //$("#subcategoriesid").append($('<option></option>').val(null).html("Chọn ở đây đi"));
            $.each($.parseJSON(result),
                function (i, city) {
                    $("#subcategoriesid").append($('<option></option>').val(city.ID).html(city
                        .SubCategoriesName));
                });
        });
    }

</script>


<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Tìm kiếm</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top-main-button">
                    <div class="input-group">
                        @*@Html.ActionLink("Thêm mới", "AddAndEdit", "SearchImage", new { Area = "WebMMO" }, new { @class = "btn btn-round btn-primary" })*@
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tìm kiếm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-6">

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        Categories
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <select class="form-control" id="categoriesid" name="categoriesid" onchange="getSubCategories()">
                                            @foreach (var item in (List<ImageCategoriesDto>)ViewBag.Categories)
                                            {
                                                <option value="@item.ID">@item.CategoriesName</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">Từ khóa tìm kiếm</label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <input class="form-control" id="Name" name="Name" type="text" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        SubCategories
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <select class="form-control" id="subcategoriesid" name="subcategoriesid"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">Tìm Elastic</label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        <input class="form-control" id="NameKeyWebsite" name="NameKeyWebsite" type="text" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid">
                                </div>
                                <input id="btnSubmit" type="submit" value="Tìm kiếm" class="btn btn-round btn-primary pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Kết quả <small id="idShowTotal"></small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        <div id="dvThongBao"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Approval Places Batch-->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div style="text-align: center" id="idQuestionBatch">
                        Đang xử lý chờ bố mày tý...
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

