﻿@model System.Collections.Generic.List<WebMMO.Core.DomainModels.Menu.MenuDto>

<script type="text/javascript">
    $(document).ready(function () {
        if (document.location.pathname === "/Home/Main") {
            $("#v_hm").addClass("active");
        }
    });
</script>
<!-- menu profile quick info -->
<div class="profile">
    <div class="profile_info">
        <div class="company-logo">
        </div>
        <span>@ViewBag.OrgName</span>
        <h2>@ViewBag.CurrentLoginRole.Name</h2>
    </div>
</div>
<!-- /menu profile quick info -->

<br />
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li id="v_hm">
                @*<a href="@Url.Action("Index", "Dashboard")>
                        <i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard
                    </a>*@
            </li>
            @if (Model.Count > 0)
            {
                foreach (var curMenu in Model)
                {
                    <li>
                        <a>
                            <i class="fa @curMenu.IconClass"></i>@curMenu.Name
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        @{Html.RenderAction("SubMenu", new { ParentMenuID = curMenu.ID });}
                    </li>

                                }
                            }
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
