﻿@model System.Collections.Generic.List<WebMMO.Core.DomainModels.Menu.MenuDto>
<ul class="nav child_menu">
    @if (Model.Count > 0)
    {
        foreach (var curMenu in Model.OrderBy(c => c.Seq))
        {
            string strName = "";
            var languages = Session["CurrentCulture"] == null ? 0 : (int)Session["CurrentCulture"];
            if (languages == 0)
            {
                strName = curMenu.Name;
            }
            else
            {
                strName = curMenu.JpName;
            }

            if (Request.ApplicationPath != "/")
            {
                <li><a href="@Request.ApplicationPath/@curMenu.Link" class="link">@strName</a></li>
            }
            else
            {
                <li><a href="/@curMenu.Link" class="link">@strName</a></li>
            }
        }
    }
</ul>
