﻿@model WebMMO.Web.Areas.CustomerKey.Models.AccessTokenUserModels
@{
    ViewBag.Title = "Tạo key cho khách hàng";
}
<script>

    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: []
        });
    });

    function submitVaildate() {
        $.validator.unobtrusive.parse($('#formaction'));
        var valid = $('#formaction').valid();
        if (!valid) {
            return false;
        } else {
            $("#formaction").submit();
        }
        return false;
    };
</script>
<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Tạo key cho khách hàng</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        @using (Html.BeginForm("AddAndEdit", "ManageKey", new { Area = "CustomerKey" }, FormMethod.Post, new { id = "formaction", @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.Status)


                            <div class="form-horizontal">
                                <div class="row">
                                    <table border="0" cellpadding="0" cellspacing="0" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="col01">@Html.LabelFor(m => m.AccessToken)<span class="txtManAsterik"> *</span></td>
                                                <td class="col02" colspan="3">
                                                    @Html.EditorFor(model => model.AccessToken, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.AccessToken, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="col01">@Html.LabelFor(m => m.BalanceMoney)<span class="txtManAsterik"> *</span></td>
                                                <td class="col02" colspan="3">
                                                    @Html.EditorFor(model => model.BalanceMoney, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BalanceMoney, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid"></div>
                                @Html.ActionLink("Quay lại quản lý", "", "ManageKey", new { Area = "CustomerKey" }, new { @class = "btn btn-round btn-primary pull-left" })
                                <button type="button" id="btnSubmit" onclick="return submitVaildate();" class="btn btn-round btn-primary pull-right">
                                    Lưu
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

