﻿@model WebMMO.Web.Areas.SshManage.Models.SShImportModels

@{
    ViewBag.Title = "SSH Import";
}
<script>

    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: []
        });
    });

    function CopyMe(oFileInput, sTargetID) {
        var arrTemp = oFileInput.value.split('\\');
        document.getElementById(sTargetID).value = arrTemp[arrTemp.length - 1];
    }

    function submitVaildate() {
        $.validator.unobtrusive.parse($('#formaction'));
        var valid = $('#formaction').valid();
        if (!valid) {
            return false;
        } else {
            $("#formaction").submit();
        }
        return false;
    };

</script>
<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>SSH Import</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">

                        @using (Html.BeginForm("ImportSSH", "ManageSSH", new { Area = "SshManage" }, FormMethod.Post, new { id = "formaction", @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-btn">
                                            <span class="btn btn-success input-sm">
                                                Browse… <input class="class_image" name="FileUploads" type="file" id="FileUploads"  style="display: none;" onchange="CopyMe(this,'inputimage')">
                                            </span>
                                        </label>
                                        <input type="text" id="inputimage" class="form-control input-sm" readonly="readonly">
                                    </div>'
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid"></div>
                                @Html.ActionLink("Quay lại quản lý", "", "ManageSSH", new { Area = "SshManage" }, new { @class = "btn btn-round btn-primary pull-left" })
                                <button type="button" id="btnSubmit" onclick="return submitVaildate();" class="btn btn-round btn-primary pull-right">
                                    Lưu
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
