﻿@{
    ViewBag.Title = "Manage Images System";
}

<script type="text/javascript">

    $(document).ready(function () {

        var table = $('#resultDatabase').DataTable({
            dom: 'l<"toolbar">frtip',
            "responsive": {
                "details": true
            },
            "processing": true,
            "serverSide": true,
            "stateSave": false,
            "paging": true,
            "searching": false,
            "order": [[1, "desc"]],
            "ajax": {
                "url": "@Url.Action("ManageSSHSearch", "ManageSSH", new { Area= "SshManage" })",
                "type": "GET",
                "data": function (d) {

                },
                "dataSrc": function (res) {
                    var count = res.recordsTotal;
                    var htmlShow = 'Tổng ' + count + ' tìm thây';
                    $("#idShowTotal").text(htmlShow);
                    return res.data;
                }

            },
            "columns": [
                { "data": "Id", "orderable": false },
                { "data": "username", "orderable": false },
                { "data": "password", "orderable": false },
                { "data": "IpAddress", "orderable": false },
                { "data": "CountryCode", "orderable": false },
                { "data": "Id", "orderable": false }
            ],
            "createdRow": function (row, data, index) {

            },
            'columnDefs': [
                {
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        var idSearch = full.ID;
                        var htmlReturn = '<input type="checkbox" class="dt-body-center checkboxgroup" value="' + $('<div/>').text(idSearch).html() + '" id="cb_' + $('<div/>').text(idSearch).html() + '" onclick="SelectListID(cb_' + $('<div/>').text(idSearch).html() + ')">';
                        return htmlReturn;
                    }
                },
                {
                    targets: 5,
                    "render": function (data, type, full, meta) {

                        var htmlReturn = ' <div class="btn-group">';

                        htmlReturn = htmlReturn + '</div>';
                        return htmlReturn;
                    }
                }

            ],

            //initComplete: function () {
            //    $("div.toolbar")
            //       .html('<button type="button" id="batch_activated" class="btn btn-round btn-success" onclick="fVerifiedPlaceBatch(1)">Batch Approve</button>' +
            //            '<button type="button" id="batch_disapprove" class="btn btn-round btn-danger" onclick="fVerifiedPlaceBatch(0)">Batch Disapprove</button>');
            //}

        });

        $('#btnSubmit').click(function () {

            table.draw();
            //table.ajax.reload(null, false);
            return false;
        });
    });

</script>

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản lý SSH</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top-main-button">
                    <div class="input-group">
                        @Html.ActionLink("Import SSH", "ImportSSH", "ManageSSH", new { Area = "SshManage" }, new { @class = "btn btn-round btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tìm kiếm</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid">
                                </div>
                                <input id="btnSubmit" type="submit" value="Tìm kiếm" class="btn btn-round btn-primary pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Kết quả <small id="idShowTotal"></small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        <table id="resultDatabase" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" onclick="CheckAll(this.value)" class="dt-body-center" id="cb_All" />
                                    </th>
                                    <th>
                                        username
                                    </th>
                                    <th>
                                        password
                                    </th>
                                    <th>
                                        ip address
                                    </th>
                                    <th>
                                        country code
                                    </th>

                                    <th class="text-center">
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dvQuestionModal" tabindex="-1" role="dialog" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="dvTitleShow"></h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row text-center" id="idRemarks">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnSubmitDisApprolval" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

