﻿<!-- Bootstrap -->
<script src="@Url.Content("~/Content/v2.0/vendors/bootstrap/dist/js/bootstrap.min.js")" type="text/javascript"></script>

<!-- Datatables -->
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net/js/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-buttons/js/dataTables.buttons.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-buttons/js/buttons.flash.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-buttons/js/buttons.html5.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-buttons/js/buttons.print.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-responsive/js/dataTables.responsive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-scroller/js/datatables.scroller.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-scroller/js/dataTables.scroller.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js")" type="text/javascript"></script>
<!-- Custom Theme Scripts -->
<script src="@Url.Content("~/Content/v2.0/build/js/custom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/bootstrap-dropdownhover/bootstrap-dropdownhover.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>