﻿<script src="@Url.Content("~/Scripts/jquery/1.9.0/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/1.9.0/jquery-ui.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<!-- bootstrap-daterangepicker -->

<script src="@Url.Content("~/Content/v2.0/js/datepicker/daterangepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/jquery.areyousure/jquery.are-you-sure.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/timepicker/jquery.timepicker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/dataTables.fixedColumns.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/select2/3.4.1/select2.js")" type="text/javascript"></script>

<!-- FullCalendar -->
<script src="@Url.Content("~/Content/v2.0/vendors/moment/min/moment.min.js")"></script>
<script src="@Url.Content("~/Content/v2.0/vendors/fullcalendar/dist/fullcalendar.min.js")"></script>


