﻿<!-- Bootstrap -->

<link href="@Url.Content("~/Content/v2.0/vendors/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
<!-- Font Awesome -->
<link href="@Url.Content("~/Content/v2.0/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" />

<link href="@Url.Content("~/Scripts/select2/3.4.1/select2.css")" rel="stylesheet" type="text/css" />

<!-- bootstrap-progressbar -->
<link href="@Url.Content("~/Content/v2.0/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css")" rel="stylesheet" />
<!-- Datatables -->

<link href="@Url.Content("~/Content/v2.0/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/v2.0/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/v2.0/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/v2.0/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/v2.0/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/v2.0/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<!-- Custom Theme Style -->
<link href="@Url.Content("~/Content/v2.0/build/css/custom.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/v2.0/build/css/custom2.css")" rel="stylesheet" />

<!-- Date Picker Style -->
<link href="@Url.Content("~/Content/v2.0/css/daterangepicker.css")" rel="stylesheet" />

<!-- FullCalendar -->
<link href="@Url.Content("~/Content/v2.0/vendors/fullcalendar/dist/fullcalendar.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/v2.0/vendors/fullcalendar/dist/fullcalendar.print.css")" rel="stylesheet" media="print" />

<!-- Time Picker Style -->
<link href="@Url.Content("~/Content/v2.0/vendors/timepicker/jquery.timepicker.css")" rel="stylesheet" />
