﻿@using System.Web.Mvc.Html

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>
   
    <!-- Header Css -->
    @Html.Partial("_HeaderCss")

    <!-- Header Script -->
    @Html.Partial("_HeaderScript")

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Dashboard",new { area = "Home" })">@*<img src="@Url.Content("~/Content/v2.0/images/logo-meembar-big.png")" class="logo-img">*@<span>Base<br />CMS System</span></a>
                    </div>

                    <div class="clearfix"></div>

                    @*@{Html.RenderAction("MenuList", "Menu", new { area = "Home" });}*@
                    
                    @Html.Action("MenuList", "Menu", new { area = "Home" })

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @if (ViewBag.CurrentLoginUser != null && ViewBag.CurrentLoginUser.Photo != null)
                                    {
                                        <img src="data:image/png;base64,@Convert.ToBase64String(ViewBag.CurrentLoginUser.Photo)" alt="" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/images/nophoto.png")" alt="" />
                                    }


                                    @*@string.Format("{0} {1}", ViewBag.CurrentLoginUser.FirstName, ViewBag.CurrentLoginUser.LastName)*@

                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>@Html.ActionLink("Account Profile", "EditMyProfile", "User", new { area = "Admin" }, new { @tabindex = "-1" })</li>
                                    <li>@Html.ActionLink("Change Password", "ChangePassword", "User", new { area = "Admin" }, new { @tabindex = "-1" })</li>
                                    @*@if (ViewBag.CurrentLoginRole.Name == ConfigHelpers.UserroleCeo)
                                        {
                                            <li>@Html.ActionLink("Subscription", "SubscriptionInfo", "Subscription", null, new { @tabindex = "-1" })</li>
                                        }*@
                                    <li><a href="javascript:;">Help</a></li>
                                    <li>
                                        @Html.ActionLink("Logout", "Logout", "Account", new { area = "Home" }, new
                                   {

                                       @tabindex = "-1"
                                   })
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->

            @if (IsSectionDefined("LeftContentSearchCategory"))
            {
                <div>
                    @if (IsSectionDefined("LeftContentSearchCategory"))
                {
                        <div>
                            @RenderSection("LeftContentSearchCategory")
                        </div>
                    }
                    <div class="cb_content">
                        @RenderBody()
                    </div>
                </div>
            }
            else if (IsSectionDefined("LeftContent") || IsSectionDefined("RightContent"))
            {
                <div>
                    @if (IsSectionDefined("LeftContent"))
                {
                        @RenderSection("LeftContent")
                    }
                    <div class="cb_content">
                        @RenderBody()
                    </div>
                    @if (IsSectionDefined("RightContent"))
                {
                        <div>
                            @RenderSection("RightContent")
                        </div>
                    }
                    <div class="clear">
                    </div>
                </div>
            }
            else if (IsSectionDefined("DashBoardContent"))
            {
                <div>
                    @RenderSection("DashBoardContent")
                    @RenderBody()
                </div>
            }
            else
            {
                <div class="cb_content">
                    @RenderBody()
                </div>
            }



            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    xxxxxxxxxxx.Copyright &copy; @DateTime.Now.Year xxxxxxxxxxx.AllRightsReserved
                    <br>
                    <span class="version pull-right">Version: 1.0.10.10</span>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- Footer script -->
    @Html.Partial("_FooterScript")


</body>
</html>
