﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <title>System CMS » User Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/v2.0/vendors/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/v2.0/vendors/bootstrap-dropdownhover/animate.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/v2.0/vendors/bootstrap-dropdownhover/bootstrap-dropdownhover.min.css")" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="@Url.Content("~/Content/v2.0/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    
    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Content/v2.0/build/css/custom4.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/v2.0/build/css/hfa-guest-style.css")" rel="stylesheet" />

    <!-- Jquery -->
    <script src="@Url.Content("~/Content/v2.0/vendors/jquery/dist/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/v2.0/vendors/jquery.areyousure/jquery.are-you-sure.js")" type="text/javascript"></script>

</head>

<body>
    <!-- top navigation -->
    <nav class="navbar top-header-bg">
        <div class="container-fluid">


            <div class="row hfa-top-header">
                <div class="col-md-6">
                    <div class="hfa-phone">Call +44 (0) 208 4467 127 &nbsp;|&nbsp; info@base.com</div>
                </div>
                <div class="col-md-6">
                    <div class="fusion-social-links-header">
                        <div class="fusion-social-networks boxed-icons pull-right">
                            <a target="_blank" href="https://www.facebook.com" data-placement="bottom" data-title="Facebook" data-toggle="tooltip" title="Facebook" data-original-title="Facebook">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x facebook-icon"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a target="_blank" href="https://twitter.com" data-placement="bottom" data-title="Twitter" data-toggle="tooltip" title="Twitter" data-original-title="Twitter">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x twitter-icon"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>

                            </a>
                            <a target="_blank" href="https://www.youtube.com" data-placement="bottom" data-title="Youtube" data-toggle="tooltip" title="Youtube" data-original-title="Youtube">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x youtube-icon"></i>
                                    <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a target="_blank" href="#" data-placement="bottom" data-title="LinkedIn" data-toggle="tooltip" title="LinkedIn" data-original-title="LinkedIn">
                                <span class="fa-stack fa-lg" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x linkedin-icon"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <header>
                <div class="container-fluid clearfix">
                    <div id="logo">
                        <a href="@Url.Action("Index", "Account", new { Areas = "Home" })">
                            @*<img src="@Url.Content("~/Content/v2.0/images/logo-meembar-small.png")" alt="System CMS" class="normal_logo" width="45px" height="45px" />*@
                            <span>System CMS</span>
                        </a>
                        <style>
                            a:hover {
                                color: green;
                            }
                        </style>
                    </div>

                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="bounceInUp fadeInLeft fadeInUp fadeInRight">
                    </div>

                </div>
            </header><!-- /header -->



        </div>
    </nav>
    <!-- /top navigation -->

    @RenderBody()


    <!-- footer content -->
    <footer>
        <div class="container-fluid text-left">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <br /><br />
                        Copyright &copy; @DateTime.Now.Year All Rights Reserved
                        <br />
                    </div>
                    <div class="col-md-6">
                        <div class="social-container-footer pull-right">
                            <a target="_blank" href="https://web.facebook.com" data-placement="bottom" data-title="Facebook" data-toggle="tooltip" title="Facebook" data-original-title="Facebook">
                                <i class="fa fa-facebook fa-1x fa-inverse"></i>
                            </a>
                            <a target="_blank" href="https://twitter.com" data-placement="bottom" data-title="Facebook" data-toggle="tooltip" title="Facebook" data-original-title="Facebook">
                                <i class="fa fa-twitter fa-1x fa-inverse"></i>
                            </a>
                            <a target="_blank" href="https://www.instagram.com" data-placement="bottom" data-title="Facebook" data-toggle="tooltip" title="Facebook" data-original-title="Facebook">
                                <i class="fa fa-instagram fa-1x fa-inverse"></i>
                            </a>
                            <a target="_blank" href="https://www.youtube.com" data-placement="bottom" data-title="Facebook" data-toggle="tooltip" title="Facebook" data-original-title="Facebook">
                                <i class="fa fa-play fa-1x fa-inverse"></i>
                            </a>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- /footer content -->
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Content/v2.0/vendors/bootstrap/dist/js/bootstrap.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/v2.0/vendors/bootstrap-dropdownhover/bootstrap-dropdownhover.min.js")" type="text/javascript"></script>
</body>
</html>
