﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hệ thống quản lý gmail khách hàng</title>
    <!-- Custom fonts for this template-->
    <link href="~/Content/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">   
    <!-- Page Wrapper -->
    <div id="wrapper">        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            @RenderBody()
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; @DateTime.Now.Year All Rights Reserved</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
  
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/sbadmin/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="~/Content/sbadmin/vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Content/sbadmin/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/sbadmin/js/demo/chart-pie-demo.js"></script>
</body>
</html>
