﻿<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SYSTEM</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("","DevicesAdsMod",new { Area ="StaticsSystem"})">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Devices AdsMod</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("","RegGmail",new { Area ="StaticsSystem"})">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Devices Reg Email</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
</ul>