﻿@model WebMMO.Web.Areas.AppSystems.Models.AppPermissionModel
@{
    ViewBag.Title = "Add and Edit App Permission";
}

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: []
        });
    });

    function submitVaildate() {
        $.validator.unobtrusive.parse($('#formaction'));
        var valid = $('#formaction').valid();
        if (!valid) {
            return false;
        } else {
            $("#formaction").submit();
        }
        return false;
    };


</script>


<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Add And Edit AppPermission</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        @using (Html.BeginForm("AddAndEdit", "AppPermission", new { Area = "AppSystems" }, FormMethod.Post, new { id = "formaction", @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.Guid)

                            <div class="form-horizontal">
                                <div class="row">
                                    <table border="0" cellpadding="0" cellspacing="0" class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="col01">@Html.LabelFor(m => m.AppName)<span class="txtManAsterik"> *</span></td>
                                                <td class="col02" colspan="3">
                                                    @Html.EditorFor(model => model.AppName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.AppName, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col01">@Html.LabelFor(m => m.AppPackage)<span class="txtManAsterik"> *</span></td>
                                                <td class="col02" colspan="3">
                                                    @Html.EditorFor(model => model.AppPackage, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.AppPackage, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col01">Chọn categories</td>
                                                <td class="col02" colspan="3">
                                                    <table>
                                                        @for (int i = 0; i < Model.LstCategoriesSelect.Count; i++)
                                                        {
                                                            if (i % 3 == 0)
                                                            {
                                                                @:
                                                                <tr></tr>
                                                            }
                                                            <td>
                                                                @Html.CheckBoxFor(model => model.LstCategoriesSelect[i].IsSelected)
                                                                <label style="padding-right:15px;">
                                                                    @Model.LstCategoriesSelect[i].CategoriesName 
                                                                </label>
                                                                @Html.ValidationMessageFor(model => model.LstCategoriesSelect[i].IsSelected, "", new { @class = "text-danger" })
                                                                @Html.ValidationMessageFor(model => model.LstCategoriesSelect[i].CategoriesName, "", new { @class = "text-danger" })
                                                                @Html.HiddenFor(model => model.LstCategoriesSelect[i].ID)
                                                                @Html.ValidationMessageFor(model => model.LstCategoriesSelect[i].ID, "", new { @class = "text-danger" })
                                                                @Html.HiddenFor(model => model.LstCategoriesSelect[i].CategoriesName)
                                                                @Html.ValidationMessageFor(model => model.LstCategoriesSelect[i].CategoriesName, "", new { @class = "text-danger" })
                                                            </td>
                                                        }
                                                        @*@Html.ValidationMessageFor(model => model.LstCategoriesSelect, "", new { @class = "text-danger" })*@
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid"></div>
                                @Html.ActionLink("Quay lại quản lý", "", "Categories", new { Area = "WebMMO" }, new { @class = "btn btn-round btn-primary pull-left" })
                                <button type="button" id="btnSubmit" onclick="return submitVaildate();" class="btn btn-round btn-primary pull-right">
                                    Lưu
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
