﻿
@{
    ViewBag.Title = "Base CMS » Change Password";
}

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Change Password</h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br />
                        <p>Your password was updated successfully.</p>
                        <p>You will need to use your new password to login to the system from now on.</p>
                        @Html.ActionLink("Back To Dashboard", "Index", "Dashboard", new { area = "Home" }, new { @class = "btn btn-round btn-primary pull-right" })
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
