﻿@model WebMMO.Web.Areas.Admin.Models.ChangePasswordForm

@{
    ViewBag.Title = "Base CMS » My Profile » Change Password";
}

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Change Password</h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Enter the current password and new password below</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)

                            if ((bool)ViewBag.HasCurrentPassword)
                            {

                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                            @Html.LabelFor(m => m.CurrentPassword)<span class="txtManAsterik">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-9 col-xs-12">
                                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", @size = 20, @maxlength = 100 })
                                            @Html.ValidationMessageFor(m => m.CurrentPassword, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                </div>

                            }

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        @Html.LabelFor(m => m.Password)<span class="txtManAsterik">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @size = 20, @maxlength = 100 })
                                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "txtNormalRed" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        @Html.LabelFor(m => m.ConfirmPassword)<span class="txtManAsterik">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @size = 20, @maxlength = 100 })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "txtNormalRed" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <br /><br />
                                    <span class="txtManAsterik">*</span> This is the mandatory field<br />
                                    <div class="ln_solid"></div>

                                    <input id="btnSubmit" type="submit" value="Update" class="btn btn-round btn-primary pull-right" />
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

