﻿@model WebMMO.Web.Areas.Admin.Models.UserChangePasswordForm

@{
    ViewBag.Title = "Base CMS » User » Edit User Password ";
}

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>EditUser</h3>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Fill in the user details below</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.ValidationSummary(true)
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        @Html.LabelFor(m => m.Password)<span class="txtManAsterik">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @size = 20, @maxlength = 100 })
                                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "txtNormalRed" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">
                                        @Html.LabelFor(m => m.ConfirmPassword)<span class="txtManAsterik">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @size = 20, @maxlength = 100 })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "txtNormalRed" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ln_solid">
                                    </div>
                                    @Html.ActionLink("Back To ManageUsers", "ManageCbUser", "User", new { area = "Admin" }, new { @class = "btn btn-round btn-primary pull-left" })
                                    <input id="btnSubmit" name="submitButton" type="submit" value="Submit" class="btn btn-round btn-primary pull-right" />
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.ID)
                            @Html.HiddenFor(m => m.EmailAddress)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
