﻿@model WebMMO.Core.DomainModels.User.UserDto

@{
    ViewBag.Title = "Meembar CMS » My Profile » My Account";
}

<script>
    $(document).ready(function () {

        $('#ChangePhoto').click(function () {

            $('#UploadPhoto').show();
            $('#ChangePhoto').hide();
        });

        $('#btnRemoveLogo').click(OnRemoveLogo);
    });

    function OnRemoveLogo(e) {
        var result = confirm('Are you sure you want to remove your photo?');
        return result;
    }

</script>


<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Account Profile</h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Update your profile below</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        @using (Html.BeginForm("EditMyProfile", "User", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.ValidationSummary(true)

                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Photo
                                    </label>


                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="profile_img">

                                                    @if (Model.Photo != null)
                                                    {
                                                        <img src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" alt="Profile Photo" width="100" />
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content("~/Content/images/noImageAvailable.png")" alt="No profile photo available" width="100" height="100" />
                                                    }

                                                </div>
                                                
                                            </div>
                                            <div class="col-md-9 col-sm-6 col-xs-12">
                                                <br /><br />
                                                <div class="input-group">
                                                    <input type="text" class="form-control" readonly="readonly" id="uploadFileLogo" />
                                                    <label class="input-group-btn">

                                                        <span class="btn btn-default">
                                                            <i class="fa fa-folder-open-o" aria-hidden="true"></i><input id="flLogo" name="photoFile" type="file" style="display: none;" multiple="" onchange="CopyMe(this, 'uploadFileLogo');" />
                                                        </span>
                                                        @if (Model.Photo != null)
                                                        {
                                                            <a class="btn btn-default" href="@Url.Action("RemovePhoto")" id="btnRemoveLogo">Remove</a>
                                                        }
                                                    </label>

                                                    <script type="text/javascript">
                                                        function CopyMe(oFileInput, sTargetID) {
                                                            var arrTemp = oFileInput.value.split('\\');
                                                            document.getElementById(sTargetID).value = arrTemp[arrTemp.length - 1];
                                                        }
                                                    </script>
                                                </div>
                                                <em class="txtNormalGrey">MustbeinJPGorPNGformatMaxsizeis500KB</em><br />
                                                @Html.ValidationMessageFor(m => m.Photo, null, new { @class = "txtNormalRed" })
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Email <span class="txtManAsterik">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @size = 40, @maxlength = 40, @readonly = "readonly" })
                                        @Html.HiddenFor(m => m.EmailAddress)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        FirstName <span class="txtManAsterik">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @size = 40, @maxlength = 40 })
                                        @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "txtNormalRed" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        LastName <span class="txtManAsterik">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @size = 40, @maxlength = 40 })
                                        @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "txtNormalRed" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <br /><br />
                                        <span class="txtManAsterik">*</span> Thisisthemandatoryfield<br />
                                        <div class="ln_solid"></div>
                                        <input id="btnSubmit" type="submit" value="Update" class="btn btn-round btn-primary pull-right" />
                                    </div>
                                </div>
                            </div>

                            @Html.HiddenFor(m => m.Photo)

                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>