﻿@model WebMMO.Core.DomainModels.User.UserDto

@{
    ViewBag.Title = "Base CMS » User » Edit User ";
}

<script>
    $(document).ready(function () {
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });

        $('#btnChangeRole').click(ChangeRole);
        $('#btnUpdateRole').click(UpdateRole);

        $('#CountryID').change(function () {
            $.getJSON('@Url.Action("ListStates", "User")?CountryID=' + $('#CountryID').val(),
                function (data) {
                    $("#StateID").empty().append('<option selected="selected" value="">-- SELECT --</option>');

                    $.each(data, function (index, optionData) {
                        $("#StateID").append('<option value="' + optionData.value + '">' + optionData.label + '</option>');
                    });

                    if (data.length > 0) {
                        $("#StateID").show();
                        $("#StateID").focus();
                    }
                    else {
                        $("#StateID").hide();
                    }
                }
            );
        });
    });

    function ChangeRole() {
        $.get('@Url.Action("SelectListRoles", "User", new { UserID = Model.ID })',
            function (data) {
                $('#pnlRoleList').html(data);
                $('#SelectRolesModal').modal("toggle");
            });

    }

    function UpdateRole() {
        $.post($('#frmRoles')[0].action, $('#frmRoles').serialize(),
                function (data) {
                    $('#pnlRoleDisplay').html(data);
                    $('#SelectRolesModal').modal("toggle");
                });

    }
</script>
<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>EditUser</h3>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Fill in the user details below</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm("EditCbUser", "User", FormMethod.Post, new { area="Admin", id = "form", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.ValidationSummary(true)
                           
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(m => m.EmailAddress)</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Model.EmailAddress
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">UserRole</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @*<div id="pnlRoleDisplay" class="col-md-5 col-sm-5 col-xs-12">@Model.getRoles</div>*@
                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                @if (ViewBag.CanEditRole == 1)
                                                {
                                                    <a href="#" id="btnChangeRole" class="btn btn-round btn-primary">Change Role</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            @Html.LabelFor(m => m.FirstName)<span class="txtManAsterik">*</span>
                                        </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @size = 40, @maxlength = 100 })
                                            <br />
                                            @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(m => m.ContactNumber)</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", @size = 40, @maxlength = 50 })
                                            <br />
                                            @Html.ValidationMessageFor(m => m.ContactNumber, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(m => m.LastName)</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @size = 40, @maxlength = 100 })
                                            <br />
                                            @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ln_solid">
                                    </div>
                                    @Html.ActionLink("Back To ManageUsers", "ManageCbUser", "User", null, new { @class = "btn btn-round btn-primary pull-left" })
                                    <input id="btnSubmit" name="submitButton" type="submit" value="Submit" class="btn btn-round btn-primary pull-right" />
                                    @if (Model.IsActive != null && (bool)Model.IsActive)
                                    {
                                        <input name="submitButton" type="submit" value="Disable" class="btn btn-round btn-primary pull-right" />
                                    }
                                    else
                                    {
                                        <input name="submitButton" type="submit" value="Enable" class="btn btn-round btn-primary pull-right" />
                                    };
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.ID)
                            @Html.HiddenFor(m => m.OrganizationID)
                            @Html.HiddenFor(m => m.EmailAddress)
                            @Html.HiddenFor(m => m.Password)
                            @Html.HiddenFor(m => m.IsActive)
                            @Html.HiddenFor(m => m.DateCreated)
                            @Html.HiddenFor(m => m.DateModified)
                            @Html.HiddenFor(m => m.LastLoginDate)
                            @Html.HiddenFor(m => m.Photo)
                            @Html.HiddenFor(m => m.CreatedByUserID)
                            @Html.HiddenFor(m => m.ModifiedByUserID)         }
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="SelectRolesModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title">
                            Select roles
                        </h4>
                    </div>
                    @using (Html.BeginForm("SelectListRoles", "User", FormMethod.Post, new { area = "Admin", id = "frmRoles" }))
                    {
                        <div class="modal-body" id="pnlRoleList">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary" id="btnUpdateRole">
                                Submit
                            </button>
                        </div>
                        @Html.Hidden("UserID", Model.ID)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
