﻿
@{
    ViewBag.Title = "Base CMS » User » Account";
}

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Account Profile</h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <h2>Your profile was updated successfully.</h2>
                        Your profile information will be only used to personalize your user experience and for our internal communication purpose.
                        <br />@Html.ActionLink("Back To Home", "Index", "Dashboard", new { area = "Home" }, new { @class = "btn btn-primary" })

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
