﻿@using WebMMO.Common.Helpes
@model WebMMO.Web.Areas.Admin.Models.UserFilterForm

@{
    ViewBag.Title = "Meembar CMS » User » Manage User";
}
<script>
    $(document).ready(function () {
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });

    });
</script>

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>Manage Users</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top-main-button">
                    <div class="input-group">
                        @Html.ActionLink("AddUser", "NewCbUser", "User", new { area = "Admin" }, new { @class = "btn btn-round btn-primary" })

                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>SearchUsers</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">@Html.LabelFor(s => s.Name)</label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        @Html.TextBoxFor(s => s.Name, new { @class = "form-control col-md-10", @size = 40, @maxlength = 60 })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">@Html.LabelFor(s => s.Status)</label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        @Html.DropDownListFor(m => m.Status, ViewBag.Statuses as SelectList, "-- ALL --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">@Html.LabelFor(s => s.RoleID)</label>
                                    <div class="col-md-8 col-sm-9 col-xs-12">
                                        @Html.DropDownListFor(m => m.RoleID, ViewBag.Roles as SelectList, "-- ALL --", new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ln_solid"></div>
                                <input id="btnSubmit" type="submit" value="Search" class="btn btn-round btn-primary pull-right" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Search Results <small>Total xxx User found.</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>EmailAddress</th>
                                    <th>FullName</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th class="action-col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < ViewBag.DataList.Count; ++i)
                                {
                                    var curUser = ViewBag.DataList[i];
                                    <tr class="@(i % 2 != 0 ? "tblRowOdd" : "tblRowEven")">
                                        <td><a href="mailto:@curUser.EmailAddress" class="linkText">@curUser.EmailAddress</a></td>
                                        <td>@curUser.FirstName&nbsp;@curUser.LastName</td>
                                        <td>@curUser.RoleName</td>
                                        <td>@(curUser.IsActive == true ? "Enabled" : "Disabled")</td>
                                        <td class="action-col">
                                            <a href="@Url.Action("EditCbUser", "User", new {area="Admin", id = curUser.ID })" class="btn btn-default btn-xs" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Edit"> <i class="fa fa-edit" aria-hidden="true"></i></a>
                                            <a href="@Url.Action("EditCbUserPassword", "User", new { area="Admin", id = curUser.ID })" class="btn btn-default btn-xs" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Edit Password"> <i class="fa fa-exchange" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>