﻿@model WebMMO.Core.DomainModels.User.UserDto

@{
    ViewBag.Title = "Base CMS » User » New User ";
}
<script>
    $(document).ready(function () {
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });

        $('#CountryID').change(function () {
            $.getJSON('@Url.Action("ListStates", "User", new {area="Admin"})?CountryID=' + $('#CountryID').val(),
                function (data) {
                    $("#StateID").empty().append('<option selected="selected" value="">-- SELECT --</option>');

                    $.each(data, function (index, optionData) {
                        $("#StateID").append('<option value="' + optionData.value + '">' + optionData.label + '</option>');
                    });

                    if (data.length > 0) {
                        $("#StateID").show();
                        $("#StateID").focus();
                    }
                    else {
                        $("#StateID").hide();
                    }
                }
            );
        });
    });
</script>

<div class="right_col" role="main">
    <div class="content-padding">
        <div class="page-title">
            <div class="title_left">
                <h3>NewUser</h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Fillintheuserdetailsbelow</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm("NewCbUser", "User", new { area = "Admin" }, FormMethod.Post, new { id = "form", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.ValidationSummary(true)
                            <br /><br />

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(m => m.EmailAddress)<span class="txtManAsterik"> *</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @size = 40, @maxlength = 255 })

                                            @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "txtNormalRed" })
                                            <i>Note</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">UserRole<span class="txtManAsterik"> *</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.DropDownList("RoleID", ViewBag.UserTypes as SelectList, null, new { @class = "form-control" })

                                            @Html.ValidationMessage("RoleID", null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(m => m.FirstName)<span class="txtManAsterik"> *</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @size = 40, @maxlength = 100 })

                                            @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(m => m.ContactNumber)</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", @size = 40, @maxlength = 50 })

                                            @Html.ValidationMessageFor(m => m.ContactNumber, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(m => m.LastName)</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @size = 40, @maxlength = 100 })
                                            <br />
                                            @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "txtNormalRed" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <br /><br />
                                    <span class="txtManAsterik">*</span> Thisisthemandatoryfield<br />
                                    <div class="ln_solid"></div>
                                    @Html.ActionLink("Back To ManageUsers", "ManageCbUser", "User", new { area = "Admin" }, new { @class = "btn btn-round btn-primary pull-left" })
                                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-round btn-primary pull-right" />
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.OrganizationID)}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
