﻿@model System.Collections.Generic.List<WebMMO.Web.Areas.Admin.Models.UserRoleResult>
<table id="product-datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Select</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curRole in Model)
        {
            <tr>
                <td>@curRole.RoleName</td>
                <td>
                    <input id="SelectedRole-@curRole.RoleID" name="SelectedRole" type="checkbox" value="@curRole.RoleID" @(curRole.RoleSelected == true ? "checked" : "") />
                </td>
            </tr>

        }
    </tbody>
</table>
